DEV Skywide Content (Word Count Fix) PRE-LAYOUT-2026-06-08T11-14-18.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Trigger\n\nSkywide Content Request Form",
        "height": 300,
        "width": 392,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        524208,
        111536
      ],
      "typeVersion": 1,
      "id": "91c04445-efaa-4b20-a08e-8c82744b7724",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "The webhook connects to "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        524816,
        111984
      ],
      "typeVersion": 1,
      "id": "a244c957-b740-49cd-bc15-bd1f553125a3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-engine-dev",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        523632,
        113424
      ],
      "id": "fff10ece-82ba-4695-b1df-35c3759a6b59",
      "name": "Webhook1",
      "webhookId": "c9d7ab2c-298f-4b57-be8e-235a1c25f1ef"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Webhook1').first().json.body.title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1h7-ILBh46Ir9_dezJa8sSBEN7bdNp7Dj",
          "mode": "list",
          "cachedResultName": "Skywide",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1h7-ILBh46Ir9_dezJa8sSBEN7bdNp7Dj"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        526128,
        113424
      ],
      "id": "b723af07-4ef2-4370-8951-e02ed2a14485",
      "name": "Create folder1",
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QA8H93TRMPzpKcJ2",
          "name": "Google Drive account"
        }
      },
      "notes": "Create G-Drive Folder"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "You are a Research Analyst. Your ONLY job is to search the web for missing facts, outdated data, and research gaps in a content brief — then return a structured supplement report. You do NOT write, edit, or rewrite articles.\n\n━━━ YOUR ONE JOB ━━━\nRead the draft article below. Find what's missing or could be strengthened with real data. Search for it. Return findings only. Do not touch the article.\n\n━━━ WHAT TO RESEARCH ━━━\n1. Any section that makes a factual claim without a citation — search for a verifiable source\n2. Any statistic in the article — verify it is current (within last 3 years if possible)\n3. Any named regulation or code — confirm it is still current and hasn't been superseded\n4. Any section that is thin on supporting detail — search for 1-2 relevant facts the writer can add\n5. Any named expert, study, or organization — confirm they exist and the attribution is accurate\n\n━━━ OUTPUT FORMAT ━━━\nReturn a structured RESEARCH SUPPLEMENT — do not return the article.\n\n## RESEARCH SUPPLEMENT\n\n### VERIFIED FACTS (confirmed, include source URL)\n- [Fact] | Source: [URL]\n\n### CORRECTIONS NEEDED (article has wrong/outdated info)\n- [What the article says] → [What it should say] | Source: [URL]\n\n### GAPS FOUND (missing facts the writer should add)\n- [Section heading]: [Suggested fact or data point] | Source: [URL] (if found)\n\n### DATA NOT FOUND\n- [Claims searched but no primary source found — these should be written qualitatively]\n\n━━━ HARD RULES ━━━\n• Do NOT rewrite the article or any section of it\n• Do NOT output the full article\n• Do NOT add new content — only report findings\n• If nothing needs correction → state \"No gaps or corrections found\"",
              "role": "system"
            },
            {
              "content": "Article to research and gap-check:\n{{ $('QSI Claims Verification Bouncer').first().json.output || $('QSI Claims Verification Bouncer').first().json.text || $('QSI Claims Verification Bouncer').first().json.message?.content }}\n\nOriginal Brief (for context on what should be covered):\n{{ $('Webhook1').first().json.body.creative_brief }}\n\nReturn the RESEARCH SUPPLEMENT only. Do not rewrite or output the article."
            }
          ]
        },
        "options": {
          "temperature": 0.5,
          "maxTokens": 8000
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        527152,
        113252
      ],
      "id": "fe1b1bea-c4b0-48c2-aef6-46b890f8971c",
      "name": "Data Check & Research Gaps1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "perplexityApi": {
          "id": "iuHSBzk6FDLpyJRT",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nAll recommendations MUST keep the article within this range. If suggesting additions, note what should be condensed to maintain length.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\\n\\n## KEYWORD PRESERVATION (MANDATORY — DO NOT OVERRIDE)\nWhile rewriting or improving, you MUST preserve these keyword placements exactly:\n1. The H1 title MUST still contain: \"{{ $('Webhook1').first().json.body.primary_keywords }}\"\n2. The primary keyword MUST still appear in the first 100 words\n3. At least one H2 MUST still contain the primary keyword or close variation\n4. The final paragraph MUST still reference the primary keyword\n5. Every secondary keyword listed below MUST still appear at least once in the body\n\nDO NOT paraphrase, rephrase, or reorder these keywords. You may improve the\nsentences AROUND them, but the keywords themselves must remain intact.\n\nKeywords to preserve:\n- Primary: {{ $('Webhook1').first().json.body.primary_keywords }}\n- Secondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\n- Semantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# SEO Optimization Analysis\nAnalyze this article for keyword opportunities while preserving the authentic, conversational tone.\n\n## Target Keywords:\n{{ $('Webhook1').first().json.body.primary_keywords }}\n\n## Article to Analyze:\n{{ $json.choices[0].message.content }}\n\n## Core Analysis Required:\n\n### 1. Keyword Integration Assessment\n- Current keyword usage and placement quality\n- Natural opportunities to add target keywords without adding length\n- Missing keyword variations that fit the conversational tone\n\n### 2. Content Gap Analysis  \n- Related topics/questions we should cover for these keywords\n- Missing supporting concepts that strengthen topical authority\n- User intent gaps (what questions aren't we answering?)\n- **Important**: If suggesting new content, specify what to condense to stay within word count\n\n### 3. Structure & Featured Snippet Opportunities\n- H2/H3 headings that could include target keywords naturally\n- Question-based sections for featured snippets\n- List/table formatting opportunities (without adding significant length)\n\n### 4. Critical Tone Preservation\n- Flag any recommendations that might sound forced or corporate\n- Ensure all suggestions maintain the \"friend giving advice\" voice\n- Balance SEO value with authentic helpfulness\n\n## Output Format:\n\n**HIGH PRIORITY** (implement first - word count neutral)\n- [3-4 most important, natural keyword additions or replacements]\n\n**CONTENT ADDITIONS** (only if space allows or paired with cuts)\n- [New sections/topics that would help both SEO and readers]\n- For each addition, suggest what to trim to maintain {{ $('Webhook1').first().json.body.word_count }} words ±10%\n\n**STRUCTURE IMPROVEMENTS** (minimal word count impact)\n- [Heading and formatting suggestions that don't add length]\n\n**TONE PROTECTION WARNINGS**\n- [What to avoid to preserve conversational voice]\n\n## Requirements:\n- Maximum 8-10 total recommendations\n- Prioritize word-count-neutral changes (replacements, not additions)\n- If suggesting additions, specify equal-length cuts to maintain target\n- All suggestions must sound like something a real person would say\n- Focus on user value first, SEO second\n- Flag any recommendation that would push article outside {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words range\n\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n",
        "messages": {
          "messageValues": [
            {
              "message": "\nYou are a senior SEO content strategist with expertise in semantic search, user intent analysis, and Google's ranking factors. Your role is to conduct comprehensive keyword gap analysis and provide strategic optimization recommendations that improve rankings while maintaining content quality and readability.\n\nCRITICAL: The article must remain {{ $('Webhook1').first().json.body.word_count }} words (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). Any recommendations must keep the content within this range.\n\nCurrent date: {{ $now.toISO() }}\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        527600,
        113400
      ],
      "id": "3cf3ad0a-f0e0-4899-b96f-927d37e7fa63",
      "name": "Claude Keyword Check + Semantic Gap1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nWhen implementing recommendations, you MUST keep the article within this range. If adding content, condense or remove other sections to maintain length.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\\n\\n## KEYWORD PRESERVATION (MANDATORY — DO NOT OVERRIDE)\nWhile rewriting or improving, you MUST preserve these keyword placements exactly:\n1. The H1 title MUST still contain: \"{{ $('Webhook1').first().json.body.primary_keywords }}\"\n2. The primary keyword MUST still appear in the first 100 words\n3. At least one H2 MUST still contain the primary keyword or close variation\n4. The final paragraph MUST still reference the primary keyword\n5. Every secondary keyword listed below MUST still appear at least once in the body\n\nDO NOT paraphrase, rephrase, or reorder these keywords. You may improve the\nsentences AROUND them, but the keywords themselves must remain intact.\n\nKeywords to preserve:\n- Primary: {{ $('Webhook1').first().json.body.primary_keywords }}\n- Secondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\n- Semantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# Implementation Task\nApply recommendations from both SEO analyses to optimize this article while maintaining its natural, conversational tone.\n\n## Dual Recommendation Handling:\n- Implement the best suggestions from both analyses\n- When recommendations conflict, prioritize tone preservation AND word count maintenance\n- Combine complementary suggestions for stronger optimization\n- Skip any recommendation that would sound forced, corporate, or break word count\n\n## Integration Priorities:\n1. **High Impact, Natural Fit**: Keywords and topics that enhance content (word-count-neutral swaps preferred)\n2. **Structural Improvements**: Headings and formatting that aid both SEO and readability (minimal length impact)\n3. **Content Additions**: New sections ONLY if:\n   - They add genuine value\n   - You can condense other sections to maintain {{ $('Webhook1').first().json.body.word_count }} words ±10%\n4. **Technical Elements**: Meta improvements within content context\n\n## Quality Standards:\n- All changes must sound like the original author wrote them\n- Preserve the \"friend giving advice\" conversational style\n- Ensure seamless flow between original and new content\n- Never sacrifice authenticity for optimization\n- Maintain word count by making smart edits, not just additions\n\n## Source Materials:\n\n### Original Article:\n{{ $('Data Check & Research Gaps1').first().json.choices[0].message.content }}\n\n### OpenAI SEO Recommendations:\n{{ $json.message.content }}\n\n### Claude SEO Recommendations:  \n{{ $json.text }}\n\n## Before Submitting - MANDATORY VERIFICATION:\n1. Count total words in your optimized article\n2. Is it between {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words?\n   - If NO: Cut fluff or condense sections until within range\n3. Does it still sound like genuine, helpful advice from a knowledgeable friend?\n   - If NO: Revise any corporate-sounding additions\n4. Is {{ $('Webhook1').first().json.body.client_name }} mentioned naturally in the first two sentences?\n   - If NO: Fix the opening\n\n## Output Requirements:\nProvide ONLY the enhanced article. Start with title, end with conclusion. No explanatory text, change summaries, or word count in output\n\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n",
        "messages": {
          "messageValues": [
            {
              "message": "\n━━━ POST-DRAFT FACT-CHECK REPORT (APPLY THESE CORRECTIONS) ━━━\nThe following report was produced by the Post-Draft Fact Checker.\nApply every CORRECTION NEEDED. Remove every ❌ REMOVE item.\nDo NOT add new content beyond what the corrections require.\n\n{{ $('Post-Draft Fact Checker').first().json.choices?.[0]?.message?.content || $('Post-Draft Fact Checker').first().json.text || 'No fact-check report available.' }}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n\nYou are an expert SEO content editor specializing in implementing optimization recommendations while preserving content authenticity and readability. \n\nCRITICAL: The final article MUST be {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). When applying recommendations, maintain this word count by replacing or condensing content, not just adding.\n\nYour role is to seamlessly integrate SEO improvements and factual updates into existing content without compromising the natural human voice or flow.\n\n# Critical Rules\n- The opening paragraph must include {{ $('Webhook1').first().json.body.client_name }} within the first two sentences\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Do not write in the company's voice for {{ $('Webhook1').first().json.body.client_name }} (\"we,\" \"our,\" \"join us\"). Write in second person (\"you\") or neutral third person\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n⚠️ FINAL WORD COUNT CHECK — MANDATORY BEFORE SUBMITTING:\n1. Count every word in your output.\n2. Target: {{ $('Webhook1').first().json.body.word_count }} words (±10% = {{ $('Webhook1').first().json.body.word_count * 0.9 }}–{{ $('Webhook1').first().json.body.word_count * 1.1 }} words).\n3. If you are OVER the limit: remove the least impactful sentences until you are within range.\n4. If you are UNDER: expand a thin section. Do NOT submit outside this range.\n5. DO NOT add this word count check to your output — output only the article.\n"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        528400,
        113252
      ],
      "id": "f0346655-ca4a-4665-a51e-2762a3258c8e",
      "name": "Claude Apply Recommendations1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nWhen adding EEAT signals, maintain word count by condensing other sections. Do not expand the article.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\\n\\n## KEYWORD PRESERVATION (MANDATORY — DO NOT OVERRIDE)\nWhile rewriting or improving, you MUST preserve these keyword placements exactly:\n1. The H1 title MUST still contain: \"{{ $('Webhook1').first().json.body.primary_keywords }}\"\n2. The primary keyword MUST still appear in the first 100 words\n3. At least one H2 MUST still contain the primary keyword or close variation\n4. The final paragraph MUST still reference the primary keyword\n5. Every secondary keyword listed below MUST still appear at least once in the body\n\nDO NOT paraphrase, rephrase, or reorder these keywords. You may improve the\nsentences AROUND them, but the keywords themselves must remain intact.\n\nKeywords to preserve:\n- Primary: {{ $('Webhook1').first().json.body.primary_keywords }}\n- Secondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\n- Semantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# Critical Rules\n- The opening paragraph must include {{ $('Webhook1').first().json.body.client_name }} within the first two sentences\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Write as a NEUTRAL EXPERT about {{ $('Webhook1').first().json.body.client_name }} - never use \"we,\" \"our,\" \"us\" from any company perspective\n- Always use second person (\"you\") or neutral third person\n\n## Objective\nAdd conversational authority signals that maintain the \"friend giving advice\" tone while demonstrating professional expertise through neutral expert perspective.\n\n## Enhancement Framework - Conversational EEAT\n\n### Natural Authority Building (feels like deeper insight)\nTransform generic advice into expert-backed guidance:\n- \"This works...\" → \"Treatment providers specializing in [area] consistently see success when...\"\n- \"You should...\" → \"Based on clinical outcomes documented across [field], the most effective approach is...\"\n- \"It's important...\" → \"Research spanning [timeframe] in [specialty] shows why...\"\n\n### Conversational Expertise Signals\nAdd professional context that sounds natural:\n- Reference common industry methodologies casually\n- Include \"what professionals in [field] have noticed...\" style observations\n- Mention evidence-based approaches without sounding academic\n- Add professional insights that explain the \"why\" behind advice\n\n### Trust Elements with Personality\nMake credibility feel human:\n- \"Look, the data from [source] is pretty clear on this...\"\n- \"Here's what [authoritative org] research shows...\"\n- \"Honestly, professionals who work in [field] will tell you...\"\n- \"The thing is, [X%] of [relevant group] experience...\"\n\n### Adaptable Professional Markers\nCreate fillable authority signals that clients can customize:\n- \"Treatment centers that focus on [specialty] have documented...\"\n- \"Clinical experience across [type of practice] consistently shows...\"\n- \"Evidence-based programs in [field] typically incorporate...\"\n- \"Professional standards from [organization] recommend...\"\n\n## Integration Requirements\n- Keep the conversational, friend-to-friend tone throughout\n- EEAT signals should feel like knowledgeable sharing, not credential-flexing\n- Use natural speech: contractions, varied sentences, casual transitions\n- Add authority through better sourcing and specificity, not formality\n- Every addition must help the reader, not just boost rankings\n- When adding content, condense elsewhere to maintain {{ $('Webhook1').first().json.body.word_count }} words ±10%\n\n## Article to Enhance:\n{{ $json.text }}\n\n## Before Submitting - Quality Checks:\n1. Word count within {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}?\n2. Does this still sound like genuine, helpful advice from someone with professional experience?\n3. {{ $('Webhook1').first().json.body.client_name }} mentioned naturally in first two sentences?\n4. No \"we/our\" from any company perspective?\n5. EEAT enhancements feel natural, not forced or corporate?\n\n## Output Requirements\nProvide ONLY the enhanced article with conversational authority signals. No explanatory text or word count in output.\n\\n\\n\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n",
        "messages": {
          "messageValues": [
            {
              "message": "\nYou are a senior SEO content strategist and copywriter with 10+ years of experience specializing in EEAT optimization for authoritative content.\n\nCRITICAL: The final article MUST remain {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). When adding EEAT elements, condense or replace existing content to maintain length.\n\n# ⛔ EEAT ANTI-HALLUCINATION PROTOCOL (NON-NEGOTIABLE)\n\nYour job is to ENHANCE the existing article with EEAT signals — NOT to invent new facts.\n\nRULE 1 — NO NEW STATISTICS: Do NOT introduce any percentage, number, multiplier, or precision figure that is not already in the article you received. If a statistic would strengthen a point, express it qualitatively instead (e.g. \"many families report...\" not \"67% of families report...\").\n\nRULE 2 — NO INVENTED RESEARCH CITATIONS: Do NOT add phrases like \"research spanning X years\", \"studies show\", \"longitudinal research shows\", \"university autism centers show\", \"clinical data confirms\", or similar unless the specific study/source is already named in the article. Vague authority laundering is worse than no citation.\n\nRULE 3 — NO INVENTED INSTITUTIONAL REFERENCES: Do NOT fabricate references to \"thousands of treatment centers\", \"autism research centers\", \"clinical experience across programs\", or similar. These sound authoritative but are invented.\n\nRULE 4 — CLIENT FACTS ONLY: The only client-specific claims you may add or strengthen are those already present in the article. Do not invent new service names, credentials, accreditations, or program names.\n\nRULE 5 — EEAT THROUGH STRUCTURE, NOT FABRICATION: Demonstrate EEAT by:\n  ✅ Sharpening existing expert explanations to sound more precise and confident\n  ✅ Adding \"here's why this matters\" commentary on existing facts\n  ✅ Improving the author's voice to sound more experienced and authoritative\n  ✅ Tightening hedged language (\"might help\" → \"helps\") where already supported\n  ✅ Adding brief real-world scenarios or examples that illustrate existing claims\n  ✅ Referencing named organisations (APA, BACB, U.S. Surgeon General) ONLY if already mentioned in the article\n\nRULE 6 — REVIEW BEFORE SUBMITTING: Read your output. If you spot a statistic, percentage, or research citation that was not in the article you received, delete it before submitting.\n\n\n\nYou understand how to authentically demonstrate Experience, Expertise, Authority, and Trust through subtle content enhancements that feel natural and valuable to readers while maintaining a neutral expert voice and satisfying Google's quality guidelines.\\n\\n\n\n⚠️ FINAL WORD COUNT CHECK — MANDATORY BEFORE SUBMITTING:\n1. Count every word in your output.\n2. Target: {{ $('Webhook1').first().json.body.word_count }} words (±10% = {{ $('Webhook1').first().json.body.word_count * 0.9 }}–{{ $('Webhook1').first().json.body.word_count * 1.1 }} words).\n3. If you are OVER the limit: remove the least impactful sentences until you are within range.\n4. If you are UNDER: expand a thin section. Do NOT submit outside this range.\n5. DO NOT add this word count check to your output — output only the article.\n"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        528752,
        113400
      ],
      "id": "137f43a2-6f74-412c-8377-7ddd160e7d26",
      "name": "Claude EEAT Injection1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "messages": {
          "values": [
            {
              "content": "\nYou are an expert SEO editor specializing in AI search optimization, featured snippets, and voice search queries.\n\nCRITICAL: The final article MUST be {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). When merging and optimizing, maintain this word count.\n\nYou understand how modern search algorithms evaluate content for featured snippets, People Also Ask boxes, and voice assistant responses. Your expertise includes optimizing content structure, formatting, and language patterns that perform well across all search result types while preserving authentic, conversational tone.\n\\n\\n",
              "role": "system"
            },
            {
              "content": "\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nWhen merging and optimizing both articles, you MUST stay within this range.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\n## EXAMPLE — CORRECT keyword placement:\nIf primary keyword = \"causes of anxiety in young adults\":\nGOOD H1: \"Understanding the Causes of Anxiety in Young Adults\"\nGOOD Intro: \"The causes of anxiety in young adults are complex, involving biology, environment, and social pressures.\"\nGOOD H2: \"What Causes Anxiety in Adolescence\" (secondary keyword as H2)\nGOOD Body: \"Teen social anxiety treatment often begins with identifying triggers.\"\nGOOD Conclusion: \"Recognizing the causes of anxiety in young adults is the first step toward effective support.\"\n\n## EXAMPLE — WRONG keyword placement:\nBAD H1: \"Understanding Anxiety Disorders\" (primary keyword missing from H1)\nBAD Intro: \"Anxiety is a growing concern...\" (keyword not in first 100 words)\nBAD H2s: \"The Perfect Storm\" / \"The Path to Healing\" (no keywords in any H2)\nBAD: Secondaries never mentioned — \"teen boys\" never appears, \"social anxiety\" never appears\n\n## KEYWORD PRESERVATION (MANDATORY — DO NOT OVERRIDE)\nWhile rewriting or improving, you MUST preserve these keyword placements exactly:\n1. The H1 title MUST still contain: \"{{ $('Webhook1').first().json.body.primary_keywords }}\"\n2. The primary keyword MUST still appear in the first 100 words\n3. At least one H2 MUST still contain the primary keyword or close variation\n4. The final paragraph MUST still reference the primary keyword\n5. Every secondary keyword listed below MUST still appear at least once in the body\n\nDO NOT paraphrase, rephrase, or reorder these keywords. You may improve the\nsentences AROUND them, but the keywords themselves must remain intact.\n\nKeywords to preserve:\n- Primary: {{ $('Webhook1').first().json.body.primary_keywords }}\n- Secondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\n- Semantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# Critical Rules\n- The opening paragraph must include {{ $('Webhook1').first().json.body.client_name }} within the first two sentences\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Write as a NEUTRAL EXPERT about {{ $('Webhook1').first().json.body.client_name }} - never use \"we,\" \"our,\" \"us\" from any company perspective\n- Always use second person (\"you\") or neutral third person\n\n## Objective\nMerge both EEAT-enhanced articles into one final version optimized for modern search features while preserving the conversational, helpful tone and maintaining target word count.\n\n## Key Optimizations\n\n### Featured Snippet Targeting\n- Convert key points into natural question-based H2/H3 headers (\"What are the signs...\" \"How can parents...\")\n- Lead sections with direct, concise answers (25-30 words ideal)\n- Use numbered lists for processes/steps, bullets for features/examples\n- Include \"What is...\", \"How to...\", \"Why does...\" formats where natural\n\n### Voice & AI Search Optimization  \n- Write complete, standalone answers that work out of context\n- Use natural question-answer pairs that sound conversational\n- Include FAQ-style sections with direct responses\n- Maintain conversational language patterns and everyday speech\n\n### Content Structure for Search\n- Keep paragraphs short (2-4 sentences) for mobile readability\n- Bold key concepts, terms, and direct answers\n- Use clear topic hierarchies with logical H2/H3 flow\n- Make answers scannable and voice-search friendly\n\n## Merging Strategy\n- Combine the strongest elements from both EEAT versions\n- Where versions differ, choose the more conversational and authoritative option\n- Eliminate any redundancy between the two versions\n- Maintain consistent voice and flow throughout\n- Stay within {{ $('Webhook1').first().json.body.word_count }} words ±10%\n\n## Critical Balance\n**Must maintain the \"friend giving advice\" conversational tone** while adding these technical optimizations. Don't sacrifice authenticity for SEO formatting. The article should still sound human and helpful first, optimized second.\n\n## Input Articles to Merge:\n\n### OpenAI EEAT Version:\n{{ $json.message.content }}\n\n### Claude EEAT Version:  \n{{ $json.text }}\n\n## Before Submitting - MANDATORY CHECKS:\n1. Word count between {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}?\n2. Still sounds like helpful advice from a knowledgeable friend?\n3. {{ $('Webhook1').first().json.body.client_name }} mentioned naturally in first two sentences?\n4. No \"we/our\" from any company perspective?\n5. SEO optimizations feel natural, not forced or over-formatted?\n6. Headers are conversational questions, not stiff corporate speak?\n\n## Output Requirements\nProvide ONLY the final optimized article. Start with title, end with conclusion. No meta-commentary, explanatory text, or word count in output.\n\nQuality check: Does this still sound like helpful advice from a knowledgeable friend, just better organized for search?\\n\\n"
            }
          ]
        },
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        529552,
        113252
      ],
      "id": "6e9dd228-1d94-43ea-80e5-df9b4d903244",
      "name": "OpenAI SEO Optimization1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nAll NLP optimizations must keep the article within this range.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\\n\\n## KEYWORD PRESERVATION (MANDATORY — DO NOT OVERRIDE)\nWhile rewriting or improving, you MUST preserve these keyword placements exactly:\n1. The H1 title MUST still contain: \"{{ $('Webhook1').first().json.body.primary_keywords }}\"\n2. The primary keyword MUST still appear in the first 100 words\n3. At least one H2 MUST still contain the primary keyword or close variation\n4. The final paragraph MUST still reference the primary keyword\n5. Every secondary keyword listed below MUST still appear at least once in the body\n\nDO NOT paraphrase, rephrase, or reorder these keywords. You may improve the\nsentences AROUND them, but the keywords themselves must remain intact.\n\nKeywords to preserve:\n- Primary: {{ $('Webhook1').first().json.body.primary_keywords }}\n- Secondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\n- Semantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# Critical Rules\n- The opening paragraph must include {{ $('Webhook1').first().json.body.client_name }} within the first two sentences\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Write as a NEUTRAL EXPERT about {{ $('Webhook1').first().json.body.client_name }} - never use \"we,\" \"our,\" \"us\" from any company perspective\n- Always use second person (\"you\") or neutral third person\n\n## Primary Goal\nEnhance this article for Google's NLP systems (BERT, MUM, passage ranking) while maintaining the conversational, authentic tone and target word count.\n\n## Key Optimizations (Apply Gently & Naturally):\n\n### Entity & Semantic Strengthening (word-count-neutral)\n- Naturally reinforce important entities and industry terms through strategic repetition\n- Use semantic clustering to strengthen topic authority (related terms grouped logically)\n- Include relevant variations and synonyms where they feel conversational\n- Add co-occurring terms that Google expects for this topic\n- **Never force technical jargon that breaks conversational flow**\n\n### Passage-Level Clarity (improve existing content)\n- Ensure each paragraph delivers clear value as a standalone unit for passage ranking\n- Lead paragraphs with the most helpful information (front-load value)\n- Maintain natural question-answer patterns that work for voice search\n- Optimize for featured snippets without sounding robotic or formulaic\n- Make key information extractable out of context\n\n### Information Architecture (structural refinement)\n- Strengthen subheadings for better passage anchoring (more descriptive, question-based)\n- Enhance scannable formatting: bold key terms, use bullets/numbers appropriately\n- Maintain logical flow that serves readers first, algorithms second\n- Ensure clear semantic relationships between sections\n- Improve topic clustering and relevance signals\n\n### NLP-Friendly Patterns\n- Use complete, well-formed sentences that parse cleanly\n- Include natural question-answer pairs for Q&A boxes\n- Maintain clear entity references (avoid ambiguous pronouns)\n- Strengthen context around key claims and recommendations\n\n## Critical Requirements\n- **PRESERVE the \"friend giving advice\" conversational tone above all else**\n- Never sacrifice authenticity for technical optimization\n- Keep language natural and genuinely helpful\n- Maintain readability and human appeal\n- All changes should feel organic, not algorithmic\n- Word count must stay within {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}\n\n## Article to Optimize:\n{{ $json.message.content }}\n\n## Before Submitting - MANDATORY CHECKS:\n1. Word count between {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}?\n2. Still sounds like helpful advice from a knowledgeable friend?\n3. {{ $('Webhook1').first().json.body.client_name }} mentioned naturally in first two sentences?\n4. No \"we/our\" from any company perspective?\n5. NLP optimizations feel completely natural, not forced?\n6. Would a human reader notice these are \"optimizations\" or just good writing?\n\n## Output Requirements\nProvide ONLY the enhanced article. Start with title, end with conclusion. No optimization summaries, meta-commentary, or word count in output.\n\nQuality priority: Authentic helpfulness > Technical perfection\n\n\n{{ $('Keyword Strategist').first().json.system_prompt_injection }}\n\n{{ $('Keyword Strategist').first().json.structure_prompt_injection }}\n{{ $('Keyword Strategist').first().json.eeat_prompt_injection }}\n{{ $('Keyword Strategist').first().json.style_prompt_injection }}\\n\\n\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n",
        "messages": {
          "messageValues": [
            {
              "message": "\nYou are an advanced SEO and NLP optimization specialist who enhances content for Google's algorithms while preserving authentic, conversational tone.\n\nCRITICAL: The final article MUST remain {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). Optimizations must maintain this word count.\n\nYour expertise is making subtle technical improvements that boost search performance without sacrificing the natural \"friend giving advice\" voice that makes content genuinely helpful.\\n\\n\n\n⚠️ FINAL WORD COUNT CHECK — MANDATORY BEFORE SUBMITTING:\n1. Count every word in your output.\n2. Target: {{ $('Webhook1').first().json.body.word_count }} words (±10% = {{ $('Webhook1').first().json.body.word_count * 0.9 }}–{{ $('Webhook1').first().json.body.word_count * 1.1 }} words).\n3. If you are OVER the limit: remove the least impactful sentences until you are within range.\n4. If you are UNDER: expand a thin section. Do NOT submit outside this range.\n5. DO NOT add this word count check to your output — output only the article.\n"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        530128,
        113400
      ],
      "id": "ed9f3bb1-6f84-4a2e-acbe-8940d29c2538",
      "name": "Claude NLP & PR Optimization",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nTechnical polish must maintain this word count.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\\n\\n## KEYWORD PRESERVATION (MANDATORY — DO NOT OVERRIDE)\nWhile rewriting or improving, you MUST preserve these keyword placements exactly:\n1. The H1 title MUST still contain: \"{{ $('Webhook1').first().json.body.primary_keywords }}\"\n2. The primary keyword MUST still appear in the first 100 words\n3. At least one H2 MUST still contain the primary keyword or close variation\n4. The final paragraph MUST still reference the primary keyword\n5. Every secondary keyword listed below MUST still appear at least once in the body\n\nDO NOT paraphrase, rephrase, or reorder these keywords. You may improve the\nsentences AROUND them, but the keywords themselves must remain intact.\n\nKeywords to preserve:\n- Primary: {{ $('Webhook1').first().json.body.primary_keywords }}\n- Secondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\n- Semantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# Critical Rules\n- The closing paragraph must include {{ $('Webhook1').first().json.body.client_name }}\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Primarily write from the company's perspective using first-person language (\"we,\" \"our\") for {{ $('Webhook1').first().json.body.client_name }}. Second-person (\"you\") can be used selectively, but avoid neutral third-party commentary.\n- Primarily write from the company's perspective using first-person language (\"we,\" \"our\"). Second-person (\"you\") can be used selectively, but avoid neutral third-party commentary.\n\n## Objective\nAdd meta elements and ensure perfect technical structure while preserving the conversational, helpful tone and maintaining target word count.\n\n## Required Optimizations:\n\n### Meta Elements (Outside Word Count)\n- **Meta Title**: 50-60 characters, includes primary keyword + {{ $('Webhook1').first().json.body.client_name }}, compelling click-through\n- **Meta Description**: 150-155 characters, includes primary keyword, clear value proposition, natural call-to-action\n\n### Header Structure (Within Article)\n- Ensure clean H1-H4 hierarchy\n- One H1 only (the title)\n- Logical H2s that cover main topics\n- Supporting H3s and H4s where appropriate\n- All headers should be conversational questions or statements, not corporate\n\n### Snippet Formatting\n- Format key sections as snippet-ready blocks (clear definitions, numbered lists for processes, bullet lists for features)\n- Lead paragraphs with direct answers (25-30 words ideal for featured snippets)\n- Bold key terms and answers naturally\n- Use tables where appropriate for comparison content\n\n### Technical Polish\n- Each section directly answers its heading's question\n- Clear topic flow and semantic relationships\n- Proper use of lists, emphasis, and formatting\n- Mobile-friendly paragraph length (2-4 sentences)\n\n### Tone Preservation\n- Maintain the natural \"friend giving advice\" conversational voice throughout\n- Don't let technical structure make content sound robotic\n- Keep contractions, natural transitions, varied sentence length\n- Preserve personality and authenticity\n\n## Article to Optimize:\n{{ $json.text }}\n\n## Before Submitting - MANDATORY CHECKS:\n1. Word count between {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}?\n2. Meta title 50-60 characters?\n3. Meta description 150-155 characters?\n4. Only one H1 in the article?\n5. Still sounds like genuine, helpful advice from a knowledgeable friend?\n6. {{ $('Webhook1').first().json.body.client_name }} mentioned naturally in the closing paragraph?\n7. Uses \"we/our\" brand voice appropriately?\n\n## Output Format:\n```\nMeta Title: [Your Optimized Title - 50-60 chars]\nMeta Description: [Your Optimized Description - 150-155 chars]\n\n[Full Optimized Article With Proper H1-H4 Structure]\n```\n\nQuality Check: Does this maintain authentic helpfulness while having perfect technical structure?\n\\n\\n\n\n⛔ STRUCTURAL LOCK — META TAGS MUST BE PRESERVED ⛔\nThe very first lines of the article MUST begin with:\nMeta Title: [title here]\nMeta Description: [description here]\n\nThese are NOT meta-commentary. They are mandatory deliverable fields required by the CMS.\n- If they are present in the input, KEEP THEM EXACTLY on line 1 and line 2.\n- If they are missing from the input, ADD THEM before outputting.\n- NEVER remove, reformat, or move these two lines.\n- Your output must start with \"Meta Title:\" — no preamble, no intro sentence before it.\n\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n",
        "messages": {
          "messageValues": [
            {
              "message": "\nYou are a senior SEO editor with expertise in Google's ranking algorithms and featured snippet optimization.\n\nCRITICAL: The final article MUST be {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). Technical optimizations must not change the word count.\\n\\n"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        531504,
        113760
      ],
      "id": "3e9315b4-e47a-4c68-b718-8a3d620820bf",
      "name": "Claude Final SEO Snippet Optimization",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://skywide-content-flow.vercel.app/api/webhooks/n8n-drive-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"request_id\": $('Webhook1').first().json.body.request_id,\n  \"run_id\": $('Webhook1').first().json.body.run_id,\n  \"webhook_response\": \"https://drive.google.com/drive/u/0/folders/\" + $json.id\n} }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        526352,
        113520
      ],
      "id": "ca1dfb4d-aa63-494f-9ef6-8fa41f228211",
      "name": "Google Drive Notification1",
      "notesInFlow": true,
      "notes": "Add G-Drive Link to Skywide Dashboard"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "messages": {
          "values": [
            {
              "content": "\nYou are a technical content production assistant specializing in document formatting and export preparation.\n\nCRITICAL: The final sanitized article MUST remain {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). Sanitization is formatting-only and must not change word count.\n\n\n⛔ STRUCTURAL LOCK — META TAGS MUST BE PRESERVED ⛔\nThe very first lines of the article MUST begin with:\nMeta Title: [title here]\nMeta Description: [description here]\n\nThese are NOT meta-commentary. They are mandatory deliverable fields required by the CMS.\n- If they are present in the input, KEEP THEM EXACTLY on line 1 and line 2.\n- If they are missing from the input, ADD THEM before outputting.\n- NEVER remove, reformat, or move these two lines.\n- Your output must start with \"Meta Title:\" — no preamble, no intro sentence before it.\n",
              "role": "system"
            },
            {
              "content": "\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nSanitization must not alter word count - this is formatting cleanup only.\n\n# SEO Keywords\n{{ $('Webhook1').first().json.body.primary_keywords }}\n(Keywords should already be properly integrated - do not modify content)\n\n# Critical Rules (Already Applied - Verify Only)\n- The opening paragraph must include {{ $('Webhook1').first().json.body.client_name }} within the first two sentences\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Content written as NEUTRAL EXPERT about {{ $('Webhook1').first().json.body.client_name }} - never use \"we,\" \"our,\" \"us\" from any company perspective\n- Always use second person (\"you\") or neutral third person\n\n## Objective\nPrepare this article for clean DOCX export and client delivery through formatting sanitization only.\n\n## Required Sanitization (Formatting Changes Only):\n\n### Character Replacement\n- Replace smart quotes (\"\") with straight ASCII quotes (\"\")\n- Replace smart apostrophes (') with straight apostrophes (')\n- Replace em dashes (—) with double hyphens (--)\n- Replace en dashes (–) with single hyphens (-)\n- Remove any other non-ASCII characters or special symbols\n- Preserve all HTML entities if present\n\n### Spacing & Formatting Cleanup\n- Remove double spaces (replace with single space)\n- Eliminate rogue line breaks within paragraphs\n- Ensure consistent paragraph spacing (one blank line between paragraphs)\n- Remove trailing spaces at end of lines\n- Ensure consistent spacing after punctuation\n\n### Header Formatting\nKeep headers clearly marked using markdown:\n- H1: # Header Text\n- H2: ## Header Text  \n- H3: ### Header Text\n- H4: #### Header Text\n\n### List Formatting\n- Numbered lists: 1. Item text\n- Bullet lists: - Item text\n- Maintain consistent indentation\n\n## What NOT to Change:\n- Do not alter any wording or phrasing\n- Do not modify sentence structure\n- Do not change paragraph order or content\n- Do not add or remove any substantive text\n- Do not modify meta title or meta description\n- This is FORMATTING ONLY\n\n## Article to Sanitize:\n{{ $('Claude Final SEO Snippet Optimization').first().json.data[1].text }}\n\n## Before Submitting - MANDATORY CHECKS:\n1. Word count still between {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}?\n2. All smart quotes replaced with straight quotes?\n3. All special dashes replaced with ASCII hyphens?\n4. No double spaces or irregular line breaks?\n5. Content unchanged - only formatting cleaned?\n6. {{ $('Webhook1').first().json.body.client_name }} still in first two sentences?\n\n## Output Requirements:\nReturn ONLY the clean, sanitized article ready for Word document import. No explanatory text, meta-commentary, or word count in output.\n\nFormat: Start with Meta Title and Meta Description (if present), then the full article with clean markdown formatting."
            }
          ]
        },
        "options": {
          "temperature": 0.5,
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        531856,
        113760
      ],
      "id": "f868a5ee-063a-4d5f-bfc0-42eecdf63e7b",
      "name": "Document Export Sanitization5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nWhen combining and polishing both versions, stay within this range.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\\n\\n## KEYWORD PRESERVATION (CRITICAL — HIGHEST PRIORITY)\nYou are the final LLM in the pipeline. Previous nodes have carefully placed target keywords.\nYour job is to improve readability and tone WITHOUT removing any keyword placement.\n\nPROTECTED ELEMENTS (do not alter these):\n1. H1 title — keep the primary keyword in it, you may adjust surrounding words only\n2. First 100 words — the primary keyword must remain in this window\n3. H2 headings containing keywords — do not replace with generic headings\n4. Final paragraph — the primary keyword must still appear here\n5. Every secondary/semantic keyword below must still appear at least once\n\nYou CAN: improve sentence flow, adjust transitions, fix awkward phrasing around keywords\nYou CANNOT: remove, rephrase, or relocate any target keyword\n\nPrimary: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# Critical Rules\n- The closing paragraph must include {{ $('Webhook1').first().json.body.client_name }}\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Primarily write from the company's perspective using first-person language (\"we,\" \"our\") for {{ $('Webhook1').first().json.body.client_name }}. Second-person (\"you\") can be used selectively, but avoid neutral third-party commentary.\n- Primarily write from the company's perspective using first-person language (\"we,\" \"our\"). Second-person (\"you\") can be used selectively, but avoid neutral third-party commentary.\n\n## Objective\nCombine the best elements from both NLP-optimized versions into one smooth, readable article that maintains the conversational \"friend giving advice\" tone and target word count.\n\n## Simple Goals:\n- Take the strongest passages from each version\n- Smooth any awkward transitions or repetitive sections between versions\n- Improve flow and readability without over-editing\n- **Preserve the natural, helpful voice throughout**\n- Keep all SEO optimizations intact (keywords, entities, structure)\n- Maintain word count by selecting best content, not adding\n\n## What to Combine:\n- Choose the more natural-sounding phrasing when versions differ\n- Keep the clearest explanations and examples\n- Eliminate redundancy between the two versions\n- Maintain the best heading structures\n- Preserve all technical optimizations (entity strength, passage clarity, formatting)\n\n## Critical Requirements:\n- Don't rewrite extensively - just polish and combine thoughtfully\n- Maintain the conversational, authentic tone above all else\n- Keep all keyword integration and entity relationships\n- Preserve technical optimizations from previous stages\n- No corporate or overly polished language\n- Stay within {{ $('Webhook1').first().json.body.word_count }} words ±10%\n\n## Input Versions:\n\n### Claude NLP Version:\n{{ $json.text }}\n\n### OpenAI NLP Version:\n{{ $json.message.content }}\n\n## Before Submitting - MANDATORY CHECKS:\n1. Word count between {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}?\n2. Still sounds like genuine, helpful advice from a knowledgeable friend?\n3. {{ $('Webhook1').first().json.body.client_name }} mentioned naturally in the closing paragraph?\n4. Uses \"we/our\" brand voice appropriately?\n5. Flow feels natural, not choppy or over-edited?\n6. All SEO optimizations preserved?\n\n## Output Requirements:\nProvide ONLY the final polished article. Start with title, end with conclusion. No explanatory text, editing notes, or word count in output.\n\nQuality check: Does this still sound like genuine, helpful advice from a knowledgeable friend?\n\n\n{{ $('Keyword Strategist').first().json.system_prompt_injection }}\n\n{{ $('Keyword Strategist').first().json.structure_prompt_injection }}\n{{ $('Keyword Strategist').first().json.eeat_prompt_injection }}\n{{ $('Keyword Strategist').first().json.style_prompt_injection }}\\n\\n\n\n⛔ STRUCTURAL LOCK — META TAGS MUST BE PRESERVED ⛔\nThe very first lines of the article MUST begin with:\nMeta Title: [title here]\nMeta Description: [description here]\n\nThese are NOT meta-commentary. They are mandatory deliverable fields required by the CMS.\n- If they are present in the input, KEEP THEM EXACTLY on line 1 and line 2.\n- If they are missing from the input, ADD THEM before outputting.\n- NEVER remove, reformat, or move these two lines.\n- Your output must start with \"Meta Title:\" — no preamble, no intro sentence before it.\n\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n",
        "messages": {
          "messageValues": [
            {
              "message": "\nYou are an experienced editor who specializes in light content polish and synthesis.\n\nCRITICAL: The final article MUST be {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). When combining versions, maintain this word count.\n\nYour role is to combine multiple versions of content into one flowing article while preserving the authentic, conversational tone and all technical optimizations already completed.\\n\\n\n\n⚠️ FINAL WORD COUNT CHECK — MANDATORY BEFORE SUBMITTING:\n1. Count every word in your output.\n2. Target: {{ $('Webhook1').first().json.body.word_count }} words (±10% = {{ $('Webhook1').first().json.body.word_count * 0.9 }}–{{ $('Webhook1').first().json.body.word_count * 1.1 }} words).\n3. If you are OVER the limit: remove the least impactful sentences until you are within range.\n4. If you are UNDER: expand a thin section. Do NOT submit outside this range.\n5. DO NOT add this word count check to your output — output only the article.\n"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        530928,
        113760
      ],
      "id": "198e4d75-8193-46c7-9951-a061daf1f989",
      "name": "Claude Humanised Readability Rewrite",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"passed\": \"true\",\n  \"validation_issues\": \"\",\n  \"content\": \"Full article content here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        533624,
        112480
      ],
      "id": "9d9be9cc-0797-4a0d-85c7-6fefe0fe84d2",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"passed\": \"true\",\n  \"validation_issues\": \"\",\n  \"content\": \"Full article content here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        535608,
        113664
      ],
      "id": "c5938277-81f5-4221-844a-9050c86e3cf9",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"passed\": \"true\",\n  \"validation_issues\": \"\",\n  \"content\": \"Full article content here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        537912,
        114292
      ],
      "id": "3816c215-c5e8-4433-b284-11c1ef2d8045",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"passed\": \"true\",\n  \"validation_issues\": \"\",\n  \"content\": \"Full article content here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        536184,
        113108
      ],
      "id": "43ca1bf6-b4c3-4c51-9577-26529703521f",
      "name": "Structured Output Parser3",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\n# PRIMARY CONSTRAINT - Word Count (MANDATORY)\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $json.word_count * 0.9 }} to {{ $json.word_count * 1.1 }} words\n\nYou MUST hit this word count target. Do not include the word count in your final article output.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\n## EXAMPLE — CORRECT keyword placement:\nIf primary keyword = \"causes of anxiety in young adults\":\nGOOD H1: \"Understanding the Causes of Anxiety in Young Adults\"\nGOOD Intro: \"The causes of anxiety in young adults are complex, involving biology, environment, and social pressures.\"\nGOOD H2: \"What Causes Anxiety in Adolescence\" (secondary keyword as H2)\nGOOD Body: \"Teen social anxiety treatment often begins with identifying triggers.\" (secondary used naturally)\nGOOD Conclusion: \"Recognizing the causes of anxiety in young adults is the first step toward effective support.\"\n\n## EXAMPLE — WRONG keyword placement:\nBAD H1: \"Understanding Anxiety Disorders\" (primary keyword missing from H1)\nBAD Intro: \"Anxiety is a growing concern...\" (keyword not in first 100 words)\nBAD H2s: \"The Perfect Storm\" / \"The Path to Healing\" (no keywords in any H2)\nBAD: Secondaries never mentioned — \"teen boys\" never appears, \"social anxiety\" never appears\n# Global Rules\n1. Always mention the client's name ({{ $('Webhook1').first().json.body.client_name }}) naturally in the opening paragraph, within the first two sentences, unless explicitly instructed otherwise.\n2. Openings must be professional, relevant, and tied directly to the client's industry, audience, or problem space. Do not use jokes, unrelated stories, or casual metaphors unless requested in the brief.\n3. Tone should feel approachable and human — like trusted advice from someone with real experience. Avoid filler, clichés, or anything that feels AI-generated.\n4. Ensure every article begins with a clear, audience-focused hook that establishes why the content matters to the reader.\n5. Never substitute vague phrases like \"this company\" or \"the brand\" when {{ $('Webhook1').first().json.body.client_name }} should be used.\n\n# Writing Voice & Style\nWrite like you're having coffee with someone who asked for your honest advice:\n- Use natural speech: \"I think,\" \"Here's what works,\" \"Honestly,\" \"Look\"\n- Mix short punchy sentences with flowing ones\n- Include personal observations and mild controversy when relevant\n- Add parenthetical thoughts (we all do this) and natural rhetorical questions\n- Use contractions and start sentences with \"And,\" \"But,\" \"So\"\n\n# Content Approach\n- Share insights like you've experienced this firsthand\n- Include \"what I've noticed\" observations and real scenarios\n- Use everyday analogies, not business jargon\n- Disagree with common advice when you have better points\n- Admit limitations and when things don't always work\n\n# Critical: NEVER Use These AI Phrases\n\"You're Not Alone\" | \"You Are Not Alone\" | \"It's important to note\" | \"Additionally/Furthermore\" | \"In today's digital landscape\" | \"Streamline/leverage/optimize/enhance\" | \"In conclusion\" | Perfect bullet parallelism\n\n# Use These Natural Transitions Instead\n\"Also,\" \"Plus,\" \"Here's the deal,\" \"The thing is,\" \"So basically,\" \"Oh, and don't forget\"\n\n# Structure Requirements\n- Hook with natural conversation starter\n- Subheadings as questions or statements (not formal headings)\n- Include mild frustrations about misconceptions\n- End with genuine advice, not corporate wrap-up\n\n# Your Content Assignment\nTitle: {{ $json.brief_title }}\nBrief: {{ $('Webhook1').first().json.body.creative_brief }}\nTarget Audience: {{ $('Webhook1').first().json.body.audience }}\nSEO Keywords: {{ $('Webhook1').first().json.body.primary_keywords }}\n\n# Output Requirements\n- Write the complete article within {{ $json.word_count * 0.9 }}-{{ $json.word_count * 1.1 }} words\n- Do NOT include \"Word Count: X\" or any meta-information in your output\n- End with the final sentence of your article, nothing else\n\nAuthentic helpfulness is the goal, but hitting the word count is mandatory.\n\nIMPORTANT: Page Intent: {{ $('Webhook1').first().json.body.page_intent }}\nEnsure the content tone and structure aligns with this intent (e.g., Informational, Transactional, Lead Gen), but DO NOT let this override the core SEO value and critical takeaways of the content.\n\n\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n\n# ═══ CLIENT GROUND TRUTH (MANDATORY — USE THIS, NOT YOUR OWN RESEARCH) ═══\nThe following data was scraped directly from the client's official website.\nThese are the ONLY statistics, claims, and differentiators you are authorised to use.\n\nCLIENT PROFILE:\n{{ $('Client Profile Extractor').first().json.client_name || $('Webhook1').first().json.body.client_name }}\n\nVERIFIED SERVICES (use these exact names):\n{{ ($('Client Profile Extractor').first().json.services || []).join('\\n') }}\n\nVERIFIED CREDENTIALS:\n{{ ($('Client Profile Extractor').first().json.credentials || []).join('\\n') }}\n\nVERIFIED UNIQUE CLAIMS (use these, do not invent alternatives):\n{{ ($('Client Profile Extractor').first().json.unique_claims || []).join('\\n') }}\n\nVERIFIED PUBLISHED STATS (ONLY these numbers are allowed):\n{{ ($('Client Profile Extractor').first().json.published_stats || []).length > 0 ? ($('Client Profile Extractor').first().json.published_stats || []).join('\\n') : 'No specific statistics published on client website.' }}\n\nPRE-DRAFT FACT CHECK CONSTRAINTS:\n{{ $('Pre-Draft Fact Checker').first().json.choices?.[0]?.message?.content || $('Pre-Draft Fact Checker').first().json.message?.content || $('Pre-Draft Fact Checker').first().json.text || 'No fact-check constraints available.' }}\n# ═══════════════════════════════════════════════════════════════════════════\n\n# ⛔ ANTI-HALLUCINATION PROTOCOL (NON-NEGOTIABLE)\nRULE 1: You may ONLY use statistics, percentages, and numerical claims that appear\n        verbatim in the CLIENT GROUND TRUTH block above.\nRULE 2: If the client has no published stats, write the article without any statistics.\n        Do NOT invent percentages, multipliers, or precision figures.\nRULE 3: If you want to reference a third-party study, it MUST have been provided in\n        the SERP analysis or brief with a real URL. If no URL exists, omit the claim.\nRULE 4: Do NOT use phrases like \"studies show\", \"research reveals\", \"clinical data shows\",\n        or \"treatment providers report\" unless followed by a real named source + URL.\nRULE 5: Violations of this protocol will cause the article to fail QA and be rejected.\n",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Webhook1').first().json.body.is_revision ? '━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n⚠️  REVISION MODE — STRICT OVERRIDE ACTIVE\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\nThe REVISION COMMAND below is the highest-authority instruction in this prompt.\\nIt overrides word count targets, structural rules, and SEO guidelines where they conflict.\\n\\nREVISION COMMAND:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL CONTENT (apply revision command to this only — do not rewrite untouched sections):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\n[END OF ORIGINAL CONTENT]\\n\\nINSTRUCTIONS:\\n1. Apply the revision command above to the original content.\\n2. Do not rewrite sections not mentioned in the revision command.\\n3. Preserve all keywords, tone, structure, and client name exactly.\\n4. Output ONLY the revised article — no commentary.\\n' : '' }}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nHARD CONSTRAINTS — READ THESE FIRST\n(These override every other instruction in this prompt)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nHC-1 WORD COUNT\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (main body, excluding FAQ)\nAcceptable: {{ Math.round($('Webhook1').first().json.body.word_count * 0.9) }}–{{ Math.round($('Webhook1').first().json.body.word_count * 1.1) }} words\nBEFORE outputting: count your words. If outside this range, expand or tighten.\n\nHC-2 META TAGS — FIRST TWO LINES (mandatory)\nYour output MUST begin with exactly:\nMeta Title: [60 chars max, contains primary keyword]\nMeta Description: [155 chars max, includes primary keyword + clear value prop]\nThe H1 heading comes after these two lines.\n\nHC-3 CLIENT NAME PLACEMENT — CLOSING PARAGRAPH ONLY\n{{ $('Webhook1').first().json.body.client_name }} must appear ONLY in the closing/conclusion paragraph.\nDo NOT mention the client by name in the opening, body sections, or headings.\nFirst-person brand voice (we/our) is allowed throughout — just no client name until the close.\n\nHC-4 ZERO EM-DASHES\nReplace every em-dash (—) with a comma or period. No exceptions.\n\nHC-5 BANNED WORDS\nRemove: seamless, seamlessly, journey, navigate, navigating, comprehensive, leverage, optimize, streamline\nDo not start sentences with: \"Additionally,\" \"Furthermore,\" \"In conclusion,\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nVERIFIED CLAIMS MANIFEST — PLACE EXACTLY AS INSTRUCTED\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nThe following claims have been fact-checked and verified. Place EVERY item in its specified section.\nBefore finalising, scan each H2 and confirm every manifest item for that section is present.\nDo NOT add, substitute, or paraphrase any claim in this list.\n\n{{ JSON.stringify($('Verified Claims Parser').first().json.output ? $('Verified Claims Parser').first().json.output.placement_manifest : ($('Claims Extractor & Manifest Generator').first().json.output ? $('Claims Extractor & Manifest Generator').first().json.output.placement_manifest : [])) }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nCLIENT GROUND TRUTH — THE ONLY SOURCE FOR CLIENT FACTS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nThese facts were scraped from the client's live website. They are the ONLY client-specific\nstatistics, services, and credentials you are authorised to use.\n\nClient: {{ $('Client Profile Extractor').first().json.client_name || $('Webhook1').first().json.body.client_name }}\nServices: {{ ($('Client Profile Extractor').first().json.services || []).join(', ') || 'Not available' }}\nCredentials: {{ ($('Client Profile Extractor').first().json.credentials || []).join(', ') || 'Not available' }}\nDifferentiators: {{ ($('Client Profile Extractor').first().json.unique_claims || []).join(' | ') || 'Not available' }}\nPublished Stats: {{ ($('Client Profile Extractor').first().json.published_stats || []).length > 0 ? ($('Client Profile Extractor').first().json.published_stats || []).join(' | ') : 'CONFIRMED: No statistics published on client website.' }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nFACT-CHECK CONSTRAINTS FROM PRE-DRAFT AUDITOR\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{{ $('Pre-Draft Fact Checker').first().json.choices?.[0]?.message?.content || $('Pre-Draft Fact Checker').first().json.message?.content || $('Pre-Draft Fact Checker').first().json.text || 'No fact-check constraints available.' }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nANTI-HALLUCINATION DECISION TREE (NON-NEGOTIABLE)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nBefore writing ANY factual claim, run this check:\n\nWANT TO USE A STATISTIC OR NUMBER?\n→ Is it in the VERIFIED CLAIMS MANIFEST above? → USE IT verbatim\n→ Is it in the CLIENT GROUND TRUTH published_stats? → USE IT verbatim\n→ Was it provided in the brief with a real, named source + URL? → USE IT with that citation\n→ None of the above? → DO NOT write a number. Write qualitatively instead.\n   Example: Instead of \"60% of families report...\" → \"Many families find that...\"\n\nWANT TO ATTRIBUTE A CLAIM TO AN ORGANIZATION (APA, AAP, AOTA, etc.)?\n→ Is that organization's guideline in the VERIFIED CLAIMS MANIFEST? → USE IT\n→ Not in the manifest? → DO NOT mention the organization. Remove the attribution entirely.\n   Write the statement without the org name: \"Trauma-informed care has been shown to support...\" ✓\n\nWANT TO USE PRACTITIONER/CLINICAL AUTHORITY?\nNEVER use these fabricated-consensus patterns:\n❌ \"Treatment providers specializing in [X] consistently see...\"\n❌ \"Clinical experience across [field] consistently shows...\"\n❌ \"Evidence-based programs in [X] typically incorporate...\"\n❌ \"Professional standards from organizations like [X] recommend...\"\n❌ \"Research consistently shows...\" (without named study + year + URL)\n❌ \"Studies suggest...\" (without named study + year + URL)\n❌ \"Experts agree/recommend...\" / \"Many professionals report...\"\n❌ \"Clinicians often find...\" / \"Practitioners consistently see...\"\n✅ Instead: Write what the service does, without manufacturing professional consensus.\n\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPROCEDURAL INVENTIONS BAN (the gap the stat ban doesn't cover)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nThe fabrication Billy flagged most harshly was NOT always a statistic.\nIt was invented procedural specifics — timeframes, rates, consequences, and deadlines\nthat sound authoritative but have no source.\n\nNEVER invent or state these WITHOUT a verified claim in your manifest:\n❌ Audit rates          (\"Wisconsin randomly selects 10% of engineers...\")\n❌ Response deadlines   (\"You have 60 days to respond to an audit request...\")\n❌ Penalty amounts      (\"Missing even one hour triggers suspension...\")\n❌ Penalty multipliers  (\"Reinstatement fees often double standard renewal fees...\")\n❌ Conversion rates     (\"1 semester credit = 45 PDH credits...\")\n❌ Approval timeframes  (\"Processing takes 4-6 weeks...\")\n❌ Any \"typically\" / \"usually\" / \"often\" procedural statement without a source\n\nCORRECT BEHAVIOUR when the manifest has no entry for a procedural detail:\n→ Say: \"Check with [the relevant authority] for the current [rate/deadline/penalty].\"\n→ Example: \"For specific audit response timelines, verify directly with [State Board].\"\n→ This is always better than inventing a specific that Billy will have to fact-check and remove.\n\nCORRECT BEHAVIOUR when the brief contradicts the fact-check report:\n→ Use the fact-check report's version. The brief may contain errors.\n→ If the fact-check report marked a brief claim as ❌ REMOVE — do not write that claim.\n→ If the fact-check report marked a brief claim as ⚠️ REWRITE — use the corrected version in your manifest.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nKEYWORD PLACEMENT (required for SEO score)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\nPLACEMENT CHECKLIST:\n☐ Primary keyword in H1 (exact match, not paraphrased)\n☐ Primary keyword in first 100 words of body\n☐ Primary keyword in at least one H2\n☐ Primary keyword in closing paragraph\n☐ Every secondary keyword appears at least once\n☐ Every semantic keyword appears at least once\n☐ Each H2 targets a different keyword (spread them — don't cluster)\n☐ No bold or italics on keywords in body text\n\n{{ $('Keyword Strategist').first().json.system_prompt_injection }}\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n{{ $('Keyword Strategist').first().json.faq_injection }}\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nWRITING STYLE\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nVoice: First-person brand voice (we/our) for the client throughout the article body.\nTone: Trusted advisor — like honest advice from someone with real experience.\nSentence style: Mix short punchy sentences with flowing ones. Contractions allowed.\nNatural transitions: \"Also,\" \"Plus,\" \"Here's the deal,\" \"The thing is,\" \"So basically,\"\n\nNever use: \"You're Not Alone\" | \"It's important to note\" | \"In today's landscape\" | \"In conclusion\"\nNever start with: Greetings, audience-flattery, unrelated stories, or jokes\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nYOUR ASSIGNMENT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nTitle: {{ $('Keyword Strategist').first().json.brief_title || $('Webhook1').first().json.body.title }}\nBrief: {{ $('Webhook1').first().json.body.creative_brief }}\nAudience: {{ $('Webhook1').first().json.body.audience }}\nPage Intent: {{ $('Webhook1').first().json.body.page_intent }}\n\nOUTPUT: The complete article only. Start with Meta Title: — end with the last sentence.\nNo word count, no commentary, no preamble.\n\nFINAL PRE-FLIGHT CHECK before submitting:\n☐ Starts with \"Meta Title:\" on line 1\n☐ \"Meta Description:\" on line 2\n☐ Client name appears ONLY in the closing paragraph\n☐ Zero em-dashes\n☐ Word count within {{ Math.round($('Webhook1').first().json.body.word_count * 0.9) }}–{{ Math.round($('Webhook1').first().json.body.word_count * 1.1) }}\n☐ Every manifest claim is placed in its correct section"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        526576,
        113476
      ],
      "id": "10d56811-c22b-414c-97f4-bca7fa16d63a",
      "name": "Claude Draft (Claude Opus 3)1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Instruction Strategist v8 — Bulletproof + Custom Rules + Global Enforcement\nconst input = $('Webhook1').first().json.body;\n\n// ─── GLOBAL RULES: Always applied regardless of brief content ────────────────\nconst GLOBAL_RULES = [\n  \"Do NOT use AI-sounding filler phrases. Banned phrases: 'Additionally', 'Moreover', 'Furthermore', 'Let\\'s dive in', 'In conclusion', 'The bottom line', 'It\\'s worth noting', 'Dive into', 'In today\\'s world', 'Transitioning to'.\",\n  \"Write in active voice. Do not use passive voice constructions.\",\n  \"Keep paragraphs to 2–3 sentences maximum. Long paragraphs must be broken up.\",\n  \"ANTI-HALLUCINATION PROTOCOL: The client's website is the primary source of truth. If specific information is missing, fall back to general web research. However, if a specific claim, statistic, or percentage cannot be explicitly verified on the client website or reliable internet sources, YOU MUST OMIT IT SMOOTHLY. Do NOT invent or estimate statistics, research studies, percentages, or expert names. Do not use placeholders like [Data Needed] — just write around it naturally without tempering the overall content.\",\n  \"Do not use em-dashes (—). Replace with commas, colons, or restructured sentences.\",\n  \"Do not use generic CTAs like 'Click here' or 'Learn more'. CTAs must be specific and action-oriented.\",\n  \"Every H2 section must contain at least 2 substantive paragraphs. No single-sentence sections.\",\n  \"Do not repeat the same phrase or sentence structure in consecutive paragraphs.\",\n  \"Bold text (**bold**) should be used sparingly — only for genuinely critical terms, not for stylistic emphasis.\",\n];\n\nfunction parseKeywords(raw) {\n  if (!raw) return [];\n  if (Array.isArray(raw)) {\n    return raw.flatMap(item => item.split(',').map(k => k.trim())).filter(k => k.length > 0);\n  }\n  if (typeof raw !== 'string') return [];\n  return raw.split(',').map(k => k.trim()).filter(k => k.length > 0);\n}\n\nconst rawPrimary = input.primary_keywords;\nconst primary = (Array.isArray(rawPrimary) ? rawPrimary.join(', ') : rawPrimary) || '';\nconst secondary = parseKeywords(input.secondary_keywords);\nconst semantic = parseKeywords(input.semantic_themes);\n\n// ─── EXTRACT AI PARSED BRIEF DATA ────────────────────────────────────────────\nlet aiOutputRAW = $('Parse Creative Brief (LLM)').first().json.message?.content\n               || $('Parse Creative Brief (LLM)').first().json.text\n               || $('Parse Creative Brief (LLM)').first().json.choices?.[0]?.message?.content\n               || '{}';\n\nlet aiData = { headings: [], faqs: [], custom_rules: [], tone_instructions: '' };\ntry {\n  if (typeof aiOutputRAW === 'object' && aiOutputRAW !== null) {\n    aiData = { headings: [], faqs: [], custom_rules: [], tone_instructions: '', ...aiOutputRAW };\n  } else if (typeof aiOutputRAW === 'string') {\n    let cleanedRAW = aiOutputRAW;\n    cleanedRAW = cleanedRAW.replace(/^[\\s\\S]*?```json\\s*/, '').replace(/```[\\s\\S]*$/, '').trim();\n    cleanedRAW = cleanedRAW.replace(/^[\\s\\S]*?```\\s*/, '').replace(/```[\\s\\S]*$/, '').trim();\n    const match = cleanedRAW.match(/\\{[\\s\\S]*\\}/);\n    if (match) cleanedRAW = match[0];\n    const parsed = JSON.parse(cleanedRAW);\n    aiData = { headings: [], faqs: [], custom_rules: [], tone_instructions: '', ...parsed };\n  }\n} catch (e) {\n  console.log('Brief parser JSON parse failed:', e.message);\n}\n\nconst briefHeadings     = Array.isArray(aiData.headings)      ? aiData.headings      : [];\nconst faqArray          = Array.isArray(aiData.faqs)          ? aiData.faqs          : [];\nconst briefCustomRules  = Array.isArray(aiData.custom_rules)  ? aiData.custom_rules  : [];\nconst briefTone         = typeof aiData.tone_instructions === 'string' ? aiData.tone_instructions : '';\n\n// ─── FAQ INJECTION ────────────────────────────────────────────────────────────\nlet faqInjection = '';\nif (faqArray.length > 0) {\n  faqInjection = '### MANDATORY FAQS\\n\\nAt the end of the article include an FAQ section with EXACTLY these questions. If an answer is provided, incorporate that information into your answer — do not ignore it.\\n\\n';\n  faqArray.forEach(faq => {\n    faqInjection += `**Q: ${faq.question}**\\n`;\n    if (faq.answer && faq.answer.trim()) {\n      faqInjection += `A: (Use this information in your answer: ${faq.answer})\\n\\n`;\n    } else {\n      faqInjection += `A: [Write a complete, accurate answer]\\n\\n`;\n    }\n  });\n}\n\n// ─── STRUCTURE ENFORCEMENT (headings) ────────────────────────────────────────\nconst creativeBrief = input.creative_brief || '';\nlet briefEnforcerInjection = '';\nif (creativeBrief) {\n  briefEnforcerInjection = `### CREATIVE BRIEF STRUCTURE (MANDATORY)\n\nYou MUST follow the structural outline below. Do not invent your own structure.\n\n- Write the article conforming strictly to the content outline in the brief.\n- Use the exact H2 headings specified — do not add, remove, or reorder them.\n- Do NOT invent your own H2 headings if the outline already specifies them.\n\n`;\n  if (briefHeadings.length > 0) {\n    briefEnforcerInjection += `MANDATORY HEADING ORDER — USE THESE EXACT H2s:\\n`;\n    briefHeadings.forEach((h, i) => {\n      briefEnforcerInjection += `${i + 1}. ${h}\\n`;\n    });\n    briefEnforcerInjection += `\\nDo not add, remove, or reorder these headings.\\n`;\n  }\n}\n\n// ─── GLOBAL RULES INJECTION ───────────────────────────────────────────────────\nconst globalRulesInjection = `### GLOBAL EDITORIAL RULES (NON-NEGOTIABLE)\n\nThese rules apply to every article regardless of the brief. Each violation is unacceptable:\n\n${GLOBAL_RULES.map((r, i) => `${i + 1}. ${r}`).join('\\n')}\n`;\n\n// ─── BRIEF-SPECIFIC CUSTOM RULES INJECTION ───────────────────────────────────\nlet customRulesInjection = '';\nif (briefCustomRules.length > 0) {\n  customRulesInjection = `### BRIEF-SPECIFIC RULES (MANDATORY)\n\nThe following rules were explicitly specified in the creative brief. Every single one must be followed exactly:\n\n${briefCustomRules.map((r, i) => `${i + 1}. ${r}`).join('\\n')}\n`;\n}\n\n// ─── TONE INJECTION ───────────────────────────────────────────────────────────\nconst toneSource = briefTone || input.tone || '';\nlet briefAuthorityPreamble = '';\nif (toneSource) {\n  briefAuthorityPreamble = `Tone & Voice: ${toneSource}. Maintain this voice consistently from the first sentence to the last. Do not shift tone mid-article.`;\n}\n\n// ─── CLIENT FIRST PARAGRAPH ───────────────────────────────────────────────────\nlet firstParagraphInjection = '';\nif (input.client_name) {\n  firstParagraphInjection = `The opening paragraph MUST organically mention the client (${input.client_name}) within the first two sentences. Do NOT use \"the company\", \"the brand\", or \"they\" as a substitute.`;\n}\n\n// ─── SECONDARY / SEMANTIC KEYWORDS ───────────────────────────────────────────\nlet secondaryKeywordChecklist = '';\nif (secondary.length > 0 || semantic.length > 0) {\n  secondaryKeywordChecklist = '### SUPPLEMENTARY KEYWORDS (weave naturally — do not force):\\n';\n  if (secondary.length > 0) {\n    secondaryKeywordChecklist += 'Secondary Keywords:\\n' + secondary.map(k => '- ' + k).join('\\n') + '\\n\\n';\n  }\n  if (semantic.length > 0) {\n    secondaryKeywordChecklist += 'Semantic Themes:\\n' + semantic.map(s => '- ' + s).join('\\n') + '\\n';\n  }\n}\n\n\n\n// ─── EEAT INJECTION ───────────────────────────────────────────────────────────\nconst eeatPromptInjection = `### E-E-A-T SIGNALS (Experience, Expertise, Authoritativeness, Trustworthiness)\n\nWrite with demonstrable expertise. Signal experience through specificity — real scenarios, precise details, concrete outcomes.\nFor medical/legal/financial topics: only cite named primary sources (PubMed, official .gov/.org, peer-reviewed journals).\nNever use vague authority phrases like \"experts say\", \"studies show\", \"research reveals\" without a named source + URL.\nFabricated physician quotes or fake clinical statistics are grounds for immediate rejection.`;\n\n// ─── STYLE INJECTION ─────────────────────────────────────────────────────────\nconst stylePromptInjection = `### STYLE ENFORCEMENT (MANDATORY)\n\n- Do NOT use em-dashes (—). Replace with commas, periods, or parentheses.\n- Avoid: \"journey\", \"navigate\", \"navigating\", \"seamless\", \"seamlessly\"\n- Avoid: \"in the ever-changing landscape of\", \"in the ever-evolving terrain of\"\n- Restrict: \"comprehensive\", \"integrate\", \"integrated\"\n- Avoid correlative constructions: \"not only … but also\", \"not just … but also\"\n- Keep sentences concise. Keep paragraphs to 3-4 sentences maximum.\n- Writing must feel like trusted professional advice, not marketing copy.`;\n\n// ─── SYSTEM INJECTION ────────────────────────────────────────────────────────\nconst systemPromptInjection = `### GLOBAL RULES (NON-NEGOTIABLE)\n\n1. Client name appears ONLY in the closing paragraph — never in the opening.\n2. Write in first-person brand voice (we/our) for the client.\n3. Every article must start with Meta Title: and Meta Description: before the H1.\n4. No fabricated statistics, hallucinated studies, or invented clinical data.\n5. No em-dashes, no journey/navigate/seamless language.\n6. Word count must be within 10% of the target.`;\n\n// ─── STRUCTURE INJECTION ─────────────────────────────────────────────────────\nconst structurePromptInjection = `### STRUCTURAL REQUIREMENTS\n\n- Article must begin with: Meta Title: [max 60 chars] and Meta Description: [140-160 chars]\n- H1 must contain the primary keyword\n- Minimum one H2 must contain the primary keyword or a close variation\n- Primary keyword must appear in the first 100 words (after Meta Title/Description)\n- Primary keyword must appear in the conclusion\n- All FAQ questions must use H3 tags (### in markdown)\n- Never skip heading levels (H1 → H2 → H3 only)`;\n\n\nreturn {\n  json: {\n    primary_keyword_joined:         primary,\n    secondary_keywords_arr:         secondary,\n    semantic_themes_arr:            semantic,\n    brief_enforcer_injection:       briefEnforcerInjection,\n    faq_injection:                  faqInjection,\n    global_rules_injection:         globalRulesInjection,\n    custom_rules_injection:         customRulesInjection,\n    first_paragraph_client_injection: firstParagraphInjection,\n    secondary_keyword_checklist:    secondaryKeywordChecklist,\n    eeat_prompt_injection:      eeatPromptInjection,\n    style_prompt_injection:     stylePromptInjection,\n    system_prompt_injection:    systemPromptInjection,\n    structure_prompt_injection: structurePromptInjection,\n    brief_authority_preamble:       briefAuthorityPreamble,\n    detected_brief_headings:        briefHeadings,\n    detected_faqs:                  faqArray,\n    detected_custom_rules:          briefCustomRules,\n  }\n};"
      },
      "id": "dea7f115-506a-4cf0-b2e3-016527135f31",
      "name": "Keyword Strategist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        525456,
        113424
      ]
    },
    {
      "parameters": {
        "jsCode": "// Keyword Validator v3 — Expert-weighted scoring\nconst content = $input.first().json.content || $input.first().json.text || '';\nconst input = $('Webhook1').first().json.body;\n\nconst primary = (input.primary_keywords || '').trim();\nfunction parseKeywords(raw) {\n  if (!raw || typeof raw !== 'string') return [];\n  return raw.split(',').map(k => k.trim()).filter(k => k.length > 0);\n}\nfunction escapeRegex(str) {\n  return str.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\n\nif (!primary) {\n  return [{ json: { score: 0, passed: false, issues: ['No primary keyword provided'] } }];\n}\n\nconst allSecondary = [...parseKeywords(input.secondary_keywords), ...parseKeywords(input.semantic_theme)]\n  .filter((v, i, a) => a.indexOf(v) === i);\n\nconst lower = content.toLowerCase();\nconst primaryLower = primary.toLowerCase();\nconst plainText = content.replace(/<[^>]*>/g, '').replace(/[#*_]/g, '');\nconst words = plainText.split(/\\s+/);\n\nlet score = 0;\nconst issues = [];\n\n// 1. H1 contains primary keyword (20 pts — highest SEO value per Backlinko/Google)\nconst h1Match = content.match(/<h1[^>]*>(.*?)<\\/h1>/i) || content.match(/^#\\s+(.+)$/m);\nconst h1Text = h1Match ? h1Match[1].toLowerCase() : '';\nif (!h1Match) {\n  issues.push('MISSING H1 TAG');\n} else if (h1Text.includes(primaryLower)) {\n  score += 20;\n} else {\n  issues.push('Primary keyword NOT in H1. Found: \"' + (h1Match[1] || '').substring(0, 60) + '\"');\n}\n\n// 2. Primary in first 100 words (15 pts — Backlinko: \"still makes a difference\")\nconst first100 = words.slice(0, 100).join(' ').toLowerCase();\nif (first100.includes(primaryLower)) {\n  score += 15;\n} else {\n  issues.push('Primary keyword NOT in first 100 words');\n}\n\n// 3. Primary (or close variation) in at least one H2 (15 pts)\nconst h2Matches = content.match(/<h2[^>]*>(.*?)<\\/h2>/gi) || content.match(/^##\\s+(.+)$/gm) || [];\nconst h2Texts = h2Matches.map(h => h.replace(/<[^>]*>/g, '').replace(/^##\\s+/, '').toLowerCase());\nconst primaryWords = primaryLower.split(/\\s+/);\nconst minMatchWords = Math.ceil(primaryWords.length * 0.6);\nconst primaryInH2 = h2Texts.some(h => {\n  if (h.includes(primaryLower)) return true;\n  const matchedWords = primaryWords.filter(w => h.includes(w));\n  return matchedWords.length >= minMatchWords;\n});\nif (primaryInH2) {\n  score += 15;\n} else {\n  issues.push('Primary keyword (or variation) NOT in any H2');\n}\n\n// 4. Primary in conclusion (10 pts)\nconst paragraphs = plainText.split(/\\n\\n+/).filter(p => p.trim().length > 30);\nconst lastPara = paragraphs.length > 0 ? paragraphs[paragraphs.length - 1].toLowerCase() : '';\nif (lastPara.includes(primaryLower)) {\n  score += 10;\n} else {\n  issues.push('Primary keyword NOT in conclusion');\n}\n\n// 5. Keyword frequency check (10 pts — Backlinko: ~8 per 3200 words)\nconst primaryRegex = new RegExp(escapeRegex(primaryLower), 'gi');\nconst primaryCount = (lower.match(primaryRegex) || []).length;\nconst wordCount = words.length;\nconst expectedFreq = Math.max(3, Math.round((wordCount / 3200) * 8));\nif (primaryCount >= expectedFreq - 1 && primaryCount <= expectedFreq * 2) {\n  score += 10;\n} else if (primaryCount >= 2) {\n  score += 5;\n  issues.push('Keyword frequency: ' + primaryCount + 'x (target: ~' + expectedFreq + 'x)');\n} else {\n  issues.push('Keyword used only ' + primaryCount + 'x (target: ~' + expectedFreq + 'x)');\n}\n\n// 6. All secondary/semantic keywords present (25 pts)\nconst secondaryResults = allSecondary.map(kw => ({\n  keyword: kw,\n  found: lower.includes(kw.toLowerCase())\n}));\nconst secondaryFound = secondaryResults.filter(s => s.found).length;\nconst secondaryTotal = allSecondary.length || 1;\nscore += Math.round((secondaryFound / secondaryTotal) * 25);\nconst missing = secondaryResults.filter(s => !s.found).map(s => s.keyword);\nif (missing.length > 0) {\n  issues.push('MISSING secondary/semantic: ' + missing.join(' | '));\n}\n\n// 7. H2 keyword distribution (5 pts bonus — Surfer SEO best practice)\nconst keywordsInH2 = allSecondary.filter(kw =>\n  h2Texts.some(h => h.includes(kw.toLowerCase()))\n);\nif (keywordsInH2.length >= 1) {\n  score += 5;\n}\n\n// 8. Keyword bolding penalty (informational)\nconst boldedKeyword = content.match(new RegExp('\\\\*\\\\*[^*]*' + escapeRegex(primaryLower) + '[^*]*\\\\*\\\\*', 'i'));\nif (boldedKeyword) {\n  issues.push('WARNING: Primary keyword is bolded in body text');\n}\n\nconst finalScore = Math.min(100, score);\nconst passed = finalScore >= 60 && h1Text.includes(primaryLower) && first100.includes(primaryLower);\n\nreturn [{ json: {\n  score: finalScore,\n  passed,\n  issues,\n  checks: {\n    primaryInH1: h1Text.includes(primaryLower),\n    primaryInFirst100: first100.includes(primaryLower),\n    primaryInH2: primaryInH2,\n    primaryInConclusion: lastPara.includes(primaryLower),\n    frequency: primaryCount + 'x (target: ~' + expectedFreq + 'x)',\n    secondaryCoverage: secondaryFound + '/' + allSecondary.length,\n    missingKeywords: missing,\n    secondaryInH2s: keywordsInH2\n  }\n}}];"
      },
      "id": "330fc831-15db-4cde-89ff-6d5573caf62c",
      "name": "Keyword Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        525904,
        113424
      ]
    },
    {
      "parameters": {
        "folderId": "={{ $('Create folder1').first().json.id }}",
        "title": "={{ $('Webhook1').first().json.body.title }} - Claude"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        536816,
        113344
      ],
      "id": "bd494509-f675-490e-b0c6-7280494a9763",
      "name": "Create a document17",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "MtLhGZ2k5z3HZHk8",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=Overall Score: {{ $('1st Scoring Agent3').first().json.message.content.overallScore }}/100\n\nPotential Issues: {{ $('1st Scoring Agent3').first().json.message.content.issues }}\n\nPotential Fixes: {{ $('1st Scoring Agent3').first().json.message.content.fixes }}\n\nPotential Impact: {{ $('1st Scoring Agent3').first().json.message.content.impact }}\n\nCurrent Content: {{ $('Document Export Sanitization4').first().json.message.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        537104,
        113344
      ],
      "id": "3d0e51e1-94d5-4867-a74b-40b9bfdf320d",
      "name": "Update a document17",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "MtLhGZ2k5z3HZHk8",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        523632,
        114512
      ],
      "id": "3f95ade9-e820-44d8-bd31-2e6ab64dbbbe",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://skywide-content-flow.vercel.app/api/webhooks/n8n-error",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{$json.execution.id}}\",\n  \"errorMessage\": \"{{$json.execution.error.message}}\",\n  \"nodeName\": \"{{$json.execution.lastNodeExecuted}}\",\n  \"workflowId\": \"{{$workflow.id}}\",\n  \"workflowName\": \"{{$workflow.name}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        523856,
        114512
      ],
      "id": "67a08828-005a-4fc3-8447-118634580f42",
      "name": "Send Error to Dashboard"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://skywide-content-flow.vercel.app/api/webhooks/n8n-start",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{$execution.id}}\",\n  \"run_id\": \"{{  $('Webhook1').first().json.body.run_id }}\",\n  \"request_id\": \"{{ $('Webhook1').first().json.body.request_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        523856,
        113424
      ],
      "id": "5d10d7f0-91cf-4720-9dca-43258a2cb1bb",
      "name": "Startup Update"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://skywide-content-flow.vercel.app/api/webhooks/n8n-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"request_id\": $('Webhook1').first().json.body.request_id,\n  \"run_id\": $('Webhook1').first().json.body.run_id,\n  \"webhook_response\": $('Create folder1').isExecuted ? \"https://drive.google.com/drive/u/0/folders/\" + $('Create folder1').first().json.id : '',\n  \"raw_content\": $('Document Export Sanitization4').first().json.message.content\n} }}",
        "options": {}
      },
      "id": "b8ab02a3-f5f1-44b9-be57-b62572702888",
      "name": "Signal Completion (Update a document17)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        537328,
        113344
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are an exact structural extraction component. Extract four things from the Creative Brief and return them as raw valid JSON with NO markdown wrapping and NO explanation.\n\nReturn ONLY this JSON structure:\n{\n  \"headings\": [\"H2 heading 1\", \"H2 heading 2\"],\n  \"faqs\": [{\"question\": \"Q1?\", \"answer\": \"A1 text\"}],\n  \"custom_rules\": [\"Rule 1\", \"Rule 2\"],\n  \"tone_instructions\": \"Tone description as a single string\"\n}\n\nEXTRACTION RULES:\n\nheadings:\n- Extract ONLY explicit H2 or H3 headings from the structural outline section.\n- Do NOT include the H1 title.\n- Look in sections labelled: \"Content Structure\", \"Outline\", \"H2s:\", \"Sections:\", \"Headings:\", \"Content Outline & Writing Instructions\".\n- Preserve the exact heading text. Strip leading \"H2:\", \"H3:\", \"##\", \"###\", \"-\", \"*\" markers.\n\nfaqs:\n- Extract from the FAQ or \"Frequently Asked Questions\" section only.\n- Include answers if present. Use empty string for missing answers.\n- Each entry: { \"question\": \"...\", \"answer\": \"...\" }\n\ncustom_rules:\n- Extract any explicit writing instructions or constraints that are NOT headings or FAQs.\n- Look in sections labelled: \"Writing Instructions\", \"Style Notes\", \"Editorial Rules\", \"Content Notes\", \"Writing Guidelines\", \"Restrictions\", \"Do / Don't\", \"Important Notes\".\n- Also extract inline constraints anywhere in the brief that use directive language: \"must\", \"do not\", \"always\", \"never\", \"avoid\", \"ensure\", \"should\", \"do NOT\", \"include\", \"exclude\", \"refrain\".\n- Each rule should be a self-contained instruction string.\n- Extract up to 20 rules maximum.\n\ntone_instructions:\n- Extract the tone/voice directive as a single descriptive string.\n- Look for: \"Tone:\", \"Voice:\", \"Writing Style:\", \"Tone & Style:\", \"Tone of Voice:\".\n- If multiple tone descriptors exist, combine them into one string.\n- Return empty string if no tone directive is found.\n\nIf any category yields no results, return an empty array [] or empty string \"\".",
              "role": "system"
            },
            {
              "content": "=Creative brief text to extract from:\n\n{{ $('Webhook1').first().json.body.creative_brief }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1500,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        524080,
        113424
      ],
      "id": "a3104167-ba87-4389-8611-e8e9f6bed391",
      "name": "Parse Creative Brief (LLM)",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "You are a Brief Fact-Checker. Your sole job is to audit every factual claim in a content brief BEFORE anyone writes anything, and produce a structured verdict on each one.\n\n━━━ YOUR ONE JOB ━━━\nRead the brief. Find every claim that could be verified or refuted. Verdict each one. Output the audit. Nothing else.\n\n━━━ WHAT COUNTS AS A CLAIM ━━━\nAudit these claim types — no others:\n1. Statistics and numbers (percentages, multipliers, rates, counts)\n2. Legal/regulatory citations (codes, statutes, mandated thresholds)\n3. Named experts, authors, physicians (verify they exist at the stated affiliation)\n4. Named studies (verify author, year, journal, and that the finding matches what the brief says)\n5. Organization claims (verify APA/AAP/ASHA/etc actually published this guideline)\n6. Promotional stats (e.g. \"50% better outcomes\") — these MUST trace to an independent source\n\n━━━ CLAIM TYPE — TWO TRACKS ━━━\n\nClaims fall into two distinct types. Classify each claim before verifying it:\n\nTRACK A — CLIENT-SPECIFIC CLAIMS\nThese are facts about what the client does, offers, holds, or publishes about themselves.\nExamples: services they offer, credentials they hold, program names, team members,\n          outcome stats they publish, locations, awards, differentiators.\nPriority: The client’s own website is the PRIMARY authority for facts about themselves.\n          You are verifying that the claim exists on their site — not second-guessing it with external sources.\n\nTRACK B — GENERAL / REGULATORY / RESEARCH CLAIMS\nThese are facts about the world outside the client.\nExamples: legal requirements, named studies, org guidelines, industry statistics,\n          regulatory codes, third-party research findings.\nPriority: These MUST be verified against independent primary sources.\n          A client’s website cannot verify a legal requirement or a third-party study.\n\n━━━ SOURCE PRIORITY CHAIN ━━━\n\nFOR TRACK A (client-specific claims):\n  ► TIER 1 (Highest): Client’s own published website (from Client Site Researcher data)\n                    If the claim is published on their site → ✅ CLIENT-VERIFIED\n                    The client owns this claim. Do not second-guess it.\n  ► TIER 2:         Sources the client explicitly cites on their website\n  ► NEVER:          Do not use independent sources to override what a client says about themselves.\n                    You are not fact-checking their identity.\n\nFOR TRACK B (general/regulatory/research claims):\n  ► TIER 1 (Highest): Independent primary sources — .gov, .edu, peer-reviewed journals,\n                    official regulatory bodies, official org websites\n  ► TIER 2:         Sources explicitly listed in the brief’s “Sources” or “References” section\n  ► NEVER:          Client’s website cannot verify a law, study, or third-party guideline\n\n━━━ DECISION TREE FOR EACH CLAIM ━━━\nFor every claim, first classify it (Track A or Track B), then apply:\n\nIF TRACK A — Client-specific claim:\n► Is this claim published on the client’s own website?\n   YES → ✅ CLIENT-VERIFIED | source: [client page URL]\n   NO  → ⚠️ REWRITE | note: “Not confirmed on client website — remove or ask client to verify”\n         Do NOT substitute with an external source — that would be inventing client facts.\n\nIF TRACK B — General/regulatory/research claim:\n► STEP 1: Search TIER 1 independent sources\n   FOUND, matches exactly      → ✅ VERIFIED | source: [URL]\n   FOUND, brief overstates it  → ⚠️ REWRITE | correction: [exact correct finding] | source: [URL]\n   NOT FOUND at TIER 1         → go to STEP 2\n\n► STEP 2: Check brief’s cited Sources section\n   Source verifies the claim   → ✅ VERIFIED | source: [URL]\n   Source does NOT support it  → ❌ REMOVE (fabricated citation)\n   Not in brief’s sources      → ❌ REMOVE\n\n► STEP 3: Fallback\n   ❌ REMOVE. Provide a qualitative rewrite suggestion:\n   e.g. “Replace ‘[specific number]’ with ‘verify the current figure with [authority]’”\n\n━━━ REWRITE RULES ━━━\nA ⚠️ REWRITE verdict means: the claim has a better version. Provide it.\nFormat: ⚠️ REWRITE | original: \"[what the brief says]\" | correction: \"[exact correct claim]\" | source: [URL]\nThe Verified Claims Parser will insert the corrected version — the wrong version will be dropped.\n\nIf correct version doesn't exist at any tier:\n→ Provide a qualitative rewrite suggestion\n  Example: \"15 PDH per semester hour\" not found → suggest \"College credits may count toward PDH requirements; verify the conversion rate with [your state board]\"\n\n━━━ HARD RULES ━━━\n• Never invent a correction. If you cannot find the exact figure from a primary source, the verdict is REMOVE.\n• Never substitute a related-but-different figure. Exact match or remove.\n• Do not add claims that were not in the brief.\n• Citation labels MUST match the actual title of the source. Do not relabel a paper to make it appear relevant.\n\n━━━ OUTPUT FORMAT (use this exactly) ━━━\n## BRIEF FACT-CHECK REPORT\n\n### VERIFIED CLAIMS (safe to use)\n[list each ✅ claim with its source URL]\n\n### CLAIMS REQUIRING REWRITE (writer must use the corrected version)\n[list each ⚠️ claim with: original text | corrected text | source URL]\nNote: The Verified Claims Parser will replace the original with the corrected version automatically.\nIf only a qualitative rewrite is possible (no exact correction exists), provide the suggested rewrite.\n\n### REMOVE FROM ARTICLE (do not use)\n[list each ❌ claim and brief reason — \"not found\", \"client-only stat\", \"org does not publish this guideline\", etc.]\n\n### FORBIDDEN ATTRIBUTION PATTERNS FOR THIS ARTICLE\n[Based on the brief topic, list 5-8 specific fake-authority phrases the writer must avoid.\nThese should be tailored to the subject matter, e.g. for mental health: \"Clinical experience across residential programs shows...\"]",
              "role": "system"
            },
            {
              "content": "Audit every factual claim in this brief. Apply the decision tree to each one.\n\nBrief to audit:\n{{ $('Webhook1').first().json.body.creative_brief }}\n\nClient website (claims from this site may be used as-is, but still need to be verified as actually published there):\n{{ $('Webhook1').first().json.body.client_website_url || 'Not provided' }}",
              "role": "user"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        525232,
        113424
      ],
      "id": "e37024a2-5246-4576-bc68-9690ed06c244",
      "name": "Pre-Draft Fact Checker",
      "credentials": {
        "perplexityApi": {
          "id": "iuHSBzk6FDLpyJRT",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "You are a Post-Draft Fact-Checker. You receive a finished article and verify it against real-world primary sources. You output a FACT-CHECK REPORT — not the article, not a rewrite.\n\n━━━ YOUR ONE JOB ━━━\nVerify every factual claim in the article. Return verdicts. Claude downstream applies the corrections.\n\n━━━ WHAT TO CHECK ━━━\n\n1. CITATION COMPLIANCE — Did the article use the exact studies/authors/years the brief required?\n   If the brief required \"Smith et al. 2019\" and the article used something else → flag it.\n\n2. STUDY PRECISION — For every study cited, does the claim match what the study actually measured?\n   If a study measured only free testosterone → the article must not claim it affected \"total testosterone.\"\n\n3. FINDING ACCURACY — Did the article invert or misrepresent a study's conclusion? Flag and correct.\n\n4. NAMED ENTITY VERIFICATION — If a named person appears with a role or byline:\n   verify they actually appear on the client website or cited source. If not → flag for removal.\n\n5. STATISTIC ACCURACY — Verify every number against an independent primary source.\n   Decision:\n   → Exact figure confirmed from independent source → ✅ VERIFIED\n   → Figure only on client's own site → ✅ CLIENT-VERIFIED (already in ground truth)\n   → Figure NOT from any independent source AND NOT on client site → ❌ REMOVE\n\n6. CITATION LABELS — Every citation label must match the actual paper title at that URL.\n   If the paper title doesn't match what the article claims → ❌ REMOVE that citation.\n\n7. PROCEDURAL SPECIFICS — Audit rates, timelines, penalty amounts, deadlines.\n   If not sourced to a primary document → ❌ REMOVE, flag for qualitative rewrite.\n\n━━━ OUTPUT FORMAT (return this — no article) ━━━\n\n## POST-DRAFT FACT-CHECK REPORT\n\n### ✅ VERIFIED (confirmed correct — keep as-is)\n- [Claim] | Source: [URL]\n\n### ⚠️ CORRECTION NEEDED (wrong but correctable)\n- [What article says] → [Correct version] | Source: [URL]\n\n### ❌ REMOVE (unverifiable — remove or rewrite qualitatively)\n- [Claim] | Reason: [not found / fabricated / client-only]\n\n### CITATION LABEL ERRORS\n- [Article label] → [Actual paper title at that URL] | Action: REMOVE if unrelated\n\n━━━ HARD RULES ━━━\n• Do NOT rewrite the article\n• Do NOT output the full article or any section of it\n• Do NOT add new statistics or claims\n• Do NOT substitute a wrong figure with a related-but-different figure\n• If a claim is correct but uncited → flag it in VERIFIED with note \"needs citation\"",
              "role": "system"
            },
            {
              "content": "Original Brief (for citation and requirement cross-checking):\n{{ $('Webhook1').first().json.body.creative_brief }}\n\nPre-Draft Fact-Check Report (use as ground truth — do not re-verify claims already audited here):\n{{ $('Pre-Draft Fact Checker').first().json.choices?.[0]?.message?.content || $('Pre-Draft Fact Checker').first().json.text || 'No pre-draft report available.' }}\n\nVerified Client Profile (ground truth for client-specific stats):\n{{ JSON.stringify($('Client Profile Extractor').first().json) }}\n\nArticle to fact-check:\n{{ $('Data Check & Research Gaps1').first().json.choices?.[0]?.message?.content || $('Data Check & Research Gaps1').first().json.text || $('Data Check & Research Gaps1').first().json.message?.content }}\n\nReturn the FACT-CHECK REPORT only. Do not rewrite or output the article.",
              "role": "user"
            }
          ]
        },
        "options": {
          "maxTokens": 8000
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        527376,
        113252
      ],
      "id": "77408ebb-8353-4801-8746-d63644916afb",
      "name": "Post-Draft Fact Checker",
      "credentials": {
        "perplexityApi": {
          "id": "iuHSBzk6FDLpyJRT",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are a strict content structure auditor. Compare a generated article against required structure from a content brief. Return ONLY raw valid JSON — no markdown, no commentary.\n\nJSON format:\n{\n  \"headings_match\": true,\n  \"faq_included\": true,\n  \"rules_violated\": [\"specific violation 1\", \"specific violation 2\"],\n  \"overall_pass\": true,\n  \"correction_notes\": \"Precise surgical instructions to fix ONLY the issues found.\"\n}\n\nRules:\n- headings_match: true ONLY if ALL required headings appear in the article. Allow semantic equivalence — exact wording not required if meaning is identical.\n- faq_included: true if required FAQ questions appear in an FAQ section. true if no FAQs were required.\n- rules_violated: list ONLY actual violations of the brief-specific custom rules. Be specific about WHERE the violation occurs (e.g. \"Rule 3 violated: Em-dash used in paragraph 2 of the 'Causes' section\").\n- overall_pass: true ONLY if headings_match=true AND faq_included=true AND rules_violated=[] (empty array).\n- correction_notes: If overall_pass is false, write precise surgical instructions for a rewriter. Reference the exact location of each issue. If overall_pass is true, use empty string \"\".",
              "role": "system"
            },
            {
              "content": "=REQUIRED HEADINGS:\n{{ $('Keyword Strategist').first().json.detected_brief_headings?.length > 0 ? $('Keyword Strategist').first().json.detected_brief_headings.join('\\n') : 'No specific headings required — accept any structure.' }}\n\nREQUIRED FAQ QUESTIONS:\n{{ $('Keyword Strategist').first().json.detected_faqs?.length > 0 ? $('Keyword Strategist').first().json.detected_faqs.map(f => f.question).join('\\n') : 'No FAQs required.' }}\n\nBRIEF-SPECIFIC CUSTOM RULES:\n{{ $('Keyword Strategist').first().json.detected_custom_rules?.length > 0 ? $('Keyword Strategist').first().json.detected_custom_rules.join('\\n') : 'No brief-specific rules to check.' }}\n\nGENERATED ARTICLE TO AUDIT:\n{{ $json.content || $json.text || $json.message?.content || $json.output || '' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 8000,
          "temperature": 0
        }
      },
      "id": "qa-001-structure-auditor-p1",
      "name": "Structure Auditor (Pass 1)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        532208,
        113760
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      },
      "notes": "Audits generated article structure vs brief. Returns JSON compliance report."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "audit-gate-1-cond",
              "leftValue": "={{ ($json.message?.content?.overall_pass ?? $json.overall_pass ?? ($json.message?.content?.rules_violated?.length === 0) ?? false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "qa-002-audit-gate-p1",
      "name": "Structure Audit Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        532560,
        113760
      ],
      "notes": "PASS → 1st Scoring Agent3 (happy path). FAIL → Surgical Rewriter."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a surgical content editor. You have a generated article and a precise list of structural violations. Fix ONLY the listed violations and return the COMPLETE corrected article.\n\nCRITICAL RULES — READ CAREFULLY:\n1. Fix ONLY the violations listed in CORRECTIONS NEEDED below. Touch nothing else.\n2. Preserve ALL existing content, headings, and formatting that are not listed as violations.\n3. Return the COMPLETE article with corrections applied — not just the changed sections.\n4. Do NOT add any commentary, apology, or explanation. Return only the article text.\n5. Do NOT add new sections, change the word count significantly, or restructure the article.\n\nCORRECTIONS NEEDED:\n{{ $('Structure Auditor (Pass 1)').first().json.message?.content?.correction_notes || $('Structure Auditor (Pass 1)').first().json.correction_notes || 'No specific corrections noted.' }}\n\nORIGINAL ARTICLE:\n{{ $('Document Export Sanitization5').first().json.content || $('Document Export Sanitization5').first().json.text || $('Document Export Sanitization5').first().json.message?.content || '' }}",
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "id": "qa-003-surgical-rewriter",
      "name": "Surgical Rewriter",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        532784,
        113884
      ],
      "notes": "Fixes ONLY the structural violations from the audit. Does not rewrite passing content."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are a strict content structure auditor. Compare a generated article against required structure from a content brief. Return ONLY raw valid JSON — no markdown, no commentary.\n\nJSON format:\n{\n  \"headings_match\": true,\n  \"faq_included\": true,\n  \"rules_violated\": [\"specific violation 1\", \"specific violation 2\"],\n  \"overall_pass\": true,\n  \"correction_notes\": \"Precise surgical instructions to fix ONLY the issues found.\"\n}\n\nRules:\n- headings_match: true ONLY if ALL required headings appear in the article. Allow semantic equivalence — exact wording not required if meaning is identical.\n- faq_included: true if required FAQ questions appear in an FAQ section. true if no FAQs were required.\n- rules_violated: list ONLY actual violations of the brief-specific custom rules. Be specific about WHERE the violation occurs (e.g. \"Rule 3 violated: Em-dash used in paragraph 2 of the 'Causes' section\").\n- overall_pass: true ONLY if headings_match=true AND faq_included=true AND rules_violated=[] (empty array).\n- correction_notes: If overall_pass is false, write precise surgical instructions for a rewriter. Reference the exact location of each issue. If overall_pass is true, use empty string \"\".",
              "role": "system"
            },
            {
              "content": "=REQUIRED HEADINGS:\n{{ $('Keyword Strategist').first().json.detected_brief_headings?.length > 0 ? $('Keyword Strategist').first().json.detected_brief_headings.join('\\n') : 'No specific headings required.' }}\n\nREQUIRED FAQ QUESTIONS:\n{{ $('Keyword Strategist').first().json.detected_faqs?.length > 0 ? $('Keyword Strategist').first().json.detected_faqs.map(f => f.question).join('\\n') : 'No FAQs required.' }}\n\nBRIEF-SPECIFIC CUSTOM RULES:\n{{ $('Keyword Strategist').first().json.detected_custom_rules?.length > 0 ? $('Keyword Strategist').first().json.detected_custom_rules.join('\\n') : 'No brief-specific rules to check.' }}\n\nCORRECTED ARTICLE TO AUDIT (post-rewrite):\n{{ $('Surgical Rewriter').first().json.text || $('Surgical Rewriter').first().json.output || $('Surgical Rewriter').first().json.message?.content || '' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 8000,
          "temperature": 0
        }
      },
      "id": "qa-005-structure-auditor-p2",
      "name": "Structure Auditor (Pass 2)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        533136,
        113884
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      },
      "notes": "Second compliance check after surgical rewrite."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "audit-gate-2-cond",
              "leftValue": "={{ $json.message?.content?.overall_pass ?? $json.overall_pass ?? false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "qa-006-audit-gate-p2",
      "name": "Structure Audit Gate 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        533552,
        113884
      ],
      "notes": "PASS → 1st Scoring Agent3. FAIL → Flag For Human Review (still proceeds to scoring)."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "flag-a",
              "name": "rewrite_flagged",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "flag-b",
              "name": "rewrite_flag_reason",
              "value": "={{ $('Structure Auditor (Pass 2)').first().json.message?.content?.rules_violated?.join('; ') || 'Structure audit failed after 2 correction passes. Manual review required.' }}",
              "type": "string"
            },
            {
              "id": "flag-c",
              "name": "content",
              "value": "={{ $('Surgical Rewriter').first().json.text || $('Surgical Rewriter').first().json.output || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "qa-007-flag-for-review",
      "name": "Flag For Human Review",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        533840,
        113964
      ],
      "notes": "Marks article as needing human review after 2 failed QA passes. Still routes to scoring."
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "You are a Client Intelligence Analyst. Your job is to find and extract only what a specific business explicitly publishes on their own website — nothing inferred, nothing assumed.\n\n━━━ YOUR ONE JOB ━━━\nSearch the client's website. Extract only explicitly published facts. Return a structured report. Do not write, interpret, or editorialize.\n\n━━━ SEARCH ORDER ━━━\n{{ $('Webhook1').first().json.body.client_website_url ? 'A website URL has been provided. Search it directly first.' : 'No URL provided. Search for the client by name to find their official website.' }}\n\n1. site:[client_website_url] services OR programs OR what-we-offer\n2. site:[client_website_url] about OR team OR staff\n3. site:[client_website_url] contact OR locations OR admissions\n4. Fallback: search \"[client_name] official website [city/state if known]\"\n\n━━━ EXTRACT ONLY THESE CATEGORIES ━━━\nFor each category, extract only what is EXPLICITLY STATED on the page.\nIf nothing is found for a category, write \"Not published on website.\"\n\n1. SERVICES & PROGRAMS — Exact names only, as listed on their site\n2. SERVICE AREAS — Cities, states, regions, or \"National\" if applicable\n3. CREDENTIALS — Certifications, licenses, accreditations, awards (include issuing body)\n4. TEAM MEMBERS — Name and exact role, only if listed on their site\n5. UNIQUE DIFFERENTIATORS — Specific claims they make about themselves\n6. PUBLISHED STATISTICS — Every number, percentage, outcome stat they publish (verbatim)\n7. INTERNAL LINKS — Relevant pages on their site that the article should link to\n\n━━━ STATISTICS ARE CRITICAL ━━━\nThe numbers you find here are the ONLY statistics writers are allowed to use.\nIf you find any number at all — outcome stats, years in business, number of clients, success rates, wait times — include it verbatim with its source page URL.\nIf you find NO statistics: write \"CONFIRMED: No numerical statistics published on client website.\"\n\n━━━ IF SITE IS INACCESSIBLE ━━━\nIf you cannot access the site at all: write \"SITE INACCESSIBLE: [reason]\" for every category.\nIf you can access part of the site: note which pages were accessible and which were not.\n\n━━━ HARD RULE ━━━\nDo NOT add industry-standard services you assume they probably offer.\nDo NOT infer from the article topic what the client must do.\nOnly what you can see on their actual pages.",
              "role": "system"
            },
            {
              "content": "Research this client and extract their verified business profile.\n\nClient Name: {{ $('Webhook1').first().json.body.client_name }}\nClient Website: {{ $('Webhook1').first().json.body.client_website_url || 'Not provided — search by name' }}\nArticle Topic: {{ $('Webhook1').first().json.body.title }}\n\nSearch their website thoroughly. Return everything you find in each category. Be specific.",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.1
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        524656,
        113280
      ],
      "id": "4f35c7d9-e340-46eb-985d-8e132c4a9143",
      "name": "Client Site Researcher",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "perplexityApi": {
          "id": "iuHSBzk6FDLpyJRT",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a JSON Data Extractor. You receive raw web research about a business and output a structured JSON profile. Nothing else.\n\n━━━ OUTPUT CONTRACT ━━━\nOutput ONLY valid JSON. No markdown. No code blocks. No commentary. No preamble.\nThe JSON object must have exactly these fields:\n\n{\n  \"verified\": true,\n  \"client_name\": \"string — exact name\",\n  \"services\": [\"exact service names as found on site\"],\n  \"products\": [\"exact product names as found on site\"],\n  \"service_areas\": [\"locations or 'National'\"],\n  \"credentials\": [\"Certification Name — Issuing Body\"],\n  \"team\": [\"Full Name — Exact Role\"],\n  \"unique_claims\": [\"specific differentiator as stated on site\"],\n  \"published_stats\": [\"exact statistic as found, e.g. '500+ clients served since 2010'\"],\n  \"internal_links\": [\"https://url — Page Description\"],\n  \"confidence\": \"high | medium | low\",\n  \"access_notes\": \"e.g. 'Site fully accessible' or 'About page 404, services page accessible'\"\n}\n\n━━━ EXTRACTION RULES ━━━\n• Only include facts explicitly stated in the research — no inference\n• Use empty arrays [] for categories with no findings\n• If research says \"SITE INACCESSIBLE\": set verified: false and note in access_notes\n• Keep each array item to one line\n• \"published_stats\" is the most important field — include every number found verbatim",
              "role": "system"
            },
            {
              "content": "Convert this web research into a structured JSON client profile.\n\nClient: {{ $('Webhook1').first().json.body.client_name }}\n\nRaw Research:\n{{ $('Client Site Researcher').first().json.choices?.[0]?.message?.content || $('Client Site Researcher').first().json.message?.content || $('Client Site Researcher').first().json.text || 'No research data available' }}\n\nOutput valid JSON only.",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        524880,
        113280
      ],
      "id": "b67b27ca-6089-4ad5-bc7b-8f271495bb71",
      "name": "Client Profile Extractor",
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "rev_mode_check",
              "leftValue": "={{ $('Webhook1').first().json.body.is_revision }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06948d25-765f-4f40-8094-7c0c8836dc32",
      "name": "If Revision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        524432,
        113352
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 4096,
          "temperature": 0,
          "responseFormat": "json_object"
        }
      },
      "id": "bb9b1623-3b67-41af-8421-a4f743f209cc",
      "name": "Claims Extractor Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        529248,
        113548
      ],
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Claims & Placement Manifest Generator\n\nYou produce a PLACEMENT-AWARE CLAIMS MANIFEST. This manifest is read directly by the AI writer. Every item must tell the writer exactly what to say and exactly where to say it — no ambiguity.\n\n━━━ WHO READS THIS DOWNSTREAM ━━━\n1. The AI Writer (Claude Draft) — places each claim in its exact section\n2. The QSI Bouncer — audits the article against this manifest after drafting\n3. The Verified Claims Parser — cross-references this against the fact-check report\n\n━━━ YOUR INPUTS ━━━\n**Creative Brief:**\n{{ $('Webhook1').first().json.body.creative_brief || 'No Brief Provided' }}\n\n**Verified Client Website Data:**\n{{ JSON.stringify($json) }}\n\n━━━ WHAT QUALIFIES AS A CLAIM (strict definition) ━━━\n\nA claim MUST be one of these types:\n  ✅ STATISTIC      — A specific number, percentage, rate, or count with a verifiable source\n                      e.g. \"30 PDH required per biennium\" / \"500+ clients served\"\n  ✅ CITATION       — A named study, paper, regulatory code, or legal reference\n                      e.g. \"§ A-E 13.03(1)(b)\" / \"Lovaas 1987 study in JABA\"\n  ✅ REGULATION     — A hard legal/regulatory requirement or limit\n                      e.g. \"Minimum 13 PDH via live instruction\" / \"2 PDH ethics mandatory\"\n  ✅ ORG ATTRIBUTION — A guideline or recommendation explicitly published by a named organization\n                      e.g. \"BACB requires...\" / \"APA guidelines state...\" (only if verifiable)\n  ✅ CREDENTIAL     — A specific certification, accreditation, award the client holds\n                      e.g. \"Joint Commission accredited\" / \"CARF certified\"\n  ✅ INTERNAL LINK  — A specific page on the client's website the brief instructs to link to\n                      e.g. \"Link to /admissions in the 'How to Start' section\"\n  ✅ NAMED EXPERT   — A named person with a specific verifiable role or byline\n                      e.g. \"Dr. Jane Smith, BCBA-D at [client]\"\n  ✅ CLIENT STAT    — A number the client explicitly publishes on their website\n                      e.g. \"60% improvement in communication (as published at [URL])\"\n\nA claim MUST NOT be:\n  ❌ A topic sentence or section intro (\"This section covers...\")\n  ❌ A style or tone instruction (\"Write in a warm, empathetic tone\")\n  ❌ A general industry truth (\"ABA therapy is evidence-based\")\n  ❌ A keyword or SEO instruction (\"Use the term 'residential treatment'\")\n  ❌ An unattributed opinion or best practice (\"Parents should be involved in treatment\")\n  ❌ A vague authority reference (\"Research shows...\" without a named source)\n  ❌ A generic statistic without a traceable source and the source's exact URL\n\nIF IN DOUBT — ask: \"Can this be fact-checked against a real source?\"\nIf yes → include it as a claim.\nIf no (because it's general knowledge, a style note, or an opinion) → do NOT include it.\n\n━━━ PLACEMENT PRECISION RULE ━━━\nEvery claim MUST include a placement_instruction that specifies WHERE in its target section it goes.\nUse this format:\n- \"Place in the opening sentence of this section\"\n- \"Use as the supporting evidence after the second paragraph\"  \n- \"Cite at the end of this section before the section close\"\n- \"Weave into the third bullet point\"\n\nNever use \"anywhere in this section\" — the writer needs a specific position.\n\n━━━ SOURCES SECTION PARSING ━━━\nIf the brief has a \"Sources\", \"References\", or \"Cited Sources\" section at the bottom:\n→ Parse it as a separate authoritative list\n→ Add each source as a claim_type: \"citation\" assigned to the section the brief explicitly links it to\n→ If no section is specified for a source, assign it to claim_type: \"general_citation\" with target_section: \"Cited Sources\"\n→ These form the canonical citation list — any citation in the article must appear here\n\n━━━ INSTRUCTIONS ━━━\n\nSTEP 1 — Parse the brief's section-by-section outline (H2 headings and what belongs in each).\nParse the \"Sources\" / \"Cited Sources\" section separately as the canonical citation registry.\nIf the brief has no section outline, use the article title and topic to infer logical H2 sections.\n\nSTEP 2 — Apply the CLAIM QUALIFICATION FILTER above to every item you consider extracting.\nIf it doesn't meet the definition of a claim → skip it. Do NOT include it in the manifest.\n\nSTEP 3 — For each qualifying claim, record ALL of these fields:\n- claim_text: Verbatim from brief or website — do not paraphrase, do not summarize\n- target_section: The EXACT H2 heading this belongs under (copied from brief)\n- placement_instruction: One specific sentence (e.g. \"Place in the opening sentence of this section\")\n  NEVER use \"anywhere in this section\" — be precise about position\n- source: \"Brief\" | \"Website\" | \"Both\" | \"Brief-Cited-Source\"\n- claim_type: \"statistic\" | \"citation\" | \"regulation\" | \"credential\" | \"internal_link\" | \"org_attribution\" | \"named_expert\" | \"client_stat\" | \"general_citation\"\n- requires_verification: true (if it's a statistic, regulation, or org attribution) | false (if it's a credential or internal link)\n\nSTEP 4 — Generate forbidden_patterns: 6-10 fabricated-authority phrases SPECIFIC to this article's topic.\nThese should be tailored to the industry. For regulatory articles: \"According to current regulations...\" (without citing the specific code section)\nFor clinical articles: \"Clinical experience across [field] consistently shows...\"\nFor home services: \"Industry professionals consistently report...\"\n\nSTEP 5 — Count your manifest items. If you have more than 30 items, you are likely extracting\nnon-claims (topic sentences, style notes, generic truths). Review and remove non-qualifying items.\n\n━━━ FAILURE MODES ━━━\n• Brief section has no qualifying claims → leave that section out of the manifest\n• Claim cannot be assigned to a specific section → use target_section: \"General\"\n• Client website has no statistics → set published_stats_available: false\n• Brief contains a contradiction (e.g. two different numbers for the same fact) → extract BOTH,\n  mark each with a note: \"CONTRADICTION — verify against primary source before use\"\n\n━━━ OUTPUT CONTRACT ━━━\nReturn ONLY valid JSON matching the schema exactly. No markdown. No code blocks. No commentary.\nSchema is provided by the output parser.",
        "hasOutputParser": true
      },
      "id": "fa707500-6484-4078-8a6f-b544d7cc8f00",
      "name": "Claims Extractor & Manifest Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        529176,
        113324
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "id": "8e3f5373-bdad-4291-b346-6aff6e85b139",
      "name": "QSI Bouncer Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        531648,
        113700
      ],
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are the QSI Claims Verification Bouncer. You are the last gate before the article enters the editing chain. Your job is to clean the article — not to edit, rewrite, or improve it stylistically.\n\n━━━ YOUR TWO JOBS (in this order) ━━━\nPHASE 1: FABRICATION SCAN — Find and remove invented authority\nPHASE 2: CLAIMS AUDIT — Verify every factual claim against the verified manifest\n\n━━━ INPUTS ━━━\n\n**Drafted Article:**\n{{ $json.output || $json.text || $json.message?.content }}\n\n**Verified Claims Manifest (post-fact-check — this is the authoritative list):**\n{{ JSON.stringify($('Verified Claims Parser').first().json.output ? $('Verified Claims Parser').first().json.output.placement_manifest : ($('Claims Extractor & Manifest Generator').first().json.output ? $('Claims Extractor & Manifest Generator').first().json.output.placement_manifest : [])) }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPHASE 1 — FABRICATION SCAN\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nRead the entire article. Find every instance of these BANNED PATTERNS:\n\n**Pattern A — Unnamed practitioner consensus:**\n❌ \"Treatment providers specializing in...consistently see...\"\n❌ \"Clinical experience across...consistently shows...\"\n❌ \"Evidence-based programs...typically incorporate...\"\n❌ \"Professional standards from organizations like [X] recommend...\"\n❌ \"Practitioners consistently see...\" / \"Clinicians often find...\"\n❌ \"Research consistently shows...\" (no named source + year)\n❌ \"Studies suggest...\" (no named source + year)\n❌ \"Experts agree...\" / \"Many professionals report...\"\n\n**Pattern B — Fabricated organization citations:**\n❌ Any claim attributed to APA, AAP, AOTA, ASHA, or any named professional organization\n   UNLESS that exact claim appears in the Verified Claims Manifest above.\n\n**Pattern C — Fabricated clinical/internal testimonials:**\n❌ \"Our patients report...\" (unless verbatim from brief)\n❌ \"Families who work with us typically...\" (unless verbatim from brief)\n\n**How to handle each violation found:**\n→ Pattern A with no source → Remove the attribution. Keep the qualitative statement.\n  \"Research consistently shows X improves Y\" → \"X can support Y\"\n→ Pattern B org not in manifest → Remove the org name. Keep the claim as a general statement.\n  \"The APA recommends X\" → \"X is widely recognized as effective\"\n→ Pattern C fabricated quote → Delete the sentence entirely.\n→ Specific invented statistic (e.g. \"72% of patients\") not in manifest → Delete entirely.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPHASE 2 — CLAIMS AUDIT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nIF the Verified Claims Manifest is non-empty:\n→ For each item in the manifest: confirm it appears in its target section of the article.\n→ If a manifest item is MISSING from the article: insert it in the correct section. Write a natural sentence around it.\n→ If the article contains a specific statistic or authority claim NOT in the manifest: delete it.\n\nIF the Verified Claims Manifest is empty (purely creative brief with no factual claims):\n→ Skip the claims audit. The article has no verified claims to enforce.\n→ Still complete Phase 1 (fabrication scan) — fabricated authority phrases are never acceptable.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEDITORIAL FINAL CHECK\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nBefore outputting, verify:\n☐ Article starts with \"Meta Title:\" on line 1\n☐ Article starts with \"Meta Description:\" on line 2\n☐ Zero em-dashes (—) — replace any found with commas or periods\n☐ Client name appears only in the closing paragraph\n☐ None of these words present: seamless, seamlessly, journey, navigate, navigating\n☐ No fabricated statistics remain\n\n━━━ OUTPUT CONTRACT ━━━\nReturn ONLY the full cleaned article. Start with Meta Title: — end with the article's last sentence.\nDo not summarise what you changed. Do not add commentary. Output the article and nothing else.",
        "options": {
          "maxTokens": 8000
        }
      },
      "id": "8b0fd83b-5662-4434-9300-42c454366aa6",
      "name": "QSI Claims Verification Bouncer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        531576,
        113476
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0,
          "responseFormat": "json_object"
        }
      },
      "id": "44bc8e24-ad9d-4523-aefa-21f92961d28e",
      "name": "Verified Parser Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        529824,
        113796
      ],
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Verified Claims Parser\n\nYou are the gatekeeper between the raw claims manifest and the AI writer.\nYour output is the ONLY list of claims the writer is authorised to use.\nNothing enters the article that hasn't passed through you.\n\n━━━ YOUR ONE JOB ━━━\nCross-reference the Claims Manifest against the Fact-Check Report.\nKeep what's verified. Replace what's correctable. Drop what's not. Output a clean final manifest.\n\n━━━ INPUTS ━━━\n\n**Pre-Draft Fact-Check Report:**\n{{ $('Pre-Draft Fact Checker').first().json.choices?.[0]?.message?.content || $('Pre-Draft Fact Checker').first().json.text || 'No fact-check report available.' }}\n\n**Raw Claims Manifest (to be filtered):**\n{{ JSON.stringify($('Claims Extractor & Manifest Generator').first().json.output ? $('Claims Extractor & Manifest Generator').first().json.output.placement_manifest : []) }}\n\n━━━ SOURCE PRIORITY (use this when choosing which version of a claim to keep) ━━━\n\nTwo tracks — same logic as Pre-Draft Fact Checker:\n\nCLIENT-SPECIFIC CLAIMS (services, credentials, team, programs, client-published stats):\n  1. Client’s own website (from Client Site Researcher) — HIGHEST AUTHORITY\n     If the client published it, it is valid. Do not remove it because an external source disagrees.\n  2. Sources the client cites on their own site\n  3. If not found on client site → flag for removal or ask client to confirm\n\nGENERAL / REGULATORY / RESEARCH CLAIMS (laws, named studies, org guidelines, industry stats):\n  1. Independent primary source (.gov, .edu, peer-reviewed) — HIGHEST AUTHORITY\n  2. Brief’s cited Sources section (if fact-checker confirmed the URL checks out)\n  3. If neither confirms → drop the specific, rewrite as qualitative\n\n━━━ DECISION LOGIC — APPLY TO EVERY MANIFEST ITEM ━━━\n\n→ IF fact-check marks it ✅ VERIFIED:\n   KEEP the original claim_text. Add source_url from the fact-check report.\n\n→ IF fact-check marks it ⚠️ REWRITE:\n   REPLACE claim_text with the corrected version from the fact-check report.\n   Keep the same target_section and placement_instruction — only the claim text changes.\n   Add a note field: \"corrected — original brief said: [original text]\"\n   Add source_url from the correction.\n   ⚠️ IMPORTANT: If the corrected version only exists at TIER 3 (client's own site),\n   still include it — client-published claims are valid. Mark source: \"Client website\".\n\n→ IF fact-check marks it ❌ REMOVE or ❌ CLIENT-ONLY:\n   DROP IT entirely. Do not include in output.\n\n→ IF fact-check marks it with a qualitative rewrite suggestion (no exact correction available):\n   Include it with claim_text = the qualitative suggestion.\n   Add flag: \"qualitative_only\": true\n   This tells the writer: use this phrasing, don't try to find a number.\n\n→ IF the claim does NOT appear in the fact-check report at all:\n   KEEP IT if claim_type is: \"credential\", \"internal_link\", or \"client_stat\"\n   (these don't require independent verification — they're from the client's own site)\n   KEEP IT if claim_type is: \"citation\" with source \"Brief-Cited-Source\"\n   (the citation itself is in the manifest — the writer just links to it)\n   DROP IT if claim_type is: \"statistic\", \"regulation\", or \"org_attribution\" without verification\n   (these require independent confirmation — if the fact-checker didn't verify it, it's unsafe)\n\n→ If the fact-check report's \"REMOVE FROM ARTICLE\" section lists a claim:\n   DROP IT regardless of anything else. The fact-check overrides the manifest.\n\n━━━ CONTRADICTION HANDLING ━━━\nIf the manifest contains two items for the same fact (marked CONTRADICTION):\n→ Keep only the version that the fact-checker marks ✅ VERIFIED\n→ If both versions are unverified → drop both, add a single qualitative replacement\n\n━━━ OUTPUT CONTRACT ━━━\nReturn ONLY valid JSON. No markdown. No code blocks. No commentary.\nSchema is provided by the output parser.\nInclude at the top level:\n{\n  \"summary\": { \"total_input\": N, \"total_verified\": N, \"total_corrected\": N, \"total_dropped\": N },\n  \"placement_manifest\": [ ... ]\n}",
        "hasOutputParser": true
      },
      "id": "e8b80ca1-531e-447a-8700-91c314585caa",
      "name": "Verified Claims Parser",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        529752,
        113572
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"verified_placement_manifest\": [\n    {\n      \"section\": \"H2 section heading this claim belongs to\",\n      \"claim\": \"The exact verified claim text\",\n      \"verified_source_url\": \"URL from Perplexity verification\"\n    }\n  ]\n}"
      },
      "id": "verified-claims-output-parser",
      "name": "Verified Claims Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        529752,
        113372
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"placement_manifest\": [\n    {\n      \"section\": \"H2 section heading this claim belongs to\",\n      \"claim\": \"The exact claim, statistic, citation, or link text to include\",\n      \"source\": \"Brief | Website | Both\",\n      \"placement_instruction\": \"Exact instruction from the brief (e.g. cite Cleveland Clinic here, link to young adult treatment page)\"\n    }\n  ],\n  \"forbidden_patterns\": [\n    \"string\"\n  ]\n}"
      },
      "id": "claims-extractor-output-parser",
      "name": "Claims Extractor Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        529176,
        113124
      ]
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Startup Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder1": {
      "main": [
        [
          {
            "node": "Claude Draft (Claude Opus 3)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Check & Research Gaps1": {
      "main": [
        [
          {
            "node": "Post-Draft Fact Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Keyword Check + Semantic Gap1": {
      "main": [
        [
          {
            "node": "Claude Apply Recommendations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Apply Recommendations1": {
      "main": [
        [
          {
            "node": "Claude EEAT Injection1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude EEAT Injection1": {
      "main": [
        [
          {
            "node": "OpenAI SEO Optimization1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI SEO Optimization1": {
      "main": [
        [
          {
            "node": "Claude NLP & PR Optimization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude NLP & PR Optimization": {
      "main": [
        [
          {
            "node": "Claude Humanised Readability Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Final SEO Snippet Optimization": {
      "main": [
        [
          {
            "node": "Document Export Sanitization5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Export Sanitization5": {
      "main": [
        [
          {
            "node": "Structure Auditor (Pass 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Humanised Readability Rewrite": {
      "main": [
        [
          {
            "node": "Claude Final SEO Snippet Optimization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        []
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        []
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        []
      ]
    },
    "Claude Draft (Claude Opus 3)1": {
      "main": [
        [
          {
            "node": "QSI Claims Verification Bouncer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Strategist": {
      "main": [
        [
          {
            "node": "Keyword Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Validator": {
      "main": [
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document17": {
      "main": [
        [
          {
            "node": "Update a document17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document17": {
      "main": [
        [
          {
            "node": "Signal Completion (Update a document17)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Startup Update": {
      "main": [
        [
          {
            "node": "Parse Creative Brief (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Creative Brief (LLM)": {
      "main": [
        [
          {
            "node": "Pre-Draft Fact Checker",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Draft Fact Checker": {
      "main": [
        [
          {
            "node": "Keyword Strategist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Draft Fact Checker": {
      "main": [
        [
          {
            "node": "Claude Keyword Check + Semantic Gap1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Auditor (Pass 1)": {
      "main": [
        [
          {
            "node": "Structure Audit Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Audit Gate": {
      "main": [
        [
          {
            "node": "Create a document17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Surgical Rewriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Surgical Rewriter": {
      "main": [
        [
          {
            "node": "Structure Auditor (Pass 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Auditor (Pass 2)": {
      "main": [
        [
          {
            "node": "Structure Audit Gate 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Audit Gate 2": {
      "main": [
        [
          {
            "node": "Create a document17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag For Human Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag For Human Review": {
      "main": [
        []
      ]
    },
    "Client Site Researcher": {
      "main": [
        [
          {
            "node": "Client Profile Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Profile Extractor": {
      "main": [
        [
          {
            "node": "Claims Extractor & Manifest Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Revision": {
      "main": [
        [
          {
            "node": "Pre-Draft Fact Checker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Client Site Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claims Extractor & Manifest Generator": {
      "main": [
        [
          {
            "node": "Verified Claims Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QSI Claims Verification Bouncer": {
      "main": [
        [
          {
            "node": "Data Check & Research Gaps1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verified Claims Parser": {
      "main": [
        [
          {
            "node": "Keyword Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claims Extractor Model": {
      "ai_languageModel": [
        [
          {
            "node": "Claims Extractor & Manifest Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "QSI Bouncer Model": {
      "ai_languageModel": [
        [
          {
            "node": "QSI Claims Verification Bouncer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verified Parser Model": {
      "ai_languageModel": [
        [
          {
            "node": "Verified Claims Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claims Extractor Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Claims Extractor & Manifest Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Verified Claims Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Verified Claims Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a09af904c89d8bd1ffb34a0a4a29385c214bff1ce25df6d68c440d7ac472b65f"
  }
}