DEV Skywide Content (Word Count Fix) PRE-PROMPT-REWRITE 2026-06-08T10-06-41.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Trigger\n\nSkywide Content Request Form",
        "height": 300,
        "width": 392,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        524208,
        111536
      ],
      "typeVersion": 1,
      "id": "91c04445-efaa-4b20-a08e-8c82744b7724",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "The webhook connects to "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        524816,
        111984
      ],
      "typeVersion": 1,
      "id": "a244c957-b740-49cd-bc15-bd1f553125a3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-engine-dev",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        523632,
        113424
      ],
      "id": "fff10ece-82ba-4695-b1df-35c3759a6b59",
      "name": "Webhook1",
      "webhookId": "c9d7ab2c-298f-4b57-be8e-235a1c25f1ef"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Webhook1').first().json.body.title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1h7-ILBh46Ir9_dezJa8sSBEN7bdNp7Dj",
          "mode": "list",
          "cachedResultName": "Skywide",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1h7-ILBh46Ir9_dezJa8sSBEN7bdNp7Dj"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        526128,
        113424
      ],
      "id": "b723af07-4ef2-4370-8951-e02ed2a14485",
      "name": "Create folder1",
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QA8H93TRMPzpKcJ2",
          "name": "Google Drive account"
        }
      },
      "notes": "Create G-Drive Folder"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "={{ $('Webhook1').first().json.body.is_revision ? '\\n\\n⚠️ STRICT REVISION OVERRIDE DECLARED ⚠️\\nYou are in REVISION MODE. The user has provided an explicit command to change the enclosed original content.\\n\\nHIERARCHY OF AUTHORITY:\\nThe \\\"REVISION COMMAND\\\" provided below is the ABSOLUTE HIGHEST AUTHORITY for this task.\\nIt SUPERSEDES AND CANCELS any other instructions, structural rules, word count limits, or SEO guidelines provided elsewhere in this prompt if they conflict.\\nIf the Revision Command tells you to delete something (e.g. \\\"remove the FAQ\\\"), you MUST delete it, even if another rule says \\\"FAQs are mandatory\\\".\\nIf the Revision Command tells you to add something, you MUST add it.\\n\\nYour sole directive is to apply the REVISION COMMAND to the ORIGINAL CONTENT exactly as the user wants, regardless of how brief or informal the command is.\\n\\nREVISION COMMAND (EXECUTE THIS EXACTLY):\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL CONTENT TO MODIFY:\\n' + $('Webhook1').first().json.body.original_content + '\\n\\n[END OF ORIGINAL CONTENT]\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nFINAL INSTRUCTIONS:\\n1. Apply the REVISION COMMAND to the Original Content above.\\n2. If the user asked to remove a section, ensure it is completely gone from your output.\\n3. Keep all un-targeted parts of the article exactly the same. Do not rewrite the whole article unless asked to.\\n4. Output ONLY the finalized text.\\n\\n' : '' }}\\n=\nYou are an expert content editor who synthesizes multiple AI drafts into one superior article. You fact-check claims, combine the best elements from each draft, and maintain the authentic, conversational tone. You research current data to enhance credibility while preserving the human-like voice. \n\nCRITICAL: The final merged article's main body (excluding FAQs) MUST be {{ $('Webhook1').first().json.body.word_count }} words (±10% acceptable: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). Do not exceed or fall short of this range.\n\nCurrent date: {{ $now.toISO() }}\n\nIMPORTANT: Page Intent: {{ $('Webhook1').first().json.body.page_intent }}\nEnsure the content tone and structure aligns with this intent (e.g., Informational, Transactional, Lead Gen), but DO NOT let this override the core SEO value and critical takeaways of the content.\n\n{{ $('Keyword Strategist').first().json.system_prompt_injection }}\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n\n# ═══ CLIENT GROUND TRUTH (MANDATORY — USE THIS, NOT YOUR OWN RESEARCH) ═══\nThe following data was scraped directly from the client's official website.\nThese are the ONLY statistics, claims, and differentiators you are authorised to use.\n\nCLIENT PROFILE:\n{{ $('Client Profile Extractor').first().json.client_name || $('Webhook1').first().json.body.client_name }}\n\nVERIFIED SERVICES (use these exact names):\n{{ ($('Client Profile Extractor').first().json.services || []).join('\\n') }}\n\nVERIFIED CREDENTIALS:\n{{ ($('Client Profile Extractor').first().json.credentials || []).join('\\n') }}\n\nVERIFIED UNIQUE CLAIMS (use these, do not invent alternatives):\n{{ ($('Client Profile Extractor').first().json.unique_claims || []).join('\\n') }}\n\nVERIFIED PUBLISHED STATS (ONLY these numbers are allowed):\n{{ ($('Client Profile Extractor').first().json.published_stats || []).length > 0 ? ($('Client Profile Extractor').first().json.published_stats || []).join('\\n') : 'No specific statistics published on client website.' }}\n\nPRE-DRAFT FACT CHECK CONSTRAINTS:\n{{ $('Pre-Draft Fact Checker').first().json.choices?.[0]?.message?.content || $('Pre-Draft Fact Checker').first().json.message?.content || $('Pre-Draft Fact Checker').first().json.text || 'No fact-check constraints available.' }}\n# ═══════════════════════════════════════════════════════════════════════════\n\n# ⛔ ANTI-HALLUCINATION PROTOCOL (NON-NEGOTIABLE)\nRULE 1: You may ONLY use statistics, percentages, and numerical claims that appear\n        verbatim in the CLIENT GROUND TRUTH block above.\nRULE 2: If the client has no published stats, write the article without any statistics.\n        Do NOT invent percentages, multipliers, or precision figures.\nRULE 3: If you want to reference a third-party study, it MUST have been provided in\n        the SERP analysis or brief with a real URL. If no URL exists, omit the claim.\nRULE 4: Do NOT use phrases like \"studies show\", \"research reveals\", \"clinical data shows\",\n        or \"treatment providers report\" unless followed by a real named source + URL.\nRULE 5: Violations of this protocol will cause the article to fail QA and be rejected.\n",
              "role": "system"
            },
            {
              "content": "\n\n⚠️ CLIENT WEBSITE IS HIGHEST AUTHORITY: The client's website data overrides the brief and any other research source. If a brief claim contradicts what the client website says, follow the client website.\n\n={{ $('Webhook1').first().json.body.is_revision ? '\\n\\n⚠️ STRICT REVISION OVERRIDE DECLARED ⚠️\\nYou are in REVISION MODE. The user has provided an explicit command to change the enclosed original content.\\n\\nHIERARCHY OF AUTHORITY:\\nThe \\\"REVISION COMMAND\\\" provided below is the ABSOLUTE HIGHEST AUTHORITY for this task.\\nIt SUPERSEDES AND CANCELS any other instructions, structural rules, word count limits, or SEO guidelines provided elsewhere in this prompt if they conflict.\\nIf the Revision Command tells you to delete something (e.g. \\\"remove the FAQ\\\"), you MUST delete it, even if another rule says \\\"FAQs are mandatory\\\".\\nIf the Revision Command tells you to add something, you MUST add it.\\n\\nYour sole directive is to apply the REVISION COMMAND to the ORIGINAL CONTENT exactly as the user wants, regardless of how brief or informal the command is.\\n\\nREVISION COMMAND (EXECUTE THIS EXACTLY):\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL CONTENT TO MODIFY:\\n' + $('Webhook1').first().json.body.original_content + '\\n\\n[END OF ORIGINAL CONTENT]\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nFINAL INSTRUCTIONS:\\n1. Apply the REVISION COMMAND to the Original Content above.\\n2. If the user asked to remove a section, ensure it is completely gone from your output.\\n3. Keep all un-targeted parts of the article exactly the same. Do not rewrite the whole article unless asked to.\\n4. Output ONLY the finalized text.\\n\\n' : '' }}\\n=\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nYou MUST verify the final merged article falls within this range before finishing.\n\n# Synthesis & Polish Task\nReview and improve this draft to create an exceptional article that:\n- Enhances the best insights, examples, and explanations\n- Fact-checks and updates all data with current information  \n- Maintains the conversational, friend-to-friend tone throughout\n- Creates seamless flow\n- Preserves natural speech patterns and personality\n- Stays within the target word count\n\n# Critical Rules\n- The opening paragraph must include {{ $('Webhook1').first().json.body.client_name }} within the first two sentences\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Do not write in the company's voice for {{ $('Webhook1').first().json.body.client_name }} (\"we,\" \"our,\" \"join us\"). Write in second person (\"you\") or neutral third person\n\n# Quality Requirements\n- Use the stronger introduction (may blend both)\n- Keep the clearest explanations regardless of source\n- Combine complementary examples (avoid duplication)\n- Verify statistics and update outdated information\n- Maintain \"talking to a friend\" voice throughout\n\n# Content Details\nTarget Keywords: {{ $('Webhook1').first().json.body.primary_keywords }}\nTarget Audience: {{ $('Webhook1').first().json.body.audience }}\n\n# Draft 1:\n{{ $('OpenAI Draft (GPT-4O)1').first().json.message.content }}\n\n# Draft 2:  \n{{ $('Claude Draft (Claude Opus 3)1').first().json.text }}\n\n# Before Submitting\n1. Count total words in your final article\n2. If under {{ $('Webhook1').first().json.body.word_count * 0.9 }} words: expand with better examples or deeper insights\n3. If over {{ $('Webhook1').first().json.body.word_count * 1.1 }} words: tighten without losing value\n4. Verify word count is within range\n\n# Output Format\nProvide ONLY the final article. Start with the title, maintain conversational tone throughout, and end with genuine advice. No meta-commentary, process explanations, or word count in output.\n\nIMPORTANT: Page Intent: {{ $('Webhook1').first().json.body.page_intent }}\nEnsure the content tone and structure aligns with this intent (e.g., Informational, Transactional, Lead Gen), but DO NOT let this override the core SEO value and critical takeaways of the content.\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n# Verified Fact-Check Report (MUST apply — correct any claims that contradict this):\n{{ $('Post-Draft Fact Checker').first().json.choices[0].message.content }}\n\n⚠️ H1 PRESERVATION RULE: Do NOT rewrite or rename the article H1/title. Keep it exactly as in the draft.\n⚠️ WORD COUNT LOCK: Target is {{ $('Webhook1').first().json.body.word_count }} words (±10%). Do NOT let the article grow.\n\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n"
            }
          ]
        },
        "options": {
          "temperature": 0.5,
          "maxTokens": 8000
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        527152,
        113252
      ],
      "id": "fe1b1bea-c4b0-48c2-aef6-46b890f8971c",
      "name": "Data Check & Research Gaps1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "perplexityApi": {
          "id": "iuHSBzk6FDLpyJRT",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nAll recommendations MUST keep the article within this range. If suggesting additions, note what should be condensed to maintain length.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\n## EXAMPLE — CORRECT keyword placement:\nIf primary keyword = \"causes of anxiety in young adults\":\nGOOD H1: \"Understanding the Causes of Anxiety in Young Adults\"\nGOOD Intro: \"The causes of anxiety in young adults are complex, involving biology, environment, and social pressures.\"\nGOOD H2: \"What Causes Anxiety in Adolescence\" (secondary keyword as H2)\nGOOD Body: \"Teen social anxiety treatment often begins with identifying triggers.\" (secondary used naturally)\nGOOD Conclusion: \"Recognizing the causes of anxiety in young adults is the first step toward effective support.\"\n\n## EXAMPLE — WRONG keyword placement:\nBAD H1: \"Understanding Anxiety Disorders\" (primary keyword missing from H1)\nBAD Intro: \"Anxiety is a growing concern...\" (keyword not in first 100 words)\nBAD H2s: \"The Perfect Storm\" / \"The Path to Healing\" (no keywords in any H2)\nBAD: Secondaries never mentioned — \"teen boys\" never appears, \"social anxiety\" never appears\\n\\n## KEYWORD PRESERVATION (MANDATORY — DO NOT OVERRIDE)\nWhile rewriting or improving, you MUST preserve these keyword placements exactly:\n1. The H1 title MUST still contain: \"{{ $('Webhook1').first().json.body.primary_keywords }}\"\n2. The primary keyword MUST still appear in the first 100 words\n3. At least one H2 MUST still contain the primary keyword or close variation\n4. The final paragraph MUST still reference the primary keyword\n5. Every secondary keyword listed below MUST still appear at least once in the body\n\nDO NOT paraphrase, rephrase, or reorder these keywords. You may improve the\nsentences AROUND them, but the keywords themselves must remain intact.\n\nKeywords to preserve:\n- Primary: {{ $('Webhook1').first().json.body.primary_keywords }}\n- Secondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\n- Semantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# SEO Optimization Analysis\nAnalyze this article for keyword opportunities while preserving the authentic, conversational tone.\n\n## Target Keywords:\n{{ $('Webhook1').first().json.body.primary_keywords }}\n\n## Article to Analyze:\n{{ $json.choices[0].message.content }}\n\n## Core Analysis Required:\n\n### 1. Keyword Integration Assessment\n- Current keyword usage and placement quality\n- Natural opportunities to add target keywords without adding length\n- Missing keyword variations that fit the conversational tone\n\n### 2. Content Gap Analysis  \n- Related topics/questions we should cover for these keywords\n- Missing supporting concepts that strengthen topical authority\n- User intent gaps (what questions aren't we answering?)\n- **Important**: If suggesting new content, specify what to condense to stay within word count\n\n### 3. Structure & Featured Snippet Opportunities\n- H2/H3 headings that could include target keywords naturally\n- Question-based sections for featured snippets\n- List/table formatting opportunities (without adding significant length)\n\n### 4. Critical Tone Preservation\n- Flag any recommendations that might sound forced or corporate\n- Ensure all suggestions maintain the \"friend giving advice\" voice\n- Balance SEO value with authentic helpfulness\n\n## Output Format:\n\n**HIGH PRIORITY** (implement first - word count neutral)\n- [3-4 most important, natural keyword additions or replacements]\n\n**CONTENT ADDITIONS** (only if space allows or paired with cuts)\n- [New sections/topics that would help both SEO and readers]\n- For each addition, suggest what to trim to maintain {{ $('Webhook1').first().json.body.word_count }} words ±10%\n\n**STRUCTURE IMPROVEMENTS** (minimal word count impact)\n- [Heading and formatting suggestions that don't add length]\n\n**TONE PROTECTION WARNINGS**\n- [What to avoid to preserve conversational voice]\n\n## Requirements:\n- Maximum 8-10 total recommendations\n- Prioritize word-count-neutral changes (replacements, not additions)\n- If suggesting additions, specify equal-length cuts to maintain target\n- All suggestions must sound like something a real person would say\n- Focus on user value first, SEO second\n- Flag any recommendation that would push article outside {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words range\n\nIMPORTANT: Page Intent: {{ $('Webhook1').first().json.body.page_intent }}\nEnsure the content tone and structure aligns with this intent (e.g., Informational, Transactional, Lead Gen), but DO NOT let this override the core SEO value and critical takeaways of the content.\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\nYou are a senior SEO content strategist with expertise in semantic search, user intent analysis, and Google's ranking factors. Your role is to conduct comprehensive keyword gap analysis and provide strategic optimization recommendations that improve rankings while maintaining content quality and readability.\n\nCRITICAL: The article must remain {{ $('Webhook1').first().json.body.word_count }} words (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). Any recommendations must keep the content within this range.\n\nCurrent date: {{ $now.toISO() }}\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        527600,
        113400
      ],
      "id": "3cf3ad0a-f0e0-4899-b96f-927d37e7fa63",
      "name": "Claude Keyword Check + Semantic Gap1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nWhen implementing recommendations, you MUST keep the article within this range. If adding content, condense or remove other sections to maintain length.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\n## EXAMPLE — CORRECT keyword placement:\nIf primary keyword = \"causes of anxiety in young adults\":\nGOOD H1: \"Understanding the Causes of Anxiety in Young Adults\"\nGOOD Intro: \"The causes of anxiety in young adults are complex, involving biology, environment, and social pressures.\"\nGOOD H2: \"What Causes Anxiety in Adolescence\" (secondary keyword as H2)\nGOOD Body: \"Teen social anxiety treatment often begins with identifying triggers.\" (secondary used naturally)\nGOOD Conclusion: \"Recognizing the causes of anxiety in young adults is the first step toward effective support.\"\n\n## EXAMPLE — WRONG keyword placement:\nBAD H1: \"Understanding Anxiety Disorders\" (primary keyword missing from H1)\nBAD Intro: \"Anxiety is a growing concern...\" (keyword not in first 100 words)\nBAD H2s: \"The Perfect Storm\" / \"The Path to Healing\" (no keywords in any H2)\nBAD: Secondaries never mentioned — \"teen boys\" never appears, \"social anxiety\" never appears\\n\\n## KEYWORD PRESERVATION (MANDATORY — DO NOT OVERRIDE)\nWhile rewriting or improving, you MUST preserve these keyword placements exactly:\n1. The H1 title MUST still contain: \"{{ $('Webhook1').first().json.body.primary_keywords }}\"\n2. The primary keyword MUST still appear in the first 100 words\n3. At least one H2 MUST still contain the primary keyword or close variation\n4. The final paragraph MUST still reference the primary keyword\n5. Every secondary keyword listed below MUST still appear at least once in the body\n\nDO NOT paraphrase, rephrase, or reorder these keywords. You may improve the\nsentences AROUND them, but the keywords themselves must remain intact.\n\nKeywords to preserve:\n- Primary: {{ $('Webhook1').first().json.body.primary_keywords }}\n- Secondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\n- Semantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# Implementation Task\nApply recommendations from both SEO analyses to optimize this article while maintaining its natural, conversational tone.\n\n## Dual Recommendation Handling:\n- Implement the best suggestions from both analyses\n- When recommendations conflict, prioritize tone preservation AND word count maintenance\n- Combine complementary suggestions for stronger optimization\n- Skip any recommendation that would sound forced, corporate, or break word count\n\n## Integration Priorities:\n1. **High Impact, Natural Fit**: Keywords and topics that enhance content (word-count-neutral swaps preferred)\n2. **Structural Improvements**: Headings and formatting that aid both SEO and readability (minimal length impact)\n3. **Content Additions**: New sections ONLY if:\n   - They add genuine value\n   - You can condense other sections to maintain {{ $('Webhook1').first().json.body.word_count }} words ±10%\n4. **Technical Elements**: Meta improvements within content context\n\n## Quality Standards:\n- All changes must sound like the original author wrote them\n- Preserve the \"friend giving advice\" conversational style\n- Ensure seamless flow between original and new content\n- Never sacrifice authenticity for optimization\n- Maintain word count by making smart edits, not just additions\n\n## Source Materials:\n\n### Original Article:\n{{ $('Data Check & Research Gaps1').first().json.choices[0].message.content }}\n\n### OpenAI SEO Recommendations:\n{{ $json.message.content }}\n\n### Claude SEO Recommendations:  \n{{ $json.text }}\n\n## Before Submitting - MANDATORY VERIFICATION:\n1. Count total words in your optimized article\n2. Is it between {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words?\n   - If NO: Cut fluff or condense sections until within range\n3. Does it still sound like genuine, helpful advice from a knowledgeable friend?\n   - If NO: Revise any corporate-sounding additions\n4. Is {{ $('Webhook1').first().json.body.client_name }} mentioned naturally in the first two sentences?\n   - If NO: Fix the opening\n\n## Output Requirements:\nProvide ONLY the enhanced article. Start with title, end with conclusion. No explanatory text, change summaries, or word count in output\n\nIMPORTANT: Page Intent: {{ $('Webhook1').first().json.body.page_intent }}\nEnsure the content tone and structure aligns with this intent (e.g., Informational, Transactional, Lead Gen), but DO NOT let this override the core SEO value and critical takeaways of the content.\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\nYou are an expert SEO content editor specializing in implementing optimization recommendations while preserving content authenticity and readability. \n\nCRITICAL: The final article MUST be {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). When applying recommendations, maintain this word count by replacing or condensing content, not just adding.\n\nYour role is to seamlessly integrate SEO improvements and factual updates into existing content without compromising the natural human voice or flow.\n\n# Critical Rules\n- The opening paragraph must include {{ $('Webhook1').first().json.body.client_name }} within the first two sentences\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Do not write in the company's voice for {{ $('Webhook1').first().json.body.client_name }} (\"we,\" \"our,\" \"join us\"). Write in second person (\"you\") or neutral third person\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n⚠️ FINAL WORD COUNT CHECK — MANDATORY BEFORE SUBMITTING:\n1. Count every word in your output.\n2. Target: {{ $('Webhook1').first().json.body.word_count }} words (±10% = {{ $('Webhook1').first().json.body.word_count * 0.9 }}–{{ $('Webhook1').first().json.body.word_count * 1.1 }} words).\n3. If you are OVER the limit: remove the least impactful sentences until you are within range.\n4. If you are UNDER: expand a thin section. Do NOT submit outside this range.\n5. DO NOT add this word count check to your output — output only the article.\n"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        528400,
        113252
      ],
      "id": "f0346655-ca4a-4665-a51e-2762a3258c8e",
      "name": "Claude Apply Recommendations1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nWhen adding EEAT signals, maintain word count by condensing other sections. Do not expand the article.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\n## EXAMPLE — CORRECT keyword placement:\nIf primary keyword = \"causes of anxiety in young adults\":\nGOOD H1: \"Understanding the Causes of Anxiety in Young Adults\"\nGOOD Intro: \"The causes of anxiety in young adults are complex, involving biology, environment, and social pressures.\"\nGOOD H2: \"What Causes Anxiety in Adolescence\" (secondary keyword as H2)\nGOOD Body: \"Teen social anxiety treatment often begins with identifying triggers.\" (secondary used naturally)\nGOOD Conclusion: \"Recognizing the causes of anxiety in young adults is the first step toward effective support.\"\n\n## EXAMPLE — WRONG keyword placement:\nBAD H1: \"Understanding Anxiety Disorders\" (primary keyword missing from H1)\nBAD Intro: \"Anxiety is a growing concern...\" (keyword not in first 100 words)\nBAD H2s: \"The Perfect Storm\" / \"The Path to Healing\" (no keywords in any H2)\nBAD: Secondaries never mentioned — \"teen boys\" never appears, \"social anxiety\" never appears\\n\\n## KEYWORD PRESERVATION (MANDATORY — DO NOT OVERRIDE)\nWhile rewriting or improving, you MUST preserve these keyword placements exactly:\n1. The H1 title MUST still contain: \"{{ $('Webhook1').first().json.body.primary_keywords }}\"\n2. The primary keyword MUST still appear in the first 100 words\n3. At least one H2 MUST still contain the primary keyword or close variation\n4. The final paragraph MUST still reference the primary keyword\n5. Every secondary keyword listed below MUST still appear at least once in the body\n\nDO NOT paraphrase, rephrase, or reorder these keywords. You may improve the\nsentences AROUND them, but the keywords themselves must remain intact.\n\nKeywords to preserve:\n- Primary: {{ $('Webhook1').first().json.body.primary_keywords }}\n- Secondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\n- Semantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# Critical Rules\n- The opening paragraph must include {{ $('Webhook1').first().json.body.client_name }} within the first two sentences\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Write as a NEUTRAL EXPERT about {{ $('Webhook1').first().json.body.client_name }} - never use \"we,\" \"our,\" \"us\" from any company perspective\n- Always use second person (\"you\") or neutral third person\n\n## Objective\nAdd conversational authority signals that maintain the \"friend giving advice\" tone while demonstrating professional expertise through neutral expert perspective.\n\n## Enhancement Framework - Conversational EEAT\n\n### Natural Authority Building (feels like deeper insight)\nTransform generic advice into expert-backed guidance:\n- \"This works...\" → \"Treatment providers specializing in [area] consistently see success when...\"\n- \"You should...\" → \"Based on clinical outcomes documented across [field], the most effective approach is...\"\n- \"It's important...\" → \"Research spanning [timeframe] in [specialty] shows why...\"\n\n### Conversational Expertise Signals\nAdd professional context that sounds natural:\n- Reference common industry methodologies casually\n- Include \"what professionals in [field] have noticed...\" style observations\n- Mention evidence-based approaches without sounding academic\n- Add professional insights that explain the \"why\" behind advice\n\n### Trust Elements with Personality\nMake credibility feel human:\n- \"Look, the data from [source] is pretty clear on this...\"\n- \"Here's what [authoritative org] research shows...\"\n- \"Honestly, professionals who work in [field] will tell you...\"\n- \"The thing is, [X%] of [relevant group] experience...\"\n\n### Adaptable Professional Markers\nCreate fillable authority signals that clients can customize:\n- \"Treatment centers that focus on [specialty] have documented...\"\n- \"Clinical experience across [type of practice] consistently shows...\"\n- \"Evidence-based programs in [field] typically incorporate...\"\n- \"Professional standards from [organization] recommend...\"\n\n## Integration Requirements\n- Keep the conversational, friend-to-friend tone throughout\n- EEAT signals should feel like knowledgeable sharing, not credential-flexing\n- Use natural speech: contractions, varied sentences, casual transitions\n- Add authority through better sourcing and specificity, not formality\n- Every addition must help the reader, not just boost rankings\n- When adding content, condense elsewhere to maintain {{ $('Webhook1').first().json.body.word_count }} words ±10%\n\n## Article to Enhance:\n{{ $json.text }}\n\n## Before Submitting - Quality Checks:\n1. Word count within {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}?\n2. Does this still sound like genuine, helpful advice from someone with professional experience?\n3. {{ $('Webhook1').first().json.body.client_name }} mentioned naturally in first two sentences?\n4. No \"we/our\" from any company perspective?\n5. EEAT enhancements feel natural, not forced or corporate?\n\n## Output Requirements\nProvide ONLY the enhanced article with conversational authority signals. No explanatory text or word count in output.\n\nIMPORTANT: Page Intent: {{ $('Webhook1').first().json.body.page_intent }}\nEnsure the content tone and structure aligns with this intent (e.g., Informational, Transactional, Lead Gen), but DO NOT let this override the core SEO value and critical takeaways of the content.\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\nYou are a senior SEO content strategist and copywriter with 10+ years of experience specializing in EEAT optimization for authoritative content.\n\nCRITICAL: The final article MUST remain {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). When adding EEAT elements, condense or replace existing content to maintain length.\n\n# ⛔ EEAT ANTI-HALLUCINATION PROTOCOL (NON-NEGOTIABLE)\n\nYour job is to ENHANCE the existing article with EEAT signals — NOT to invent new facts.\n\nRULE 1 — NO NEW STATISTICS: Do NOT introduce any percentage, number, multiplier, or precision figure that is not already in the article you received. If a statistic would strengthen a point, express it qualitatively instead (e.g. \"many families report...\" not \"67% of families report...\").\n\nRULE 2 — NO INVENTED RESEARCH CITATIONS: Do NOT add phrases like \"research spanning X years\", \"studies show\", \"longitudinal research shows\", \"university autism centers show\", \"clinical data confirms\", or similar unless the specific study/source is already named in the article. Vague authority laundering is worse than no citation.\n\nRULE 3 — NO INVENTED INSTITUTIONAL REFERENCES: Do NOT fabricate references to \"thousands of treatment centers\", \"autism research centers\", \"clinical experience across programs\", or similar. These sound authoritative but are invented.\n\nRULE 4 — CLIENT FACTS ONLY: The only client-specific claims you may add or strengthen are those already present in the article. Do not invent new service names, credentials, accreditations, or program names.\n\nRULE 5 — EEAT THROUGH STRUCTURE, NOT FABRICATION: Demonstrate EEAT by:\n  ✅ Sharpening existing expert explanations to sound more precise and confident\n  ✅ Adding \"here's why this matters\" commentary on existing facts\n  ✅ Improving the author's voice to sound more experienced and authoritative\n  ✅ Tightening hedged language (\"might help\" → \"helps\") where already supported\n  ✅ Adding brief real-world scenarios or examples that illustrate existing claims\n  ✅ Referencing named organisations (APA, BACB, U.S. Surgeon General) ONLY if already mentioned in the article\n\nRULE 6 — REVIEW BEFORE SUBMITTING: Read your output. If you spot a statistic, percentage, or research citation that was not in the article you received, delete it before submitting.\n\n\n\nYou understand how to authentically demonstrate Experience, Expertise, Authority, and Trust through subtle content enhancements that feel natural and valuable to readers while maintaining a neutral expert voice and satisfying Google's quality guidelines.\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n⚠️ FINAL WORD COUNT CHECK — MANDATORY BEFORE SUBMITTING:\n1. Count every word in your output.\n2. Target: {{ $('Webhook1').first().json.body.word_count }} words (±10% = {{ $('Webhook1').first().json.body.word_count * 0.9 }}–{{ $('Webhook1').first().json.body.word_count * 1.1 }} words).\n3. If you are OVER the limit: remove the least impactful sentences until you are within range.\n4. If you are UNDER: expand a thin section. Do NOT submit outside this range.\n5. DO NOT add this word count check to your output — output only the article.\n"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        528752,
        113400
      ],
      "id": "137f43a2-6f74-412c-8377-7ddd160e7d26",
      "name": "Claude EEAT Injection1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\nYou are an expert SEO editor specializing in AI search optimization, featured snippets, and voice search queries.\n\nCRITICAL: The final article MUST be {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). When merging and optimizing, maintain this word count.\n\nYou understand how modern search algorithms evaluate content for featured snippets, People Also Ask boxes, and voice assistant responses. Your expertise includes optimizing content structure, formatting, and language patterns that perform well across all search result types while preserving authentic, conversational tone.\n\nIMPORTANT: Page Intent: {{ $('Webhook1').first().json.body.page_intent }}\nEnsure the content tone and structure aligns with this intent (e.g., Informational, Transactional, Lead Gen), but DO NOT let this override the core SEO value and critical takeaways of the content.\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}",
              "role": "system"
            },
            {
              "content": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nWhen merging and optimizing both articles, you MUST stay within this range.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\n## EXAMPLE — CORRECT keyword placement:\nIf primary keyword = \"causes of anxiety in young adults\":\nGOOD H1: \"Understanding the Causes of Anxiety in Young Adults\"\nGOOD Intro: \"The causes of anxiety in young adults are complex, involving biology, environment, and social pressures.\"\nGOOD H2: \"What Causes Anxiety in Adolescence\" (secondary keyword as H2)\nGOOD Body: \"Teen social anxiety treatment often begins with identifying triggers.\"\nGOOD Conclusion: \"Recognizing the causes of anxiety in young adults is the first step toward effective support.\"\n\n## EXAMPLE — WRONG keyword placement:\nBAD H1: \"Understanding Anxiety Disorders\" (primary keyword missing from H1)\nBAD Intro: \"Anxiety is a growing concern...\" (keyword not in first 100 words)\nBAD H2s: \"The Perfect Storm\" / \"The Path to Healing\" (no keywords in any H2)\nBAD: Secondaries never mentioned — \"teen boys\" never appears, \"social anxiety\" never appears\n\n## KEYWORD PRESERVATION (MANDATORY — DO NOT OVERRIDE)\nWhile rewriting or improving, you MUST preserve these keyword placements exactly:\n1. The H1 title MUST still contain: \"{{ $('Webhook1').first().json.body.primary_keywords }}\"\n2. The primary keyword MUST still appear in the first 100 words\n3. At least one H2 MUST still contain the primary keyword or close variation\n4. The final paragraph MUST still reference the primary keyword\n5. Every secondary keyword listed below MUST still appear at least once in the body\n\nDO NOT paraphrase, rephrase, or reorder these keywords. You may improve the\nsentences AROUND them, but the keywords themselves must remain intact.\n\nKeywords to preserve:\n- Primary: {{ $('Webhook1').first().json.body.primary_keywords }}\n- Secondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\n- Semantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# Critical Rules\n- The opening paragraph must include {{ $('Webhook1').first().json.body.client_name }} within the first two sentences\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Write as a NEUTRAL EXPERT about {{ $('Webhook1').first().json.body.client_name }} - never use \"we,\" \"our,\" \"us\" from any company perspective\n- Always use second person (\"you\") or neutral third person\n\n## Objective\nMerge both EEAT-enhanced articles into one final version optimized for modern search features while preserving the conversational, helpful tone and maintaining target word count.\n\n## Key Optimizations\n\n### Featured Snippet Targeting\n- Convert key points into natural question-based H2/H3 headers (\"What are the signs...\" \"How can parents...\")\n- Lead sections with direct, concise answers (25-30 words ideal)\n- Use numbered lists for processes/steps, bullets for features/examples\n- Include \"What is...\", \"How to...\", \"Why does...\" formats where natural\n\n### Voice & AI Search Optimization  \n- Write complete, standalone answers that work out of context\n- Use natural question-answer pairs that sound conversational\n- Include FAQ-style sections with direct responses\n- Maintain conversational language patterns and everyday speech\n\n### Content Structure for Search\n- Keep paragraphs short (2-4 sentences) for mobile readability\n- Bold key concepts, terms, and direct answers\n- Use clear topic hierarchies with logical H2/H3 flow\n- Make answers scannable and voice-search friendly\n\n## Merging Strategy\n- Combine the strongest elements from both EEAT versions\n- Where versions differ, choose the more conversational and authoritative option\n- Eliminate any redundancy between the two versions\n- Maintain consistent voice and flow throughout\n- Stay within {{ $('Webhook1').first().json.body.word_count }} words ±10%\n\n## Critical Balance\n**Must maintain the \"friend giving advice\" conversational tone** while adding these technical optimizations. Don't sacrifice authenticity for SEO formatting. The article should still sound human and helpful first, optimized second.\n\n## Input Articles to Merge:\n\n### OpenAI EEAT Version:\n{{ $json.message.content }}\n\n### Claude EEAT Version:  \n{{ $json.text }}\n\n## Before Submitting - MANDATORY CHECKS:\n1. Word count between {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}?\n2. Still sounds like helpful advice from a knowledgeable friend?\n3. {{ $('Webhook1').first().json.body.client_name }} mentioned naturally in first two sentences?\n4. No \"we/our\" from any company perspective?\n5. SEO optimizations feel natural, not forced or over-formatted?\n6. Headers are conversational questions, not stiff corporate speak?\n\n## Output Requirements\nProvide ONLY the final optimized article. Start with title, end with conclusion. No meta-commentary, explanatory text, or word count in output.\n\nQuality check: Does this still sound like helpful advice from a knowledgeable friend, just better organized for search?\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}"
            }
          ]
        },
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        529552,
        113252
      ],
      "id": "6e9dd228-1d94-43ea-80e5-df9b4d903244",
      "name": "OpenAI SEO Optimization1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nAll NLP optimizations must keep the article within this range.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\n## EXAMPLE — CORRECT keyword placement:\nIf primary keyword = \"causes of anxiety in young adults\":\nGOOD H1: \"Understanding the Causes of Anxiety in Young Adults\"\nGOOD Intro: \"The causes of anxiety in young adults are complex, involving biology, environment, and social pressures.\"\nGOOD H2: \"What Causes Anxiety in Adolescence\" (secondary keyword as H2)\nGOOD Body: \"Teen social anxiety treatment often begins with identifying triggers.\" (secondary used naturally)\nGOOD Conclusion: \"Recognizing the causes of anxiety in young adults is the first step toward effective support.\"\n\n## EXAMPLE — WRONG keyword placement:\nBAD H1: \"Understanding Anxiety Disorders\" (primary keyword missing from H1)\nBAD Intro: \"Anxiety is a growing concern...\" (keyword not in first 100 words)\nBAD H2s: \"The Perfect Storm\" / \"The Path to Healing\" (no keywords in any H2)\nBAD: Secondaries never mentioned — \"teen boys\" never appears, \"social anxiety\" never appears\\n\\n## KEYWORD PRESERVATION (MANDATORY — DO NOT OVERRIDE)\nWhile rewriting or improving, you MUST preserve these keyword placements exactly:\n1. The H1 title MUST still contain: \"{{ $('Webhook1').first().json.body.primary_keywords }}\"\n2. The primary keyword MUST still appear in the first 100 words\n3. At least one H2 MUST still contain the primary keyword or close variation\n4. The final paragraph MUST still reference the primary keyword\n5. Every secondary keyword listed below MUST still appear at least once in the body\n\nDO NOT paraphrase, rephrase, or reorder these keywords. You may improve the\nsentences AROUND them, but the keywords themselves must remain intact.\n\nKeywords to preserve:\n- Primary: {{ $('Webhook1').first().json.body.primary_keywords }}\n- Secondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\n- Semantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# Critical Rules\n- The opening paragraph must include {{ $('Webhook1').first().json.body.client_name }} within the first two sentences\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Write as a NEUTRAL EXPERT about {{ $('Webhook1').first().json.body.client_name }} - never use \"we,\" \"our,\" \"us\" from any company perspective\n- Always use second person (\"you\") or neutral third person\n\n## Primary Goal\nEnhance this article for Google's NLP systems (BERT, MUM, passage ranking) while maintaining the conversational, authentic tone and target word count.\n\n## Key Optimizations (Apply Gently & Naturally):\n\n### Entity & Semantic Strengthening (word-count-neutral)\n- Naturally reinforce important entities and industry terms through strategic repetition\n- Use semantic clustering to strengthen topic authority (related terms grouped logically)\n- Include relevant variations and synonyms where they feel conversational\n- Add co-occurring terms that Google expects for this topic\n- **Never force technical jargon that breaks conversational flow**\n\n### Passage-Level Clarity (improve existing content)\n- Ensure each paragraph delivers clear value as a standalone unit for passage ranking\n- Lead paragraphs with the most helpful information (front-load value)\n- Maintain natural question-answer patterns that work for voice search\n- Optimize for featured snippets without sounding robotic or formulaic\n- Make key information extractable out of context\n\n### Information Architecture (structural refinement)\n- Strengthen subheadings for better passage anchoring (more descriptive, question-based)\n- Enhance scannable formatting: bold key terms, use bullets/numbers appropriately\n- Maintain logical flow that serves readers first, algorithms second\n- Ensure clear semantic relationships between sections\n- Improve topic clustering and relevance signals\n\n### NLP-Friendly Patterns\n- Use complete, well-formed sentences that parse cleanly\n- Include natural question-answer pairs for Q&A boxes\n- Maintain clear entity references (avoid ambiguous pronouns)\n- Strengthen context around key claims and recommendations\n\n## Critical Requirements\n- **PRESERVE the \"friend giving advice\" conversational tone above all else**\n- Never sacrifice authenticity for technical optimization\n- Keep language natural and genuinely helpful\n- Maintain readability and human appeal\n- All changes should feel organic, not algorithmic\n- Word count must stay within {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}\n\n## Article to Optimize:\n{{ $json.message.content }}\n\n## Before Submitting - MANDATORY CHECKS:\n1. Word count between {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}?\n2. Still sounds like helpful advice from a knowledgeable friend?\n3. {{ $('Webhook1').first().json.body.client_name }} mentioned naturally in first two sentences?\n4. No \"we/our\" from any company perspective?\n5. NLP optimizations feel completely natural, not forced?\n6. Would a human reader notice these are \"optimizations\" or just good writing?\n\n## Output Requirements\nProvide ONLY the enhanced article. Start with title, end with conclusion. No optimization summaries, meta-commentary, or word count in output.\n\nQuality priority: Authentic helpfulness > Technical perfection\n\nIMPORTANT: Page Intent: {{ $('Webhook1').first().json.body.page_intent }}\nEnsure the content tone and structure aligns with this intent (e.g., Informational, Transactional, Lead Gen), but DO NOT let this override the core SEO value and critical takeaways of the content.\n\n{{ $('Keyword Strategist').first().json.system_prompt_injection }}\n\n{{ $('Keyword Strategist').first().json.structure_prompt_injection }}\n{{ $('Keyword Strategist').first().json.eeat_prompt_injection }}\n{{ $('Keyword Strategist').first().json.style_prompt_injection }}\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\nYou are an advanced SEO and NLP optimization specialist who enhances content for Google's algorithms while preserving authentic, conversational tone.\n\nCRITICAL: The final article MUST remain {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). Optimizations must maintain this word count.\n\nYour expertise is making subtle technical improvements that boost search performance without sacrificing the natural \"friend giving advice\" voice that makes content genuinely helpful.\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n⚠️ FINAL WORD COUNT CHECK — MANDATORY BEFORE SUBMITTING:\n1. Count every word in your output.\n2. Target: {{ $('Webhook1').first().json.body.word_count }} words (±10% = {{ $('Webhook1').first().json.body.word_count * 0.9 }}–{{ $('Webhook1').first().json.body.word_count * 1.1 }} words).\n3. If you are OVER the limit: remove the least impactful sentences until you are within range.\n4. If you are UNDER: expand a thin section. Do NOT submit outside this range.\n5. DO NOT add this word count check to your output — output only the article.\n"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        530128,
        113400
      ],
      "id": "ed9f3bb1-6f84-4a2e-acbe-8940d29c2538",
      "name": "Claude NLP & PR Optimization",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nTechnical polish must maintain this word count.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\n## EXAMPLE — CORRECT keyword placement:\nIf primary keyword = \"causes of anxiety in young adults\":\nGOOD H1: \"Understanding the Causes of Anxiety in Young Adults\"\nGOOD Intro: \"The causes of anxiety in young adults are complex, involving biology, environment, and social pressures.\"\nGOOD H2: \"What Causes Anxiety in Adolescence\" (secondary keyword as H2)\nGOOD Body: \"Teen social anxiety treatment often begins with identifying triggers.\" (secondary used naturally)\nGOOD Conclusion: \"Recognizing the causes of anxiety in young adults is the first step toward effective support.\"\n\n## EXAMPLE — WRONG keyword placement:\nBAD H1: \"Understanding Anxiety Disorders\" (primary keyword missing from H1)\nBAD Intro: \"Anxiety is a growing concern...\" (keyword not in first 100 words)\nBAD H2s: \"The Perfect Storm\" / \"The Path to Healing\" (no keywords in any H2)\nBAD: Secondaries never mentioned — \"teen boys\" never appears, \"social anxiety\" never appears\\n\\n## KEYWORD PRESERVATION (MANDATORY — DO NOT OVERRIDE)\nWhile rewriting or improving, you MUST preserve these keyword placements exactly:\n1. The H1 title MUST still contain: \"{{ $('Webhook1').first().json.body.primary_keywords }}\"\n2. The primary keyword MUST still appear in the first 100 words\n3. At least one H2 MUST still contain the primary keyword or close variation\n4. The final paragraph MUST still reference the primary keyword\n5. Every secondary keyword listed below MUST still appear at least once in the body\n\nDO NOT paraphrase, rephrase, or reorder these keywords. You may improve the\nsentences AROUND them, but the keywords themselves must remain intact.\n\nKeywords to preserve:\n- Primary: {{ $('Webhook1').first().json.body.primary_keywords }}\n- Secondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\n- Semantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# Critical Rules\n- The closing paragraph must include {{ $('Webhook1').first().json.body.client_name }}\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Primarily write from the company's perspective using first-person language (\"we,\" \"our\") for {{ $('Webhook1').first().json.body.client_name }}. Second-person (\"you\") can be used selectively, but avoid neutral third-party commentary.\n- Primarily write from the company's perspective using first-person language (\"we,\" \"our\"). Second-person (\"you\") can be used selectively, but avoid neutral third-party commentary.\n\n## Objective\nAdd meta elements and ensure perfect technical structure while preserving the conversational, helpful tone and maintaining target word count.\n\n## Required Optimizations:\n\n### Meta Elements (Outside Word Count)\n- **Meta Title**: 50-60 characters, includes primary keyword + {{ $('Webhook1').first().json.body.client_name }}, compelling click-through\n- **Meta Description**: 150-155 characters, includes primary keyword, clear value proposition, natural call-to-action\n\n### Header Structure (Within Article)\n- Ensure clean H1-H4 hierarchy\n- One H1 only (the title)\n- Logical H2s that cover main topics\n- Supporting H3s and H4s where appropriate\n- All headers should be conversational questions or statements, not corporate\n\n### Snippet Formatting\n- Format key sections as snippet-ready blocks (clear definitions, numbered lists for processes, bullet lists for features)\n- Lead paragraphs with direct answers (25-30 words ideal for featured snippets)\n- Bold key terms and answers naturally\n- Use tables where appropriate for comparison content\n\n### Technical Polish\n- Each section directly answers its heading's question\n- Clear topic flow and semantic relationships\n- Proper use of lists, emphasis, and formatting\n- Mobile-friendly paragraph length (2-4 sentences)\n\n### Tone Preservation\n- Maintain the natural \"friend giving advice\" conversational voice throughout\n- Don't let technical structure make content sound robotic\n- Keep contractions, natural transitions, varied sentence length\n- Preserve personality and authenticity\n\n## Article to Optimize:\n{{ $json.text }}\n\n## Before Submitting - MANDATORY CHECKS:\n1. Word count between {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}?\n2. Meta title 50-60 characters?\n3. Meta description 150-155 characters?\n4. Only one H1 in the article?\n5. Still sounds like genuine, helpful advice from a knowledgeable friend?\n6. {{ $('Webhook1').first().json.body.client_name }} mentioned naturally in the closing paragraph?\n7. Uses \"we/our\" brand voice appropriately?\n\n## Output Format:\n```\nMeta Title: [Your Optimized Title - 50-60 chars]\nMeta Description: [Your Optimized Description - 150-155 chars]\n\n[Full Optimized Article With Proper H1-H4 Structure]\n```\n\nQuality Check: Does this maintain authentic helpfulness while having perfect technical structure?\n\nIMPORTANT: Page Intent: {{ $('Webhook1').first().json.body.page_intent }}\nEnsure the content tone and structure aligns with this intent (e.g., Informational, Transactional, Lead Gen), but DO NOT let this override the core SEO value and critical takeaways of the content.\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n⛔ STRUCTURAL LOCK — META TAGS MUST BE PRESERVED ⛔\nThe very first lines of the article MUST begin with:\nMeta Title: [title here]\nMeta Description: [description here]\n\nThese are NOT meta-commentary. They are mandatory deliverable fields required by the CMS.\n- If they are present in the input, KEEP THEM EXACTLY on line 1 and line 2.\n- If they are missing from the input, ADD THEM before outputting.\n- NEVER remove, reformat, or move these two lines.\n- Your output must start with \"Meta Title:\" — no preamble, no intro sentence before it.\n\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\nYou are a senior SEO editor with expertise in Google's ranking algorithms and featured snippet optimization.\n\nCRITICAL: The final article MUST be {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). Technical optimizations must not change the word count.\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        531504,
        113760
      ],
      "id": "3e9315b4-e47a-4c68-b718-8a3d620820bf",
      "name": "Claude Final SEO Snippet Optimization",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://skywide-content-flow.vercel.app/api/webhooks/n8n-drive-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"request_id\": $('Webhook1').first().json.body.request_id,\n  \"run_id\": $('Webhook1').first().json.body.run_id,\n  \"webhook_response\": \"https://drive.google.com/drive/u/0/folders/\" + $json.id\n} }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        526352,
        113520
      ],
      "id": "ca1dfb4d-aa63-494f-9ef6-8fa41f228211",
      "name": "Google Drive Notification1",
      "notesInFlow": true,
      "notes": "Add G-Drive Link to Skywide Dashboard"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\nYou are a technical content production assistant specializing in document formatting and export preparation.\n\nCRITICAL: The final sanitized article MUST remain {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). Sanitization is formatting-only and must not change word count.\n\nIMPORTANT: Page Intent: {{ $('Webhook1').first().json.body.page_intent }}\nEnsure the content tone and structure aligns with this intent (e.g., Informational, Transactional, Lead Gen), but DO NOT let this override the core SEO value and critical takeaways of the content.\n\n⛔ STRUCTURAL LOCK — META TAGS MUST BE PRESERVED ⛔\nThe very first lines of the article MUST begin with:\nMeta Title: [title here]\nMeta Description: [description here]\n\nThese are NOT meta-commentary. They are mandatory deliverable fields required by the CMS.\n- If they are present in the input, KEEP THEM EXACTLY on line 1 and line 2.\n- If they are missing from the input, ADD THEM before outputting.\n- NEVER remove, reformat, or move these two lines.\n- Your output must start with \"Meta Title:\" — no preamble, no intro sentence before it.\n",
              "role": "system"
            },
            {
              "content": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nSanitization must not alter word count - this is formatting cleanup only.\n\n# SEO Keywords\n{{ $('Webhook1').first().json.body.primary_keywords }}\n(Keywords should already be properly integrated - do not modify content)\n\n# Critical Rules (Already Applied - Verify Only)\n- The opening paragraph must include {{ $('Webhook1').first().json.body.client_name }} within the first two sentences\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Content written as NEUTRAL EXPERT about {{ $('Webhook1').first().json.body.client_name }} - never use \"we,\" \"our,\" \"us\" from any company perspective\n- Always use second person (\"you\") or neutral third person\n\n## Objective\nPrepare this article for clean DOCX export and client delivery through formatting sanitization only.\n\n## Required Sanitization (Formatting Changes Only):\n\n### Character Replacement\n- Replace smart quotes (\"\") with straight ASCII quotes (\"\")\n- Replace smart apostrophes (') with straight apostrophes (')\n- Replace em dashes (—) with double hyphens (--)\n- Replace en dashes (–) with single hyphens (-)\n- Remove any other non-ASCII characters or special symbols\n- Preserve all HTML entities if present\n\n### Spacing & Formatting Cleanup\n- Remove double spaces (replace with single space)\n- Eliminate rogue line breaks within paragraphs\n- Ensure consistent paragraph spacing (one blank line between paragraphs)\n- Remove trailing spaces at end of lines\n- Ensure consistent spacing after punctuation\n\n### Header Formatting\nKeep headers clearly marked using markdown:\n- H1: # Header Text\n- H2: ## Header Text  \n- H3: ### Header Text\n- H4: #### Header Text\n\n### List Formatting\n- Numbered lists: 1. Item text\n- Bullet lists: - Item text\n- Maintain consistent indentation\n\n## What NOT to Change:\n- Do not alter any wording or phrasing\n- Do not modify sentence structure\n- Do not change paragraph order or content\n- Do not add or remove any substantive text\n- Do not modify meta title or meta description\n- This is FORMATTING ONLY\n\n## Article to Sanitize:\n{{ $('Claude Final SEO Snippet Optimization').first().json.data[1].text }}\n\n## Before Submitting - MANDATORY CHECKS:\n1. Word count still between {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}?\n2. All smart quotes replaced with straight quotes?\n3. All special dashes replaced with ASCII hyphens?\n4. No double spaces or irregular line breaks?\n5. Content unchanged - only formatting cleaned?\n6. {{ $('Webhook1').first().json.body.client_name }} still in first two sentences?\n\n## Output Requirements:\nReturn ONLY the clean, sanitized article ready for Word document import. No explanatory text, meta-commentary, or word count in output.\n\nFormat: Start with Meta Title and Meta Description (if present), then the full article with clean markdown formatting."
            }
          ]
        },
        "options": {
          "temperature": 0.5,
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        531856,
        113760
      ],
      "id": "f868a5ee-063a-4d5f-bfc0-42eecdf63e7b",
      "name": "Document Export Sanitization5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\n# PRIMARY CONSTRAINT - Word Count\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words\n\nWhen combining and polishing both versions, stay within this range.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\n## EXAMPLE — CORRECT keyword placement:\nIf primary keyword = \"causes of anxiety in young adults\":\nGOOD H1: \"Understanding the Causes of Anxiety in Young Adults\"\nGOOD Intro: \"The causes of anxiety in young adults are complex, involving biology, environment, and social pressures.\"\nGOOD H2: \"What Causes Anxiety in Adolescence\" (secondary keyword as H2)\nGOOD Body: \"Teen social anxiety treatment often begins with identifying triggers.\" (secondary used naturally)\nGOOD Conclusion: \"Recognizing the causes of anxiety in young adults is the first step toward effective support.\"\n\n## EXAMPLE — WRONG keyword placement:\nBAD H1: \"Understanding Anxiety Disorders\" (primary keyword missing from H1)\nBAD Intro: \"Anxiety is a growing concern...\" (keyword not in first 100 words)\nBAD H2s: \"The Perfect Storm\" / \"The Path to Healing\" (no keywords in any H2)\nBAD: Secondaries never mentioned — \"teen boys\" never appears, \"social anxiety\" never appears\\n\\n## KEYWORD PRESERVATION (CRITICAL — HIGHEST PRIORITY)\nYou are the final LLM in the pipeline. Previous nodes have carefully placed target keywords.\nYour job is to improve readability and tone WITHOUT removing any keyword placement.\n\nPROTECTED ELEMENTS (do not alter these):\n1. H1 title — keep the primary keyword in it, you may adjust surrounding words only\n2. First 100 words — the primary keyword must remain in this window\n3. H2 headings containing keywords — do not replace with generic headings\n4. Final paragraph — the primary keyword must still appear here\n5. Every secondary/semantic keyword below must still appear at least once\n\nYou CAN: improve sentence flow, adjust transitions, fix awkward phrasing around keywords\nYou CANNOT: remove, rephrase, or relocate any target keyword\n\nPrimary: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic: {{ $('Webhook1').first().json.body.semantic_theme }}\n# Critical Rules\n- The closing paragraph must include {{ $('Webhook1').first().json.body.client_name }}\n- Never replace {{ $('Webhook1').first().json.body.client_name }} with \"the company\" or \"the brand\"\n- Never start with greetings like \"Hello,\" \"Welcome,\" \"Hey,\" or audience-flattery (\"dear readers,\" \"lovers of...\")\n- Primarily write from the company's perspective using first-person language (\"we,\" \"our\") for {{ $('Webhook1').first().json.body.client_name }}. Second-person (\"you\") can be used selectively, but avoid neutral third-party commentary.\n- Primarily write from the company's perspective using first-person language (\"we,\" \"our\"). Second-person (\"you\") can be used selectively, but avoid neutral third-party commentary.\n\n## Objective\nCombine the best elements from both NLP-optimized versions into one smooth, readable article that maintains the conversational \"friend giving advice\" tone and target word count.\n\n## Simple Goals:\n- Take the strongest passages from each version\n- Smooth any awkward transitions or repetitive sections between versions\n- Improve flow and readability without over-editing\n- **Preserve the natural, helpful voice throughout**\n- Keep all SEO optimizations intact (keywords, entities, structure)\n- Maintain word count by selecting best content, not adding\n\n## What to Combine:\n- Choose the more natural-sounding phrasing when versions differ\n- Keep the clearest explanations and examples\n- Eliminate redundancy between the two versions\n- Maintain the best heading structures\n- Preserve all technical optimizations (entity strength, passage clarity, formatting)\n\n## Critical Requirements:\n- Don't rewrite extensively - just polish and combine thoughtfully\n- Maintain the conversational, authentic tone above all else\n- Keep all keyword integration and entity relationships\n- Preserve technical optimizations from previous stages\n- No corporate or overly polished language\n- Stay within {{ $('Webhook1').first().json.body.word_count }} words ±10%\n\n## Input Versions:\n\n### Claude NLP Version:\n{{ $json.text }}\n\n### OpenAI NLP Version:\n{{ $json.message.content }}\n\n## Before Submitting - MANDATORY CHECKS:\n1. Word count between {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }}?\n2. Still sounds like genuine, helpful advice from a knowledgeable friend?\n3. {{ $('Webhook1').first().json.body.client_name }} mentioned naturally in the closing paragraph?\n4. Uses \"we/our\" brand voice appropriately?\n5. Flow feels natural, not choppy or over-edited?\n6. All SEO optimizations preserved?\n\n## Output Requirements:\nProvide ONLY the final polished article. Start with title, end with conclusion. No explanatory text, editing notes, or word count in output.\n\nQuality check: Does this still sound like genuine, helpful advice from a knowledgeable friend?\n\nIMPORTANT: Page Intent: {{ $('Webhook1').first().json.body.page_intent }}\nEnsure the content tone and structure aligns with this intent (e.g., Informational, Transactional, Lead Gen), but DO NOT let this override the core SEO value and critical takeaways of the content.\n\n{{ $('Keyword Strategist').first().json.system_prompt_injection }}\n\n{{ $('Keyword Strategist').first().json.structure_prompt_injection }}\n{{ $('Keyword Strategist').first().json.eeat_prompt_injection }}\n{{ $('Keyword Strategist').first().json.style_prompt_injection }}\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n⛔ STRUCTURAL LOCK — META TAGS MUST BE PRESERVED ⛔\nThe very first lines of the article MUST begin with:\nMeta Title: [title here]\nMeta Description: [description here]\n\nThese are NOT meta-commentary. They are mandatory deliverable fields required by the CMS.\n- If they are present in the input, KEEP THEM EXACTLY on line 1 and line 2.\n- If they are missing from the input, ADD THEM before outputting.\n- NEVER remove, reformat, or move these two lines.\n- Your output must start with \"Meta Title:\" — no preamble, no intro sentence before it.\n\n\n# ═══ MANDATORY EDITORIAL CHECKS ═══\nBefore outputting the article, verify:\n- Zero em-dashes (—) in the entire text. Replace with commas or periods.\n- \"Meta Title:\" and \"Meta Description:\" lines are present at the very start of the article (before the H1).\n- Client name appears only in the closing paragraph, not in the opening.\n- No instances of: seamless, seamlessly, journey, navigate, navigating, comprehensive (unless absolutely necessary).\n- No fabricated statistics or invented percentages.\n# ════════════════════════════════════════════\n",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\nYou are an experienced editor who specializes in light content polish and synthesis.\n\nCRITICAL: The final article MUST be {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding any FAQs) (±10%: {{ $('Webhook1').first().json.body.word_count * 0.9 }}-{{ $('Webhook1').first().json.body.word_count * 1.1 }} words). When combining versions, maintain this word count.\n\nYour role is to combine multiple versions of content into one flowing article while preserving the authentic, conversational tone and all technical optimizations already completed.\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n⚠️ FINAL WORD COUNT CHECK — MANDATORY BEFORE SUBMITTING:\n1. Count every word in your output.\n2. Target: {{ $('Webhook1').first().json.body.word_count }} words (±10% = {{ $('Webhook1').first().json.body.word_count * 0.9 }}–{{ $('Webhook1').first().json.body.word_count * 1.1 }} words).\n3. If you are OVER the limit: remove the least impactful sentences until you are within range.\n4. If you are UNDER: expand a thin section. Do NOT submit outside this range.\n5. DO NOT add this word count check to your output — output only the article.\n"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        530928,
        113760
      ],
      "id": "198e4d75-8193-46c7-9951-a061daf1f989",
      "name": "Claude Humanised Readability Rewrite",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"passed\": \"true\",\n  \"validation_issues\": \"\",\n  \"content\": \"Full article content here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        533624,
        112480
      ],
      "id": "9d9be9cc-0797-4a0d-85c7-6fefe0fe84d2",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"passed\": \"true\",\n  \"validation_issues\": \"\",\n  \"content\": \"Full article content here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        535608,
        113664
      ],
      "id": "c5938277-81f5-4221-844a-9050c86e3cf9",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"passed\": \"true\",\n  \"validation_issues\": \"\",\n  \"content\": \"Full article content here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        537912,
        114292
      ],
      "id": "3816c215-c5e8-4433-b284-11c1ef2d8045",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"passed\": \"true\",\n  \"validation_issues\": \"\",\n  \"content\": \"Full article content here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        536184,
        113108
      ],
      "id": "43ca1bf6-b4c3-4c51-9577-26529703521f",
      "name": "Structured Output Parser3",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\n# PRIMARY CONSTRAINT - Word Count (MANDATORY)\nTarget: {{ $('Webhook1').first().json.body.word_count }} words (for the main body, excluding FAQ)\nAcceptable range: {{ $json.word_count * 0.9 }} to {{ $json.word_count * 1.1 }} words\n\nYou MUST hit this word count target. Do not include the word count in your final article output.\n\n# KEYWORD PLACEMENT RULES (content will be scored against these)\nPrimary Keyword: {{ $('Webhook1').first().json.body.primary_keywords }}\nSecondary Keywords: {{ $('Webhook1').first().json.body.secondary_keywords }}\nSemantic Keywords: {{ $('Webhook1').first().json.body.semantic_theme }}\n\n## PLACEMENT CHECKLIST:\n1. H1 title must contain the primary keyword (exact wording, not paraphrased)\n2. Primary keyword must appear naturally within the first 100 words\n3. Primary keyword (or close variation) must appear in at least one H2 subheading\n4. Primary keyword must appear in the final paragraph\n5. Every secondary keyword must appear at least once in the body\n6. Every semantic keyword must appear at least once in the body\n7. Each H2 should target a DIFFERENT keyword — spread primary, secondary, and semantic across headings\n8. Never bold or italicize keywords in body text\n\n## EXAMPLE — CORRECT keyword placement:\nIf primary keyword = \"causes of anxiety in young adults\":\nGOOD H1: \"Understanding the Causes of Anxiety in Young Adults\"\nGOOD Intro: \"The causes of anxiety in young adults are complex, involving biology, environment, and social pressures.\"\nGOOD H2: \"What Causes Anxiety in Adolescence\" (secondary keyword as H2)\nGOOD Body: \"Teen social anxiety treatment often begins with identifying triggers.\" (secondary used naturally)\nGOOD Conclusion: \"Recognizing the causes of anxiety in young adults is the first step toward effective support.\"\n\n## EXAMPLE — WRONG keyword placement:\nBAD H1: \"Understanding Anxiety Disorders\" (primary keyword missing from H1)\nBAD Intro: \"Anxiety is a growing concern...\" (keyword not in first 100 words)\nBAD H2s: \"The Perfect Storm\" / \"The Path to Healing\" (no keywords in any H2)\nBAD: Secondaries never mentioned — \"teen boys\" never appears, \"social anxiety\" never appears\n# Global Rules\n1. Always mention the client's name ({{ $('Webhook1').first().json.body.client_name }}) naturally in the opening paragraph, within the first two sentences, unless explicitly instructed otherwise.\n2. Openings must be professional, relevant, and tied directly to the client's industry, audience, or problem space. Do not use jokes, unrelated stories, or casual metaphors unless requested in the brief.\n3. Tone should feel approachable and human — like trusted advice from someone with real experience. Avoid filler, clichés, or anything that feels AI-generated.\n4. Ensure every article begins with a clear, audience-focused hook that establishes why the content matters to the reader.\n5. Never substitute vague phrases like \"this company\" or \"the brand\" when {{ $('Webhook1').first().json.body.client_name }} should be used.\n\n# Writing Voice & Style\nWrite like you're having coffee with someone who asked for your honest advice:\n- Use natural speech: \"I think,\" \"Here's what works,\" \"Honestly,\" \"Look\"\n- Mix short punchy sentences with flowing ones\n- Include personal observations and mild controversy when relevant\n- Add parenthetical thoughts (we all do this) and natural rhetorical questions\n- Use contractions and start sentences with \"And,\" \"But,\" \"So\"\n\n# Content Approach\n- Share insights like you've experienced this firsthand\n- Include \"what I've noticed\" observations and real scenarios\n- Use everyday analogies, not business jargon\n- Disagree with common advice when you have better points\n- Admit limitations and when things don't always work\n\n# Critical: NEVER Use These AI Phrases\n\"You're Not Alone\" | \"You Are Not Alone\" | \"It's important to note\" | \"Additionally/Furthermore\" | \"In today's digital landscape\" | \"Streamline/leverage/optimize/enhance\" | \"In conclusion\" | Perfect bullet parallelism\n\n# Use These Natural Transitions Instead\n\"Also,\" \"Plus,\" \"Here's the deal,\" \"The thing is,\" \"So basically,\" \"Oh, and don't forget\"\n\n# Structure Requirements\n- Hook with natural conversation starter\n- Subheadings as questions or statements (not formal headings)\n- Include mild frustrations about misconceptions\n- End with genuine advice, not corporate wrap-up\n\n# Your Content Assignment\nTitle: {{ $json.brief_title }}\nBrief: {{ $('Webhook1').first().json.body.creative_brief }}\nTarget Audience: {{ $('Webhook1').first().json.body.audience }}\nSEO Keywords: {{ $('Webhook1').first().json.body.primary_keywords }}\n\n# Output Requirements\n- Write the complete article within {{ $json.word_count * 0.9 }}-{{ $json.word_count * 1.1 }} words\n- Do NOT include \"Word Count: X\" or any meta-information in your output\n- End with the final sentence of your article, nothing else\n\nAuthentic helpfulness is the goal, but hitting the word count is mandatory.\n\nIMPORTANT: Page Intent: {{ $('Webhook1').first().json.body.page_intent }}\nEnsure the content tone and structure aligns with this intent (e.g., Informational, Transactional, Lead Gen), but DO NOT let this override the core SEO value and critical takeaways of the content.\n\n\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n\n# ═══ CLIENT GROUND TRUTH (MANDATORY — USE THIS, NOT YOUR OWN RESEARCH) ═══\nThe following data was scraped directly from the client's official website.\nThese are the ONLY statistics, claims, and differentiators you are authorised to use.\n\nCLIENT PROFILE:\n{{ $('Client Profile Extractor').first().json.client_name || $('Webhook1').first().json.body.client_name }}\n\nVERIFIED SERVICES (use these exact names):\n{{ ($('Client Profile Extractor').first().json.services || []).join('\\n') }}\n\nVERIFIED CREDENTIALS:\n{{ ($('Client Profile Extractor').first().json.credentials || []).join('\\n') }}\n\nVERIFIED UNIQUE CLAIMS (use these, do not invent alternatives):\n{{ ($('Client Profile Extractor').first().json.unique_claims || []).join('\\n') }}\n\nVERIFIED PUBLISHED STATS (ONLY these numbers are allowed):\n{{ ($('Client Profile Extractor').first().json.published_stats || []).length > 0 ? ($('Client Profile Extractor').first().json.published_stats || []).join('\\n') : 'No specific statistics published on client website.' }}\n\nPRE-DRAFT FACT CHECK CONSTRAINTS:\n{{ $('Pre-Draft Fact Checker').first().json.choices?.[0]?.message?.content || $('Pre-Draft Fact Checker').first().json.message?.content || $('Pre-Draft Fact Checker').first().json.text || 'No fact-check constraints available.' }}\n# ═══════════════════════════════════════════════════════════════════════════\n\n# ⛔ ANTI-HALLUCINATION PROTOCOL (NON-NEGOTIABLE)\nRULE 1: You may ONLY use statistics, percentages, and numerical claims that appear\n        verbatim in the CLIENT GROUND TRUTH block above.\nRULE 2: If the client has no published stats, write the article without any statistics.\n        Do NOT invent percentages, multipliers, or precision figures.\nRULE 3: If you want to reference a third-party study, it MUST have been provided in\n        the SERP analysis or brief with a real URL. If no URL exists, omit the claim.\nRULE 4: Do NOT use phrases like \"studies show\", \"research reveals\", \"clinical data shows\",\n        or \"treatment providers report\" unless followed by a real named source + URL.\nRULE 5: Violations of this protocol will cause the article to fail QA and be rejected.\n",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Webhook1').first().json.body.is_revision ? '⚠️ REVISION MODE — DO NOT generate new content from scratch.\\n\\nThe client has already approved the base article below. Your task is ONLY to apply the specific revision notes listed below. Preserve ALL existing content, structure, keywords, and tone. Only change what is explicitly requested.\\n\\nREVISION NOTES:\\n' + $('Webhook1').first().json.body.revision_notes + '\\n\\nORIGINAL APPROVED CONTENT (preserve this as the base — only apply the revision notes above):\\n' + $('Webhook1').first().json.body.original_content + '\\n\\nEND OF ORIGINAL CONTENT\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nNow apply ONLY the revision notes above to the original content above. Do not rewrite sections that were not requested. Preserve keywords, client name, tone, and structure.\\n' : '' }}\nYou are an expert content writer who creates authentic, helpful articles that sound like genuine advice from a knowledgeable friend. \n\nCRITICAL REQUIREMENT: Every article MUST be {{ $('Webhook1').first().json.body.word_count }} words for the main body (excluding the FAQ section). Acceptable range: {{ $json.word_count * 0.9 }} to {{ $json.word_count * 1.1 }} words. Count carefully and adjust before finalizing.\n\nYour writing feels natural and conversational, never corporate or AI-generated. You have deep expertise across many topics and share insights like someone who's actually lived and worked in these areas. \n\nCurrent date: {{ $now.toISO() }}\\n\\n{{ $('Keyword Strategist').first().json.eeat_prompt_injection }}\\n\\n{{ $('Keyword Strategist').first().json.style_prompt_injection }}\\n\\n{{ $('Keyword Strategist').first().json.brief_authority_preamble }}\\n\\n{{ $('Keyword Strategist').first().json.brief_enforcer_injection }}\n\n{{ $('Keyword Strategist').first().json.faq_injection }}\\n\\n{{ $('Keyword Strategist').first().json.secondary_keyword_checklist }}\n\n\n# ═══ CLIENT GROUND TRUTH (MANDATORY — USE THIS, NOT YOUR OWN RESEARCH) ═══\nThe following data was scraped directly from the client's official website.\nThese are the ONLY statistics, claims, and differentiators you are authorised to use.\n\nCLIENT PROFILE:\n{{ $('Client Profile Extractor').first().json.client_name || $('Webhook1').first().json.body.client_name }}\n\nVERIFIED SERVICES (use these exact names):\n{{ ($('Client Profile Extractor').first().json.services || []).join('\\n') }}\n\nVERIFIED CREDENTIALS:\n{{ ($('Client Profile Extractor').first().json.credentials || []).join('\\n') }}\n\nVERIFIED UNIQUE CLAIMS (use these, do not invent alternatives):\n{{ ($('Client Profile Extractor').first().json.unique_claims || []).join('\\n') }}\n\nVERIFIED PUBLISHED STATS (ONLY these numbers are allowed):\n{{ ($('Client Profile Extractor').first().json.published_stats || []).length > 0 ? ($('Client Profile Extractor').first().json.published_stats || []).join('\\n') : 'No specific statistics published on client website.' }}\n\nRAW CLIENT WEBSITE INTELLIGENCE (HIGHEST AUTHORITY — takes precedence over all other sources):\n{{ $('Client Site Researcher').first().json.choices[0].message.content }}\n\nPRE-DRAFT FACT CHECK CONSTRAINTS:\n{{ $('Pre-Draft Fact Checker').first().json.choices?.[0]?.message?.content || $('Pre-Draft Fact Checker').first().json.message?.content || $('Pre-Draft Fact Checker').first().json.text || 'No fact-check constraints available.' }}\n# ═══════════════════════════════════════════════════════════════════════════\n\n\n# ═══ EDITORIAL RULES (NON-NEGOTIABLE — ENFORCED ON EVERY ARTICLE) ═══\n\n## RULE 1 — Client Name Placement\nThe client name ({{ $('Webhook1').first().json.body.client_name }}) MUST appear in the CLOSING/CONCLUSION paragraph.\nDo NOT mention the client in the opening paragraph or introduction.\nThe introduction must draw readers in with the topic — the client is introduced at the end as the solution.\n\n## RULE 2 — Brand Voice\nWrite primarily from the client's perspective using first-person language: \"we,\" \"our,\" \"us\" for {{ $('Webhook1').first().json.body.client_name }}.\nSecond-person (\"you\") can be used selectively when addressing the reader.\nDo NOT write in neutral third-party commentary about the client (e.g., \"XYZ Company offers...\" → wrong. \"We offer...\" → correct).\n\n## RULE 3 — Tone & Phrasing (MANDATORY RESTRICTIONS)\n- Do NOT use em-dashes (—). Use commas, periods, or parentheses instead.\n- Avoid: \"journey\", \"navigate\", \"navigating\", \"seamless\", \"seamlessly\"\n- Avoid: \"in the ever-changing landscape of\", \"in the ever-evolving terrain of\"\n- Restrict: \"comprehensive\", \"integrate\", \"integrated\" — use sparingly or not at all\n- Avoid correlative constructions: \"not only … but also\", \"not just … but also\"\n- No fabricated clinical quotes: never write \"our patients report…\", \"we have seen…\", \"practitioners consistently see…\"\n- Keep sentences concise. Keep paragraphs short (3-4 sentences max).\n- Writing must feel like trusted advice from a knowledgeable professional — not corporate copy.\n\n## RULE 4 — Meta Title & Meta Description (MANDATORY STRUCTURE)\nEvery article MUST begin with these two lines before the H1 heading:\nMeta Title: [SEO-optimised title, max 60 characters, includes primary keyword]\nMeta Description: [Compelling description, 140-160 characters, includes primary keyword]\n\n## RULE 5 — Claims & Statistics (ANTI-HALLUCINATION)\nOnly use statistics and facts from the VERIFIED CLAIMS MANIFEST below.\nDo NOT invent percentages, multipliers, or precision figures.\nIf no verified stats exist, write qualitatively without numbers.\n\n# ═══════════════════════════════════════════════════════\n\n# ═══ MANDATORY CLAIMS & PLACEMENT MANIFEST ═══\nThe following claims have been verified against the client's live website and fact-checked.\nEach claim includes the EXACT section it must be placed in. Place every claim in its specified section — no omissions.\n\n{{ JSON.stringify($('Claims Extractor & Manifest Generator').first().json.output ? $('Claims Extractor & Manifest Generator').first().json.output.placement_manifest : []) }}\n\nENFORCEMENT: Before finalising the article, scan each H2 section and confirm every manifest item for that section has been included.\n# ════════════════════════════════════════════════\n\n\n# ⛔ FABRICATED ATTRIBUTION BAN — ZERO TOLERANCE\nThe following sentence patterns are CATEGORICALLY FORBIDDEN because they attribute claims\nto unnamed sources or fabricate professional consensus. Remove or replace every instance:\n\nBANNED PATTERN 1 — Unnamed practitioner attribution:\n  ❌ \"Treatment providers specializing in [X] consistently see [Y] when...\"\n  ❌ \"Clinical experience across [field] consistently shows...\"\n  ❌ \"Evidence-based programs in [X] typically incorporate...\"\n  ❌ \"Professional standards from organizations like [X] recommend...\"\n  ❌ \"Practitioners consistently see...\"\n  ❌ \"Clinicians often find...\"\n  ❌ \"Research consistently shows...\" (without a named source + URL)\n  ❌ \"Studies suggest...\" (without a named study + author + year)\n  ❌ \"Experts agree...\" / \"Experts recommend...\"\n  ❌ \"Many professionals report...\"\n  ❌ \"The [field] community recognizes...\"\n\nBANNED PATTERN 2 — Fabricated organization guidelines:\n  ❌ Any claim attributed to the APA, AAP, AOTA, ASHA, or any organization \n     UNLESS it appears verbatim in the CLIENT GROUND TRUTH block below.\n  ❌ \"The American Psychological Association recommends...\"\n  ❌ \"According to [organization]...\" unless sourced from CLIENT GROUND TRUTH.\n\nBANNED PATTERN 3 — Fabricated clinical/internal quotes:\n  ❌ \"Our patients report...\" (unless from CLIENT GROUND TRUTH)\n  ❌ \"We have seen...\" (unless from CLIENT GROUND TRUTH)  \n  ❌ \"In our experience, clients who...\" (unless from CLIENT GROUND TRUTH)\n  ❌ \"Families who work with us typically...\" (unless from CLIENT GROUND TRUTH)\n\nRULE: If you cannot cite a specific named source (Author, Year, Publication), \nwrite the claim qualitatively WITHOUT attribution. \nExample: Instead of \"Research consistently shows X improves Y,\" write \"X can support Y.\"\nThis is always better than fabricating consensus.\n\n# ⛔ ANTI-HALLUCINATION PROTOCOL (NON-NEGOTIABLE)\nRULE 1: You may ONLY use statistics, percentages, and numerical claims that appear\n        verbatim in the CLIENT GROUND TRUTH block above.\nRULE 2: If the client has no published stats, write the article without any statistics.\n        Do NOT invent percentages, multipliers, or precision figures.\nRULE 3: If you want to reference a third-party study, it MUST have been provided in\n        the SERP analysis or brief with a real URL. If no URL exists, omit the claim.\nRULE 4: Do NOT use phrases like \"studies show\", \"research reveals\", \"clinical data shows\",\n        or \"treatment providers report\" unless followed by a real named source + URL.\nRULE 5: Violations of this protocol will cause the article to fail QA and be rejected.\nRULE 6: The creative brief may contain statistics and claims that are INVENTED or UNVERIFIED.\n        The Pre-Draft Fact Checker has audited the brief and flagged problematic claims above.\n        DO NOT use any statistic or claim from the brief that was flagged as unverified.\n        If in doubt, omit the number and use qualitative language (e.g. \"many studies suggest\").\nRULE 7: The CLIENT GROUND TRUTH block above is the SINGLE SOURCE OF TRUTH for all client-specific\n        facts. It overrides the brief, overrides your training data, overrides any other research.\n        When the brief contradicts the client website, the client website WINS.\n\n"
            }
          ]
        },
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        526576,
        113476
      ],
      "id": "10d56811-c22b-414c-97f4-bca7fa16d63a",
      "name": "Claude Draft (Claude Opus 3)1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Instruction Strategist v8 — Bulletproof + Custom Rules + Global Enforcement\nconst input = $('Webhook1').first().json.body;\n\n// ─── GLOBAL RULES: Always applied regardless of brief content ────────────────\nconst GLOBAL_RULES = [\n  \"Do NOT use AI-sounding filler phrases. Banned phrases: 'Additionally', 'Moreover', 'Furthermore', 'Let\\'s dive in', 'In conclusion', 'The bottom line', 'It\\'s worth noting', 'Dive into', 'In today\\'s world', 'Transitioning to'.\",\n  \"Write in active voice. Do not use passive voice constructions.\",\n  \"Keep paragraphs to 2–3 sentences maximum. Long paragraphs must be broken up.\",\n  \"ANTI-HALLUCINATION PROTOCOL: The client's website is the primary source of truth. If specific information is missing, fall back to general web research. However, if a specific claim, statistic, or percentage cannot be explicitly verified on the client website or reliable internet sources, YOU MUST OMIT IT SMOOTHLY. Do NOT invent or estimate statistics, research studies, percentages, or expert names. Do not use placeholders like [Data Needed] — just write around it naturally without tempering the overall content.\",\n  \"Do not use em-dashes (—). Replace with commas, colons, or restructured sentences.\",\n  \"Do not use generic CTAs like 'Click here' or 'Learn more'. CTAs must be specific and action-oriented.\",\n  \"Every H2 section must contain at least 2 substantive paragraphs. No single-sentence sections.\",\n  \"Do not repeat the same phrase or sentence structure in consecutive paragraphs.\",\n  \"Bold text (**bold**) should be used sparingly — only for genuinely critical terms, not for stylistic emphasis.\",\n];\n\nfunction parseKeywords(raw) {\n  if (!raw) return [];\n  if (Array.isArray(raw)) {\n    return raw.flatMap(item => item.split(',').map(k => k.trim())).filter(k => k.length > 0);\n  }\n  if (typeof raw !== 'string') return [];\n  return raw.split(',').map(k => k.trim()).filter(k => k.length > 0);\n}\n\nconst rawPrimary = input.primary_keywords;\nconst primary = (Array.isArray(rawPrimary) ? rawPrimary.join(', ') : rawPrimary) || '';\nconst secondary = parseKeywords(input.secondary_keywords);\nconst semantic = parseKeywords(input.semantic_themes);\n\n// ─── EXTRACT AI PARSED BRIEF DATA ────────────────────────────────────────────\nlet aiOutputRAW = $('Parse Creative Brief (LLM)').first().json.message?.content\n               || $('Parse Creative Brief (LLM)').first().json.text\n               || $('Parse Creative Brief (LLM)').first().json.choices?.[0]?.message?.content\n               || '{}';\n\nlet aiData = { headings: [], faqs: [], custom_rules: [], tone_instructions: '' };\ntry {\n  if (typeof aiOutputRAW === 'object' && aiOutputRAW !== null) {\n    aiData = { headings: [], faqs: [], custom_rules: [], tone_instructions: '', ...aiOutputRAW };\n  } else if (typeof aiOutputRAW === 'string') {\n    let cleanedRAW = aiOutputRAW;\n    cleanedRAW = cleanedRAW.replace(/^[\\s\\S]*?```json\\s*/, '').replace(/```[\\s\\S]*$/, '').trim();\n    cleanedRAW = cleanedRAW.replace(/^[\\s\\S]*?```\\s*/, '').replace(/```[\\s\\S]*$/, '').trim();\n    const match = cleanedRAW.match(/\\{[\\s\\S]*\\}/);\n    if (match) cleanedRAW = match[0];\n    const parsed = JSON.parse(cleanedRAW);\n    aiData = { headings: [], faqs: [], custom_rules: [], tone_instructions: '', ...parsed };\n  }\n} catch (e) {\n  console.log('Brief parser JSON parse failed:', e.message);\n}\n\nconst briefHeadings     = Array.isArray(aiData.headings)      ? aiData.headings      : [];\nconst faqArray          = Array.isArray(aiData.faqs)          ? aiData.faqs          : [];\nconst briefCustomRules  = Array.isArray(aiData.custom_rules)  ? aiData.custom_rules  : [];\nconst briefTone         = typeof aiData.tone_instructions === 'string' ? aiData.tone_instructions : '';\n\n// ─── FAQ INJECTION ────────────────────────────────────────────────────────────\nlet faqInjection = '';\nif (faqArray.length > 0) {\n  faqInjection = '### MANDATORY FAQS\\n\\nAt the end of the article include an FAQ section with EXACTLY these questions. If an answer is provided, incorporate that information into your answer — do not ignore it.\\n\\n';\n  faqArray.forEach(faq => {\n    faqInjection += `**Q: ${faq.question}**\\n`;\n    if (faq.answer && faq.answer.trim()) {\n      faqInjection += `A: (Use this information in your answer: ${faq.answer})\\n\\n`;\n    } else {\n      faqInjection += `A: [Write a complete, accurate answer]\\n\\n`;\n    }\n  });\n}\n\n// ─── STRUCTURE ENFORCEMENT (headings) ────────────────────────────────────────\nconst creativeBrief = input.creative_brief || '';\nlet briefEnforcerInjection = '';\nif (creativeBrief) {\n  briefEnforcerInjection = `### CREATIVE BRIEF STRUCTURE (MANDATORY)\n\nYou MUST follow the structural outline below. Do not invent your own structure.\n\n- Write the article conforming strictly to the content outline in the brief.\n- Use the exact H2 headings specified — do not add, remove, or reorder them.\n- Do NOT invent your own H2 headings if the outline already specifies them.\n\n`;\n  if (briefHeadings.length > 0) {\n    briefEnforcerInjection += `MANDATORY HEADING ORDER — USE THESE EXACT H2s:\\n`;\n    briefHeadings.forEach((h, i) => {\n      briefEnforcerInjection += `${i + 1}. ${h}\\n`;\n    });\n    briefEnforcerInjection += `\\nDo not add, remove, or reorder these headings.\\n`;\n  }\n}\n\n// ─── GLOBAL RULES INJECTION ───────────────────────────────────────────────────\nconst globalRulesInjection = `### GLOBAL EDITORIAL RULES (NON-NEGOTIABLE)\n\nThese rules apply to every article regardless of the brief. Each violation is unacceptable:\n\n${GLOBAL_RULES.map((r, i) => `${i + 1}. ${r}`).join('\\n')}\n`;\n\n// ─── BRIEF-SPECIFIC CUSTOM RULES INJECTION ───────────────────────────────────\nlet customRulesInjection = '';\nif (briefCustomRules.length > 0) {\n  customRulesInjection = `### BRIEF-SPECIFIC RULES (MANDATORY)\n\nThe following rules were explicitly specified in the creative brief. Every single one must be followed exactly:\n\n${briefCustomRules.map((r, i) => `${i + 1}. ${r}`).join('\\n')}\n`;\n}\n\n// ─── TONE INJECTION ───────────────────────────────────────────────────────────\nconst toneSource = briefTone || input.tone || '';\nlet briefAuthorityPreamble = '';\nif (toneSource) {\n  briefAuthorityPreamble = `Tone & Voice: ${toneSource}. Maintain this voice consistently from the first sentence to the last. Do not shift tone mid-article.`;\n}\n\n// ─── CLIENT FIRST PARAGRAPH ───────────────────────────────────────────────────\nlet firstParagraphInjection = '';\nif (input.client_name) {\n  firstParagraphInjection = `The opening paragraph MUST organically mention the client (${input.client_name}) within the first two sentences. Do NOT use \"the company\", \"the brand\", or \"they\" as a substitute.`;\n}\n\n// ─── SECONDARY / SEMANTIC KEYWORDS ───────────────────────────────────────────\nlet secondaryKeywordChecklist = '';\nif (secondary.length > 0 || semantic.length > 0) {\n  secondaryKeywordChecklist = '### SUPPLEMENTARY KEYWORDS (weave naturally — do not force):\\n';\n  if (secondary.length > 0) {\n    secondaryKeywordChecklist += 'Secondary Keywords:\\n' + secondary.map(k => '- ' + k).join('\\n') + '\\n\\n';\n  }\n  if (semantic.length > 0) {\n    secondaryKeywordChecklist += 'Semantic Themes:\\n' + semantic.map(s => '- ' + s).join('\\n') + '\\n';\n  }\n}\n\n\n\n// ─── EEAT INJECTION ───────────────────────────────────────────────────────────\nconst eeatPromptInjection = `### E-E-A-T SIGNALS (Experience, Expertise, Authoritativeness, Trustworthiness)\n\nWrite with demonstrable expertise. Signal experience through specificity — real scenarios, precise details, concrete outcomes.\nFor medical/legal/financial topics: only cite named primary sources (PubMed, official .gov/.org, peer-reviewed journals).\nNever use vague authority phrases like \"experts say\", \"studies show\", \"research reveals\" without a named source + URL.\nFabricated physician quotes or fake clinical statistics are grounds for immediate rejection.`;\n\n// ─── STYLE INJECTION ─────────────────────────────────────────────────────────\nconst stylePromptInjection = `### STYLE ENFORCEMENT (MANDATORY)\n\n- Do NOT use em-dashes (—). Replace with commas, periods, or parentheses.\n- Avoid: \"journey\", \"navigate\", \"navigating\", \"seamless\", \"seamlessly\"\n- Avoid: \"in the ever-changing landscape of\", \"in the ever-evolving terrain of\"\n- Restrict: \"comprehensive\", \"integrate\", \"integrated\"\n- Avoid correlative constructions: \"not only … but also\", \"not just … but also\"\n- Keep sentences concise. Keep paragraphs to 3-4 sentences maximum.\n- Writing must feel like trusted professional advice, not marketing copy.`;\n\n// ─── SYSTEM INJECTION ────────────────────────────────────────────────────────\nconst systemPromptInjection = `### GLOBAL RULES (NON-NEGOTIABLE)\n\n1. Client name appears ONLY in the closing paragraph — never in the opening.\n2. Write in first-person brand voice (we/our) for the client.\n3. Every article must start with Meta Title: and Meta Description: before the H1.\n4. No fabricated statistics, hallucinated studies, or invented clinical data.\n5. No em-dashes, no journey/navigate/seamless language.\n6. Word count must be within 10% of the target.`;\n\n// ─── STRUCTURE INJECTION ─────────────────────────────────────────────────────\nconst structurePromptInjection = `### STRUCTURAL REQUIREMENTS\n\n- Article must begin with: Meta Title: [max 60 chars] and Meta Description: [140-160 chars]\n- H1 must contain the primary keyword\n- Minimum one H2 must contain the primary keyword or a close variation\n- Primary keyword must appear in the first 100 words (after Meta Title/Description)\n- Primary keyword must appear in the conclusion\n- All FAQ questions must use H3 tags (### in markdown)\n- Never skip heading levels (H1 → H2 → H3 only)`;\n\n\nreturn {\n  json: {\n    primary_keyword_joined:         primary,\n    secondary_keywords_arr:         secondary,\n    semantic_themes_arr:            semantic,\n    brief_enforcer_injection:       briefEnforcerInjection,\n    faq_injection:                  faqInjection,\n    global_rules_injection:         globalRulesInjection,\n    custom_rules_injection:         customRulesInjection,\n    first_paragraph_client_injection: firstParagraphInjection,\n    secondary_keyword_checklist:    secondaryKeywordChecklist,\n    eeat_prompt_injection:      eeatPromptInjection,\n    style_prompt_injection:     stylePromptInjection,\n    system_prompt_injection:    systemPromptInjection,\n    structure_prompt_injection: structurePromptInjection,\n    brief_authority_preamble:       briefAuthorityPreamble,\n    detected_brief_headings:        briefHeadings,\n    detected_faqs:                  faqArray,\n    detected_custom_rules:          briefCustomRules,\n  }\n};"
      },
      "id": "dea7f115-506a-4cf0-b2e3-016527135f31",
      "name": "Keyword Strategist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        525456,
        113424
      ]
    },
    {
      "parameters": {
        "jsCode": "// Keyword Validator v3 — Expert-weighted scoring\nconst content = $input.first().json.content || $input.first().json.text || '';\nconst input = $('Webhook1').first().json.body;\n\nconst primary = (input.primary_keywords || '').trim();\nfunction parseKeywords(raw) {\n  if (!raw || typeof raw !== 'string') return [];\n  return raw.split(',').map(k => k.trim()).filter(k => k.length > 0);\n}\nfunction escapeRegex(str) {\n  return str.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\n\nif (!primary) {\n  return [{ json: { score: 0, passed: false, issues: ['No primary keyword provided'] } }];\n}\n\nconst allSecondary = [...parseKeywords(input.secondary_keywords), ...parseKeywords(input.semantic_theme)]\n  .filter((v, i, a) => a.indexOf(v) === i);\n\nconst lower = content.toLowerCase();\nconst primaryLower = primary.toLowerCase();\nconst plainText = content.replace(/<[^>]*>/g, '').replace(/[#*_]/g, '');\nconst words = plainText.split(/\\s+/);\n\nlet score = 0;\nconst issues = [];\n\n// 1. H1 contains primary keyword (20 pts — highest SEO value per Backlinko/Google)\nconst h1Match = content.match(/<h1[^>]*>(.*?)<\\/h1>/i) || content.match(/^#\\s+(.+)$/m);\nconst h1Text = h1Match ? h1Match[1].toLowerCase() : '';\nif (!h1Match) {\n  issues.push('MISSING H1 TAG');\n} else if (h1Text.includes(primaryLower)) {\n  score += 20;\n} else {\n  issues.push('Primary keyword NOT in H1. Found: \"' + (h1Match[1] || '').substring(0, 60) + '\"');\n}\n\n// 2. Primary in first 100 words (15 pts — Backlinko: \"still makes a difference\")\nconst first100 = words.slice(0, 100).join(' ').toLowerCase();\nif (first100.includes(primaryLower)) {\n  score += 15;\n} else {\n  issues.push('Primary keyword NOT in first 100 words');\n}\n\n// 3. Primary (or close variation) in at least one H2 (15 pts)\nconst h2Matches = content.match(/<h2[^>]*>(.*?)<\\/h2>/gi) || content.match(/^##\\s+(.+)$/gm) || [];\nconst h2Texts = h2Matches.map(h => h.replace(/<[^>]*>/g, '').replace(/^##\\s+/, '').toLowerCase());\nconst primaryWords = primaryLower.split(/\\s+/);\nconst minMatchWords = Math.ceil(primaryWords.length * 0.6);\nconst primaryInH2 = h2Texts.some(h => {\n  if (h.includes(primaryLower)) return true;\n  const matchedWords = primaryWords.filter(w => h.includes(w));\n  return matchedWords.length >= minMatchWords;\n});\nif (primaryInH2) {\n  score += 15;\n} else {\n  issues.push('Primary keyword (or variation) NOT in any H2');\n}\n\n// 4. Primary in conclusion (10 pts)\nconst paragraphs = plainText.split(/\\n\\n+/).filter(p => p.trim().length > 30);\nconst lastPara = paragraphs.length > 0 ? paragraphs[paragraphs.length - 1].toLowerCase() : '';\nif (lastPara.includes(primaryLower)) {\n  score += 10;\n} else {\n  issues.push('Primary keyword NOT in conclusion');\n}\n\n// 5. Keyword frequency check (10 pts — Backlinko: ~8 per 3200 words)\nconst primaryRegex = new RegExp(escapeRegex(primaryLower), 'gi');\nconst primaryCount = (lower.match(primaryRegex) || []).length;\nconst wordCount = words.length;\nconst expectedFreq = Math.max(3, Math.round((wordCount / 3200) * 8));\nif (primaryCount >= expectedFreq - 1 && primaryCount <= expectedFreq * 2) {\n  score += 10;\n} else if (primaryCount >= 2) {\n  score += 5;\n  issues.push('Keyword frequency: ' + primaryCount + 'x (target: ~' + expectedFreq + 'x)');\n} else {\n  issues.push('Keyword used only ' + primaryCount + 'x (target: ~' + expectedFreq + 'x)');\n}\n\n// 6. All secondary/semantic keywords present (25 pts)\nconst secondaryResults = allSecondary.map(kw => ({\n  keyword: kw,\n  found: lower.includes(kw.toLowerCase())\n}));\nconst secondaryFound = secondaryResults.filter(s => s.found).length;\nconst secondaryTotal = allSecondary.length || 1;\nscore += Math.round((secondaryFound / secondaryTotal) * 25);\nconst missing = secondaryResults.filter(s => !s.found).map(s => s.keyword);\nif (missing.length > 0) {\n  issues.push('MISSING secondary/semantic: ' + missing.join(' | '));\n}\n\n// 7. H2 keyword distribution (5 pts bonus — Surfer SEO best practice)\nconst keywordsInH2 = allSecondary.filter(kw =>\n  h2Texts.some(h => h.includes(kw.toLowerCase()))\n);\nif (keywordsInH2.length >= 1) {\n  score += 5;\n}\n\n// 8. Keyword bolding penalty (informational)\nconst boldedKeyword = content.match(new RegExp('\\\\*\\\\*[^*]*' + escapeRegex(primaryLower) + '[^*]*\\\\*\\\\*', 'i'));\nif (boldedKeyword) {\n  issues.push('WARNING: Primary keyword is bolded in body text');\n}\n\nconst finalScore = Math.min(100, score);\nconst passed = finalScore >= 60 && h1Text.includes(primaryLower) && first100.includes(primaryLower);\n\nreturn [{ json: {\n  score: finalScore,\n  passed,\n  issues,\n  checks: {\n    primaryInH1: h1Text.includes(primaryLower),\n    primaryInFirst100: first100.includes(primaryLower),\n    primaryInH2: primaryInH2,\n    primaryInConclusion: lastPara.includes(primaryLower),\n    frequency: primaryCount + 'x (target: ~' + expectedFreq + 'x)',\n    secondaryCoverage: secondaryFound + '/' + allSecondary.length,\n    missingKeywords: missing,\n    secondaryInH2s: keywordsInH2\n  }\n}}];"
      },
      "id": "330fc831-15db-4cde-89ff-6d5573caf62c",
      "name": "Keyword Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        525904,
        113424
      ]
    },
    {
      "parameters": {
        "folderId": "={{ $('Create folder1').first().json.id }}",
        "title": "={{ $('Webhook1').first().json.body.title }} - Claude"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        536816,
        113344
      ],
      "id": "bd494509-f675-490e-b0c6-7280494a9763",
      "name": "Create a document17",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "MtLhGZ2k5z3HZHk8",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=Overall Score: {{ $('1st Scoring Agent3').first().json.message.content.overallScore }}/100\n\nPotential Issues: {{ $('1st Scoring Agent3').first().json.message.content.issues }}\n\nPotential Fixes: {{ $('1st Scoring Agent3').first().json.message.content.fixes }}\n\nPotential Impact: {{ $('1st Scoring Agent3').first().json.message.content.impact }}\n\nCurrent Content: {{ $('Document Export Sanitization4').first().json.message.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        537104,
        113344
      ],
      "id": "3d0e51e1-94d5-4867-a74b-40b9bfdf320d",
      "name": "Update a document17",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "MtLhGZ2k5z3HZHk8",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        523632,
        114512
      ],
      "id": "3f95ade9-e820-44d8-bd31-2e6ab64dbbbe",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://skywide-content-flow.vercel.app/api/webhooks/n8n-error",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{$json.execution.id}}\",\n  \"errorMessage\": \"{{$json.execution.error.message}}\",\n  \"nodeName\": \"{{$json.execution.lastNodeExecuted}}\",\n  \"workflowId\": \"{{$workflow.id}}\",\n  \"workflowName\": \"{{$workflow.name}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        523856,
        114512
      ],
      "id": "67a08828-005a-4fc3-8447-118634580f42",
      "name": "Send Error to Dashboard"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://skywide-content-flow.vercel.app/api/webhooks/n8n-start",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{$execution.id}}\",\n  \"run_id\": \"{{  $('Webhook1').first().json.body.run_id }}\",\n  \"request_id\": \"{{ $('Webhook1').first().json.body.request_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        523856,
        113424
      ],
      "id": "5d10d7f0-91cf-4720-9dca-43258a2cb1bb",
      "name": "Startup Update"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://skywide-content-flow.vercel.app/api/webhooks/n8n-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"request_id\": $('Webhook1').first().json.body.request_id,\n  \"run_id\": $('Webhook1').first().json.body.run_id,\n  \"webhook_response\": $('Create folder1').isExecuted ? \"https://drive.google.com/drive/u/0/folders/\" + $('Create folder1').first().json.id : '',\n  \"raw_content\": $('Document Export Sanitization4').first().json.message.content\n} }}",
        "options": {}
      },
      "id": "b8ab02a3-f5f1-44b9-be57-b62572702888",
      "name": "Signal Completion (Update a document17)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        537328,
        113344
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are an exact structural extraction component. Extract four things from the Creative Brief and return them as raw valid JSON with NO markdown wrapping and NO explanation.\n\nReturn ONLY this JSON structure:\n{\n  \"headings\": [\"H2 heading 1\", \"H2 heading 2\"],\n  \"faqs\": [{\"question\": \"Q1?\", \"answer\": \"A1 text\"}],\n  \"custom_rules\": [\"Rule 1\", \"Rule 2\"],\n  \"tone_instructions\": \"Tone description as a single string\"\n}\n\nEXTRACTION RULES:\n\nheadings:\n- Extract ONLY explicit H2 or H3 headings from the structural outline section.\n- Do NOT include the H1 title.\n- Look in sections labelled: \"Content Structure\", \"Outline\", \"H2s:\", \"Sections:\", \"Headings:\", \"Content Outline & Writing Instructions\".\n- Preserve the exact heading text. Strip leading \"H2:\", \"H3:\", \"##\", \"###\", \"-\", \"*\" markers.\n\nfaqs:\n- Extract from the FAQ or \"Frequently Asked Questions\" section only.\n- Include answers if present. Use empty string for missing answers.\n- Each entry: { \"question\": \"...\", \"answer\": \"...\" }\n\ncustom_rules:\n- Extract any explicit writing instructions or constraints that are NOT headings or FAQs.\n- Look in sections labelled: \"Writing Instructions\", \"Style Notes\", \"Editorial Rules\", \"Content Notes\", \"Writing Guidelines\", \"Restrictions\", \"Do / Don't\", \"Important Notes\".\n- Also extract inline constraints anywhere in the brief that use directive language: \"must\", \"do not\", \"always\", \"never\", \"avoid\", \"ensure\", \"should\", \"do NOT\", \"include\", \"exclude\", \"refrain\".\n- Each rule should be a self-contained instruction string.\n- Extract up to 20 rules maximum.\n\ntone_instructions:\n- Extract the tone/voice directive as a single descriptive string.\n- Look for: \"Tone:\", \"Voice:\", \"Writing Style:\", \"Tone & Style:\", \"Tone of Voice:\".\n- If multiple tone descriptors exist, combine them into one string.\n- Return empty string if no tone directive is found.\n\nIf any category yields no results, return an empty array [] or empty string \"\".",
              "role": "system"
            },
            {
              "content": "=Creative brief text to extract from:\n\n{{ $('Webhook1').first().json.body.creative_brief }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1500,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        524080,
        113424
      ],
      "id": "a3104167-ba87-4389-8611-e8e9f6bed391",
      "name": "Parse Creative Brief (LLM)",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=You are an elite Fact-Checker and Brief Auditor. Read the provided content brief. Extract all factual claims, specifically focusing on:\n1. Legal and administrative code citations.\n2. Specific quantitative limits or mandates.\n3. Conversions, statistics, and values.\n4. Procedural rules, timelines, and penalties.\n5. Named authors, physicians, or experts — flag any named person with a specific role or byline, and note the client website URL if provided so their existence can be verified.\n6. Specific research citations or studies required by the brief — flag the exact study, author, year, and the precise finding so drafters use the correct source and do not overstate or misrepresent what the study measured.\n7. Promotional or marketing statistics — any percentage, multiplier, or quantified claim (e.g., '50% more', '3x better ROI') must be traceable to an independent, verifiable source such as a research institution, government agency, or peer-reviewed publication. If a statistic appears to originate only from the client's own claims or cannot be verified externally, flag it explicitly for REMOVAL.\nSearch the web to verify each claim against the most authoritative primary source for the topic — such as government agencies (.gov), academic institutions (.edu), official regulatory bodies, or the official website of the specific organization or association being cited.\nCRITICAL RULES:\n- RETRIEVAL GROUNDING: If a specific percentage or precise figure cannot be found in a primary source, do NOT invent or guess a number. You MUST flag it to be rewritten using qualitative language (e.g., \"a significant reduction\") rather than hallucinating numerical precision.\n- PHARMACOLOGICAL CONFLATION: Flag instances where the brief conflates a mechanism of action with a clinical outcome or serum change. Strictly differentiate these medical concepts.\n- NEVER invent or synthesize new statistics, numbers, or claims.\n- DO NOT add any new claims that were not in the brief.\n- If a claim is incorrect, correct it ONLY if you find the exact figure from a verified primary source.\n- If no primary source confirmation can be found, explicitly flag that claim for REMOVAL rather than guessing.\nOutput a structured 'Fact-Check Report' correcting errors based ONLY on verified official sources.\n\n⛔ CITATION LABEL VERIFICATION — MANDATORY ⛔\nFor every source in the Cited Sources / References section:\n1. The label/title you assign MUST match the actual title of the paper or page at that URL.\n2. Do NOT relabel a paper with a different title to make it appear relevant to a different topic.\n3. PMC/PubMed entries (pmc.ncbi.nlm.nih.gov/articles/PMCXXXXXXX) must be labeled with their EXACT PubMed paper title.\n4. If the actual paper title does not match the article topic, REMOVE that citation entirely — do not keep it with a fabricated label.\n5. Known violation to catch: PMC8868033 is titled \"Rising Rates of Adolescent Depression in the United States\" — it must NOT be labeled as anything related to defiance, emotion regulation, or behavioral management.\n\n⚠️ CRITICAL ADDITIONAL DIRECTIVE — BRIEF STAT HANDLING:\nThe creative brief provided to you was written by a human and MAY CONTAIN INVENTED or HALLUCINATED statistics.\nYour job is to be the final gate before these stats enter the article.\n\nFor EVERY statistic, percentage, or quantified claim in the brief:\n- Search for it against primary sources (government, peer-reviewed, official org websites)\n- If VERIFIED: label it ✅ VERIFIED — safe to use\n- If NOT FOUND or only found on low-authority/client-created pages: label it ❌ REMOVE FROM BRIEF — do not use in article\n- If DIRECTIONALLY TRUE but imprecise: label it ⚠️ REWRITE — use qualitative language instead\n\nOutput a clear BRIEF STAT AUDIT section at the end of your fact-check report listing each stat and its verdict.\nThe writer will use this list to know exactly which brief claims they are forbidden from including.",
              "role": "system"
            },
            {
              "content": "=Brief Data to Audit:\n{{ $('Webhook1').first().json.body.creative_brief }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        525232,
        113424
      ],
      "id": "e37024a2-5246-4576-bc68-9690ed06c244",
      "name": "Pre-Draft Fact Checker",
      "credentials": {
        "perplexityApi": {
          "id": "iuHSBzk6FDLpyJRT",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "You are a ruthless Fact-Checker. You will receive the original content brief AND the synthesized article draft. Your job is to verify the draft against both the brief's requirements and real-world primary sources.\n\nSpecifically check for:\n1. CITATION COMPLIANCE: Does the draft use the exact studies, authors, and years required by the brief? If the brief required a specific citation and the draft used a different one, flag and correct it.\n2. STUDY FINDING PRECISION: For every study cited, verify the exact finding against the primary source. If a study only measured one specific outcome (e.g., reduced FREE testosterone only), the draft must not claim it affected a broader set (e.g., 'both free AND total testosterone'). Correct any overstatement to match only what the study actually measured and reported.\n3. FINDING ACCURACY: If the draft inverts or misrepresents a study's conclusion, correct it to match what the study actually reported.\n4. NAMED ENTITY VERIFICATION: If the draft includes a named physician, author, or expert with a byline or attributed role, verify they actually appear on the client website or cited source. If they cannot be verified, remove the name.\n5. STATISTIC ACCURACY: Verify every number, percentage, or rate against an independent primary source. Do not approximate or substitute a related figure — if the exact figure cannot be confirmed from an independent source, remove the claim entirely.\n6. PROMOTIONAL STATISTICS: Any quantified claim (e.g., '3x better ROI', '70-80% cost savings', '300% more visibility') that cannot be traced to an independent, verifiable research source — such as a peer-reviewed study, government report, or recognized industry research body — must be REMOVED. Client-generated claims, brief-supplied statistics, and industry marketing figures with no traceable primary source do not qualify as verified facts and must be deleted from the article.\n\nCRITICAL RULES:\n- RETRIEVAL GROUNDING: If a precise number is unanchored to a real source, rewrite the sentence using qualitative language instead of inventing numerical precision.\n- PHARMACOLOGICAL CONFLATION: Strictly differentiate between mechanism of action, serum changes, and clinical response rates. Do not blend them.\n- STRIP FABRICATED ANECDOTES: Remove any testimonial phrasing (e.g. \"our patients report\") unless it was explicitly quoted in the original brief.\n- NEVER add new statistics, facts, or claims under any circumstances.\n- NEVER replace a wrong figure with a related but different figure — only use the exact correct figure from the primary source, or remove it.\n- Do not guess, approximate, or infer. Remove unverifiable claims entirely.\n- Maintain the exact tone and word count of the original draft.\n- Output ONLY the finalized, factually correct article without any meta-commentary.\n\n⛔ STRUCTURAL LOCK — META TAGS MUST BE PRESERVED ⛔\nThe very first lines of the article MUST begin with:\nMeta Title: [title here]\nMeta Description: [description here]\n\nThese are NOT meta-commentary. They are mandatory deliverable fields required by the CMS.\n- If they are present in the input, KEEP THEM EXACTLY on line 1 and line 2.\n- If they are missing from the input, ADD THEM before outputting.\n- NEVER remove, reformat, or move these two lines.\n- Your output must start with \"Meta Title:\" — no preamble, no intro sentence before it.\n\n\n⛔ CITATION LABEL VERIFICATION — MANDATORY ⛔\nFor every source in the Cited Sources / References section:\n1. The label/title you assign MUST match the actual title of the paper or page at that URL.\n2. Do NOT relabel a paper with a different title to make it appear relevant to a different topic.\n3. PMC/PubMed entries (pmc.ncbi.nlm.nih.gov/articles/PMCXXXXXXX) must be labeled with their EXACT PubMed paper title.\n4. If the actual paper title does not match the article topic, REMOVE that citation entirely — do not keep it with a fabricated label.\n5. Known violation to catch: PMC8868033 is titled \"Rising Rates of Adolescent Depression in the United States\" — it must NOT be labeled as anything related to defiance, emotion regulation, or behavioral management.\n",
              "role": "system"
            },
            {
              "content": "=ORIGINAL BRIEF (for citation and requirement cross-checking):\n{{ $('Webhook1').first().json.body.creative_brief }}\n\nARTICLE DRAFT TO VERIFY:\n{{ $('Data Check & Research Gaps1').first().json.message?.content || $('Data Check & Research Gaps1').first().json.choices?.[0]?.message?.content || $('Data Check & Research Gaps1').first().json.text }}\n\nPRE-DRAFT FACT CHECKER REPORT (treat claims listed here as ground truth):\n{{ $('Keyword Strategist').first().json.fact_check_report }}\n\nCRITICAL ADDITIONAL CHECK — CLIENT GROUND TRUTH COMPLIANCE:\nCompare every statistic, percentage, and numerical claim in the draft against the verified\nclient profile below. Flag any number that does NOT appear in the client's published stats.\n\nVERIFIED CLIENT PROFILE:\n{{ JSON.stringify($('Client Profile Extractor').first().json, null, 2) }}\n\nFor each suspicious stat found in the draft that is NOT in the client profile above:\n- Mark it as: ⛔ HALLUCINATED STAT: \"[the claim]\" — not found on client website\n- Suggest removing it or replacing it with a verified alternative if available.\n"
            }
          ]
        },
        "options": {
          "maxTokens": 8000
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        527376,
        113252
      ],
      "id": "77408ebb-8353-4801-8746-d63644916afb",
      "name": "Post-Draft Fact Checker",
      "credentials": {
        "perplexityApi": {
          "id": "iuHSBzk6FDLpyJRT",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are a strict content structure auditor. Compare a generated article against required structure from a content brief. Return ONLY raw valid JSON — no markdown, no commentary.\n\nJSON format:\n{\n  \"headings_match\": true,\n  \"faq_included\": true,\n  \"rules_violated\": [\"specific violation 1\", \"specific violation 2\"],\n  \"overall_pass\": true,\n  \"correction_notes\": \"Precise surgical instructions to fix ONLY the issues found.\"\n}\n\nRules:\n- headings_match: true ONLY if ALL required headings appear in the article. Allow semantic equivalence — exact wording not required if meaning is identical.\n- faq_included: true if required FAQ questions appear in an FAQ section. true if no FAQs were required.\n- rules_violated: list ONLY actual violations of the brief-specific custom rules. Be specific about WHERE the violation occurs (e.g. \"Rule 3 violated: Em-dash used in paragraph 2 of the 'Causes' section\").\n- overall_pass: true ONLY if headings_match=true AND faq_included=true AND rules_violated=[] (empty array).\n- correction_notes: If overall_pass is false, write precise surgical instructions for a rewriter. Reference the exact location of each issue. If overall_pass is true, use empty string \"\".",
              "role": "system"
            },
            {
              "content": "=REQUIRED HEADINGS:\n{{ $('Keyword Strategist').first().json.detected_brief_headings?.length > 0 ? $('Keyword Strategist').first().json.detected_brief_headings.join('\\n') : 'No specific headings required — accept any structure.' }}\n\nREQUIRED FAQ QUESTIONS:\n{{ $('Keyword Strategist').first().json.detected_faqs?.length > 0 ? $('Keyword Strategist').first().json.detected_faqs.map(f => f.question).join('\\n') : 'No FAQs required.' }}\n\nBRIEF-SPECIFIC CUSTOM RULES:\n{{ $('Keyword Strategist').first().json.detected_custom_rules?.length > 0 ? $('Keyword Strategist').first().json.detected_custom_rules.join('\\n') : 'No brief-specific rules to check.' }}\n\nGENERATED ARTICLE TO AUDIT:\n{{ $json.content || $json.text || $json.message?.content || $json.output || '' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 8000,
          "temperature": 0
        }
      },
      "id": "qa-001-structure-auditor-p1",
      "name": "Structure Auditor (Pass 1)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        532208,
        113760
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      },
      "notes": "Audits generated article structure vs brief. Returns JSON compliance report."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "audit-gate-1-cond",
              "leftValue": "={{ ($json.message?.content?.overall_pass ?? $json.overall_pass ?? ($json.message?.content?.rules_violated?.length === 0) ?? false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "qa-002-audit-gate-p1",
      "name": "Structure Audit Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        532560,
        113760
      ],
      "notes": "PASS → 1st Scoring Agent3 (happy path). FAIL → Surgical Rewriter."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a surgical content editor. You have a generated article and a precise list of structural violations. Fix ONLY the listed violations and return the COMPLETE corrected article.\n\nCRITICAL RULES — READ CAREFULLY:\n1. Fix ONLY the violations listed in CORRECTIONS NEEDED below. Touch nothing else.\n2. Preserve ALL existing content, headings, and formatting that are not listed as violations.\n3. Return the COMPLETE article with corrections applied — not just the changed sections.\n4. Do NOT add any commentary, apology, or explanation. Return only the article text.\n5. Do NOT add new sections, change the word count significantly, or restructure the article.\n\nCORRECTIONS NEEDED:\n{{ $('Structure Auditor (Pass 1)').first().json.message?.content?.correction_notes || $('Structure Auditor (Pass 1)').first().json.correction_notes || 'No specific corrections noted.' }}\n\nORIGINAL ARTICLE:\n{{ $('Document Export Sanitization5').first().json.content || $('Document Export Sanitization5').first().json.text || $('Document Export Sanitization5').first().json.message?.content || '' }}",
        "batching": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "id": "qa-003-surgical-rewriter",
      "name": "Surgical Rewriter",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        532784,
        113884
      ],
      "notes": "Fixes ONLY the structural violations from the audit. Does not rewrite passing content."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are a strict content structure auditor. Compare a generated article against required structure from a content brief. Return ONLY raw valid JSON — no markdown, no commentary.\n\nJSON format:\n{\n  \"headings_match\": true,\n  \"faq_included\": true,\n  \"rules_violated\": [\"specific violation 1\", \"specific violation 2\"],\n  \"overall_pass\": true,\n  \"correction_notes\": \"Precise surgical instructions to fix ONLY the issues found.\"\n}\n\nRules:\n- headings_match: true ONLY if ALL required headings appear in the article. Allow semantic equivalence — exact wording not required if meaning is identical.\n- faq_included: true if required FAQ questions appear in an FAQ section. true if no FAQs were required.\n- rules_violated: list ONLY actual violations of the brief-specific custom rules. Be specific about WHERE the violation occurs (e.g. \"Rule 3 violated: Em-dash used in paragraph 2 of the 'Causes' section\").\n- overall_pass: true ONLY if headings_match=true AND faq_included=true AND rules_violated=[] (empty array).\n- correction_notes: If overall_pass is false, write precise surgical instructions for a rewriter. Reference the exact location of each issue. If overall_pass is true, use empty string \"\".",
              "role": "system"
            },
            {
              "content": "=REQUIRED HEADINGS:\n{{ $('Keyword Strategist').first().json.detected_brief_headings?.length > 0 ? $('Keyword Strategist').first().json.detected_brief_headings.join('\\n') : 'No specific headings required.' }}\n\nREQUIRED FAQ QUESTIONS:\n{{ $('Keyword Strategist').first().json.detected_faqs?.length > 0 ? $('Keyword Strategist').first().json.detected_faqs.map(f => f.question).join('\\n') : 'No FAQs required.' }}\n\nBRIEF-SPECIFIC CUSTOM RULES:\n{{ $('Keyword Strategist').first().json.detected_custom_rules?.length > 0 ? $('Keyword Strategist').first().json.detected_custom_rules.join('\\n') : 'No brief-specific rules to check.' }}\n\nCORRECTED ARTICLE TO AUDIT (post-rewrite):\n{{ $('Surgical Rewriter').first().json.text || $('Surgical Rewriter').first().json.output || $('Surgical Rewriter').first().json.message?.content || '' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 8000,
          "temperature": 0
        }
      },
      "id": "qa-005-structure-auditor-p2",
      "name": "Structure Auditor (Pass 2)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        533136,
        113884
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      },
      "notes": "Second compliance check after surgical rewrite."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "audit-gate-2-cond",
              "leftValue": "={{ $json.message?.content?.overall_pass ?? $json.overall_pass ?? false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "qa-006-audit-gate-p2",
      "name": "Structure Audit Gate 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        533552,
        113884
      ],
      "notes": "PASS → 1st Scoring Agent3. FAIL → Flag For Human Review (still proceeds to scoring)."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "flag-a",
              "name": "rewrite_flagged",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "flag-b",
              "name": "rewrite_flag_reason",
              "value": "={{ $('Structure Auditor (Pass 2)').first().json.message?.content?.rules_violated?.join('; ') || 'Structure audit failed after 2 correction passes. Manual review required.' }}",
              "type": "string"
            },
            {
              "id": "flag-c",
              "name": "content",
              "value": "={{ $('Surgical Rewriter').first().json.text || $('Surgical Rewriter').first().json.output || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "qa-007-flag-for-review",
      "name": "Flag For Human Review",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        533840,
        113964
      ],
      "notes": "Marks article as needing human review after 2 failed QA passes. Still routes to scoring."
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=You are a Client Research Analyst. Your ONLY job is to research what a specific business actually offers, as published on their own website.\n\n{{ $('Webhook1').first().json.body.client_website_url ? 'A client website URL has been provided. You MUST search it directly.' : 'No client website URL was provided. Search for the client by name to find their official website.' }}\n\nRESEARCH PRIORITY ORDER:\n1. Search site:{{ $('Webhook1').first().json.body.client_website_url || $('Webhook1').first().json.body.client_name }} for their services/products page\n2. Search site:{{ $('Webhook1').first().json.body.client_website_url || $('Webhook1').first().json.body.client_name }} for their about page\n3. Search site:{{ $('Webhook1').first().json.body.client_website_url || $('Webhook1').first().json.body.client_name }} for their contact/locations page\n4. Search the web for '{{ $('Webhook1').first().json.body.client_name }} official website' as a fallback\n\nEXTRACT ONLY what is explicitly published on their website:\n- Services and products they actually offer\n- Service areas and locations\n- Certifications, licenses, awards, accreditations\n- Named team members with their actual roles\n- Unique differentiators and specific claims they make\n- Any specific statistics or figures they publish\n\nCRITICAL: Do NOT infer, assume, or add industry-standard services the client may not offer.\nCRITICAL: Only include what you can directly verify from their published web pages.\n\n\nCRITICAL — STATISTICS AND NUMBERS (Most Important):\nYou MUST actively search for and extract any and all numerical data published by this client:\n- Outcome statistics (e.g. \"60% improvement in communication\")\n- Success rates or performance figures\n- Number of clients served, locations, years in business\n- Awards, rankings, or accreditation scores with numbers\n- Any percentages, multipliers, or before/after figures\n- Pricing if published\n- Wait times, session lengths, or service durations\n\nIf you find any numbers at all on their site, include them verbatim in your report.\nThese numbers are CRITICAL because they are the ONLY statistics writers are allowed to use.\nIf you find NO statistics on their site, explicitly state: \"CONFIRMED: No numerical statistics published on client website.\"\n\nCRITICAL: If you cannot access their site or find their official presence, state 'UNABLE TO VERIFY' for each category.",
              "role": "system"
            },
            {
              "content": "=Research this client and extract their verified business profile:\n\nClient Name: {{ $('Webhook1').first().json.body.client_name }}\nClient Website: {{ $('Webhook1').first().json.body.client_website_url || 'Not provided — search by name' }}\nArticle Topic: {{ $('Webhook1').first().json.body.title }}\n\nSearch their website and return a thorough summary of everything you find about their actual services, products, locations, team, and credentials. Be specific — include actual service names, not generic descriptions."
            }
          ]
        },
        "options": {
          "temperature": 0.1
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        524656,
        113280
      ],
      "id": "4f35c7d9-e340-46eb-985d-8e132c4a9143",
      "name": "Client Site Researcher",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "perplexityApi": {
          "id": "iuHSBzk6FDLpyJRT",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a data extraction specialist. You receive raw web research about a business and condense it into a precise, structured JSON profile.\n\nOUTPUT RULES:\n- Output ONLY valid JSON — no markdown, no code blocks, no commentary\n- Only include facts that were explicitly found in the research\n- Use empty arrays [] for categories where nothing was found\n- Use the exact service/product names as found on the site\n- Keep descriptions concise — one line per item maximum\n\nOUTPUT FORMAT:\n{\n  \"verified\": true,\n  \"client_name\": \"string\",\n  \"services\": [\"list of actual services offered\"],\n  \"products\": [\"list of actual products sold/offered\"],\n  \"service_areas\": [\"locations, cities, regions, or 'National' if applicable\"],\n  \"credentials\": [\"certifications, licenses, awards, memberships\"],\n  \"team\": [\"Name - Role (only if explicitly listed on their site)\"],\n  \"unique_claims\": [\"specific differentiators they publish, e.g. '24/7 emergency callout'\"],\n  \"published_stats\": [\"any statistics from their site, e.g. '500+ projects completed'\"],\n  \"confidence\": \"high | medium | low\"\n}",
              "role": "system"
            },
            {
              "content": "=Convert this web research into a structured JSON client profile.\n\nClient: {{ $('Webhook1').first().json.body.client_name }}\n\nRaw Research:\n{{ $('Client Site Researcher').first().json.choices?.[0]?.message?.content || $('Client Site Researcher').first().json.message?.content || $('Client Site Researcher').first().json.text || 'No research data available' }}\n\nExtract only verified facts from the research above. Output valid JSON only."
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        524880,
        113280
      ],
      "id": "b67b27ca-6089-4ad5-bc7b-8f271495bb71",
      "name": "Client Profile Extractor",
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "rev_mode_check",
              "leftValue": "={{ $('Webhook1').first().json.body.is_revision }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06948d25-765f-4f40-8094-7c0c8836dc32",
      "name": "If Revision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        524432,
        113352
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 4096,
          "temperature": 0,
          "responseFormat": "json_object"
        }
      },
      "id": "bb9b1623-3b67-41af-8421-a4f743f209cc",
      "name": "Claims Extractor Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        529248,
        113548
      ],
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Claims & Placement Manifest Generator\n\nYou are a strict editorial analyst. Your job is to read the Creative Brief and the Client Website Data, then produce a PLACEMENT-AWARE Claims Manifest.\n\nThis manifest will be handed directly to an AI writer. Each claim must include EXACTLY which section of the article it belongs to, so the writer knows precisely where to place it — no guessing allowed.\n\n## Inputs\n**Creative Brief:**\n{{ $('Webhook1').first().json.body.creative_brief || 'No Brief Provided' }}\n\n**Client Website Data:**\n{{ JSON.stringify($json) }}\n\n## Instructions\n1. Read the brief's SECTION-BY-SECTION OUTLINE carefully. \n2. For each section in the outline, extract every claim, statistic, citation, or internal link that the brief explicitly instructs to place in that section.\n3. Also extract any statistics or facts from the Client Website Data that are relevant to that section.\n4. Each item in the manifest must include: the exact text of the claim/fact/link, the target section H2 heading, and the source (Brief, Website, or Both).\n5. Also generate a forbidden_patterns list of AI hallucination phrases to avoid.\n\nOutput STRICTLY in the provided JSON schema.\nCRITICAL: Return ONLY raw, valid JSON. Do NOT wrap your response in markdown code blocks. Do NOT add any conversational text.\nYou must return a valid JSON object.",
        "hasOutputParser": true
      },
      "id": "fa707500-6484-4078-8a6f-b544d7cc8f00",
      "name": "Claims Extractor & Manifest Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        529176,
        113324
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "id": "8e3f5373-bdad-4291-b346-6aff6e85b139",
      "name": "QSI Bouncer Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        531648,
        113700
      ],
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "\n# ═══ EDITORIAL RULES — FINAL ENFORCEMENT ═══\nBefore finalising the article, verify ALL of the following:\n\n1. ✅ Client name appears ONLY in the closing/conclusion paragraph — NOT in the opening\n2. ✅ Article is written in first-person brand voice (we/our) for the client where appropriate\n3. ✅ Zero em-dashes (—) — replace any found with commas or periods\n4. ✅ None of these words present: seamless, seamlessly, journey, navigate, navigating\n5. ✅ Article begins with \"Meta Title:\" and \"Meta Description:\" before the H1\n6. ✅ Every claim in the manifest below has been placed in its correct section\n7. ✅ No fabricated statistics, clinical quotes, or invented percentages\n\nVERIFIED CLAIMS MANIFEST (every item must appear in the article in its specified section):\n{{ JSON.stringify($('Claims Extractor & Manifest Generator').first().json.output ? $('Claims Extractor & Manifest Generator').first().json.output.placement_manifest : []) }}\n# ════════════════════════════════════════════════\n\n=# The QSI Bouncer\n\nYou are the final gatekeeper. Your job is to compare the Drafted Article against the strict Claims Manifest and DELETE any hallucinations, and strictly fix any attribution errors.\n\n## Inputs\n**Drafted Article:**\n{{ $json.output || $json.text || $json.message?.content }}\n\n**Approved Claims Manifest:**\n{{ JSON.stringify($('Verified Claims Parser').first().json.output || $('Verified Claims Parser').first().json) }}\n\n\n## ⛔ FABRICATED ATTRIBUTION SCAN (REQUIRED BEFORE OUTPUT)\n\nScan the entire article for these BANNED PATTERNS and REMOVE or REWRITE every instance:\n\n**Banned unnamed-practitioner patterns:**\n- \"Treatment providers specializing in...consistently see...\"\n- \"Clinical experience across...consistently shows...\"\n- \"Evidence-based programs...typically incorporate...\"\n- \"Professional standards from organizations like [X] recommend...\"\n- \"Practitioners consistently see...\" / \"Clinicians often find...\"\n- \"Research consistently shows...\" (no named source)\n- \"Studies suggest...\" (no named study + year)\n- \"Experts agree/recommend...\" / \"Many professionals report...\"\n\n**Banned fabricated organization citations:**\n- Any claim attributed to APA, AAP, AOTA, ASHA, or any named organization\n  UNLESS it was explicitly provided in the verified claims manifest above.\n\n**How to handle violations:**\n1. If a claim has no verified source → REMOVE the attribution, keep the qualitative statement\n   (e.g. \"Research consistently shows X improves Y\" → \"X can support Y\")\n2. If an org is cited but not in manifest → REMOVE the organization name entirely\n3. If a clinical quote is fabricated → DELETE the sentence entirely\n\n## Rules\n1. Scan the Drafted Article for any factual claims, statistics, percentages, or appeals to authority (e.g., 'The APA says...', 'Practitioners see...').\n2. **ATTRIBUTION FIX:** If the AI attributed a fact to the wrong source (like inventing APA guidelines) or used vague practitioner language, you must rewrite the sentence to cite the correct source from the manifest (or remove the fake source completely if none is provided).\n3. If you find a claim/stat that is NOT explicitly approved in the Claims Manifest, you must DELETE IT from the article completely. Rewrite the surrounding sentences so the paragraph still flows perfectly.\n4. Return the fully cleaned, sanitized article.\n\n**CREATIVE BYPASS RULE:** If the Approved Claims Manifest arrays are completely empty (`[]`), this means the brief is purely creative and does not require strict fact enforcement. In this case, allow general statements to remain, but STILL delete any highly specific hallucinated statistics or fake authority quotes (like fake APA guidelines).",
        "options": {
          "maxTokens": 8000
        }
      },
      "id": "8b0fd83b-5662-4434-9300-42c454366aa6",
      "name": "QSI Claims Verification Bouncer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        531576,
        113476
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0,
          "responseFormat": "json_object"
        }
      },
      "id": "44bc8e24-ad9d-4523-aefa-21f92961d28e",
      "name": "Verified Parser Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        529824,
        113796
      ],
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Verified Claims Parser\n\nYou will receive a Fact-Check Report and the original Claims Placement Manifest.\n\nYour ONLY job is to cross-reference the two and output a clean verified manifest where:\n- Claims confirmed as VERIFIED retain their section placement and get their source URL added\n- Claims flagged as UNVERIFIABLE or REMOVE are dropped entirely\n- Each verified claim keeps its target section so the writer knows exactly where to place it\n\n## Inputs\n**Fact-Check Report:**\n{{ $('Pre-Draft Fact Checker').first().json.choices[0].message.content || $('Pre-Draft Fact Checker').first().json.text || 'No fact-check report available.' }}\n\n**Original Placement Manifest:**\n{{ JSON.stringify($('Claims Extractor & Manifest Generator').first().json.output ? $('Claims Extractor & Manifest Generator').first().json.output.placement_manifest : []) }}\n\nOutput STRICTLY in the provided JSON schema. Return ONLY raw valid JSON. No markdown code blocks. No conversational text.",
        "hasOutputParser": true
      },
      "id": "e8b80ca1-531e-447a-8700-91c314585caa",
      "name": "Verified Claims Parser",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        529752,
        113572
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"verified_placement_manifest\": [\n    {\n      \"section\": \"H2 section heading this claim belongs to\",\n      \"claim\": \"The exact verified claim text\",\n      \"verified_source_url\": \"URL from Perplexity verification\"\n    }\n  ]\n}"
      },
      "id": "verified-claims-output-parser",
      "name": "Verified Claims Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        529752,
        113372
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"placement_manifest\": [\n    {\n      \"section\": \"H2 section heading this claim belongs to\",\n      \"claim\": \"The exact claim, statistic, citation, or link text to include\",\n      \"source\": \"Brief | Website | Both\",\n      \"placement_instruction\": \"Exact instruction from the brief (e.g. cite Cleveland Clinic here, link to young adult treatment page)\"\n    }\n  ],\n  \"forbidden_patterns\": [\n    \"string\"\n  ]\n}"
      },
      "id": "claims-extractor-output-parser",
      "name": "Claims Extractor Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        529176,
        113124
      ]
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Startup Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder1": {
      "main": [
        [
          {
            "node": "Claude Draft (Claude Opus 3)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Check & Research Gaps1": {
      "main": [
        [
          {
            "node": "Post-Draft Fact Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Keyword Check + Semantic Gap1": {
      "main": [
        [
          {
            "node": "Claude Apply Recommendations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Apply Recommendations1": {
      "main": [
        [
          {
            "node": "Claude EEAT Injection1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude EEAT Injection1": {
      "main": [
        [
          {
            "node": "OpenAI SEO Optimization1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI SEO Optimization1": {
      "main": [
        [
          {
            "node": "Claude NLP & PR Optimization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude NLP & PR Optimization": {
      "main": [
        [
          {
            "node": "Claude Humanised Readability Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Final SEO Snippet Optimization": {
      "main": [
        [
          {
            "node": "Document Export Sanitization5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Export Sanitization5": {
      "main": [
        [
          {
            "node": "Structure Auditor (Pass 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Humanised Readability Rewrite": {
      "main": [
        [
          {
            "node": "Claude Final SEO Snippet Optimization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        []
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        []
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        []
      ]
    },
    "Claude Draft (Claude Opus 3)1": {
      "main": [
        [
          {
            "node": "QSI Claims Verification Bouncer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Strategist": {
      "main": [
        [
          {
            "node": "Keyword Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Validator": {
      "main": [
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document17": {
      "main": [
        [
          {
            "node": "Update a document17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document17": {
      "main": [
        [
          {
            "node": "Signal Completion (Update a document17)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Startup Update": {
      "main": [
        [
          {
            "node": "Parse Creative Brief (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Creative Brief (LLM)": {
      "main": [
        [
          {
            "node": "Pre-Draft Fact Checker",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Draft Fact Checker": {
      "main": [
        [
          {
            "node": "Keyword Strategist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Draft Fact Checker": {
      "main": [
        [
          {
            "node": "Claude Keyword Check + Semantic Gap1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Auditor (Pass 1)": {
      "main": [
        [
          {
            "node": "Structure Audit Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Audit Gate": {
      "main": [
        [
          {
            "node": "Create a document17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Surgical Rewriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Surgical Rewriter": {
      "main": [
        [
          {
            "node": "Structure Auditor (Pass 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Auditor (Pass 2)": {
      "main": [
        [
          {
            "node": "Structure Audit Gate 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Audit Gate 2": {
      "main": [
        [
          {
            "node": "Create a document17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag For Human Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag For Human Review": {
      "main": [
        []
      ]
    },
    "Client Site Researcher": {
      "main": [
        [
          {
            "node": "Client Profile Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Profile Extractor": {
      "main": [
        [
          {
            "node": "Claims Extractor & Manifest Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Revision": {
      "main": [
        [
          {
            "node": "Pre-Draft Fact Checker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Client Site Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claims Extractor & Manifest Generator": {
      "main": [
        [
          {
            "node": "Verified Claims Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QSI Claims Verification Bouncer": {
      "main": [
        [
          {
            "node": "Data Check & Research Gaps1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verified Claims Parser": {
      "main": [
        [
          {
            "node": "Keyword Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claims Extractor Model": {
      "ai_languageModel": [
        [
          {
            "node": "Claims Extractor & Manifest Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "QSI Bouncer Model": {
      "ai_languageModel": [
        [
          {
            "node": "QSI Claims Verification Bouncer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verified Parser Model": {
      "ai_languageModel": [
        [
          {
            "node": "Verified Claims Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claims Extractor Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Claims Extractor & Manifest Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Verified Claims Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Verified Claims Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a09af904c89d8bd1ffb34a0a4a29385c214bff1ce25df6d68c440d7ac472b65f"
  }
}