GBP Post Automation v2.json
{
  "name": "GBP Post Automation v2",
  "nodes": [
    {
      "parameters": {},
      "id": "bcdab1b5-c861-471f-94b0-2730e79d49df",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        -848
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xh0As6rrHv9WqCDqfgUyvJm8WCPvLf1Hks5RFf-Sf0A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xh0As6rrHv9WqCDqfgUyvJm8WCPvLf1Hks5RFf-Sf0A/edit#gid=0"
        },
        "options": {}
      },
      "id": "c66e3487-214b-46de-8fd5-4c6a59393088",
      "name": "Read Locations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -752,
        -848
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MLJNnAPCCgmc4dul",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "messages": {
          "values": [
            {
              "content": "=Write a Google Business Profile post for the following business:\n\nBusiness Name: {{ $json[\"Business Name\"] }}\nIndustry: {{ $json[\"Industry\"] }}\nCity: {{ $json[\"City\"] }},\nKey Selling Point: {{ $json[\"Key Selling Point\"] }}\nPost Topic: {{ $json[\"Post Topic\"] }}\n\nRequirements:\n- Under 100 words\n- Friendly, local, and conversational tone\n- Focus specifically on the Post Topic above\n- Include a soft call to action at the end\n- Do NOT use hashtags\n- Do NOT use emojis\n- Avoid overpromises (no “#1”, “guaranteed”, etc.)\n\nFormatting:\n- Write as 2–3 short paragraphs (1–2 sentences each)\n- Use line breaks between paragraphs\n- Start with a short hook line (max 10 words)\n\nReturn only the post text, nothing else."
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "id": "1c0207ac-0894-40d8-aa0f-c25a4548ed37",
      "name": "Generate Post with OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -16,
        -544
      ],
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "88cbb6ce-2174-4df5-a799-b680d7a8aaa6",
      "name": "Wait 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        624,
        -544
      ],
      "webhookId": "3c168212-1e56-415f-8d7e-f3e549d55d28"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xh0As6rrHv9WqCDqfgUyvJm8WCPvLf1Hks5RFf-Sf0A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 892575763,
          "mode": "list",
          "cachedResultName": "GBP Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xh0As6rrHv9WqCDqfgUyvJm8WCPvLf1Hks5RFf-Sf0A/edit#gid=892575763"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Business Name": "SEO Brand",
            "City": "Boca Raton",
            "State": "FL",
            "Post": "={{ $('Generate Post with OpenAI').item.json.choices[0].message.content }}",
            "Generated Date": "={{ $now }}",
            "Image Prompt": "={{ $('Generate Image Prompt').item.json.choices[0].message.content }}",
            "Link URL": "={{ $('Choose Best Link').item.json.choices[0].message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link URL",
              "displayName": "Link URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generated Date",
              "displayName": "Generated Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c2df87c6-98cf-4042-9add-ebbf35266e27",
      "name": "Append to Location Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        800,
        -544
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MLJNnAPCCgmc4dul",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "89ab3ee3-b6eb-4b01-b989-1f5d54940729",
      "name": "Loop Over Topics",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -480,
        -848
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a concise image-generation prompt to pair with this Google Business Profile post.\n\nBusiness: SEO Brand (digital marketing agency)\nLocation: Boca Raton, FL\nPost Topic: {{ $json.choices[0].message.content }}\n\nPost text:\n{{ $json[\"choices\"][0][\"message\"][\"content\"] }}\n\nImage requirements:\n- Square (1:1) social post image\n- Clean, modern, premium marketing agency look\n- No logos, no brand marks, no trademarks\n- No phone numbers, no URLs, no QR codes\n- No tiny text blocks; if any text is used, keep it to 3–6 words max\n- Include a clear visual concept (not abstract only)\n- Describe background, subject, style, lighting, and composition\n- Avoid using the words “SEO Brand” in the image itself\n\nReturn ONLY the image prompt text, nothing else."
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "id": "e1cfacc6-6ed6-4b66-a6ab-40dceaba820b",
      "name": "Generate Image Prompt",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        288,
        -544
      ],
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.seobrand.com/page-sitemap.xml",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        -832
      ],
      "id": "7c4bab6c-c7f2-4c8e-9fc6-c7985b9444ec",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.first().json.data;\n\n// find all <loc> URLs\nconst matches = [...xml.matchAll(/<loc>(.*?)<\\/loc>/g)];\n\nreturn matches.map(m => {\n  return {\n    json: {\n      url: m[1]\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -832
      ],
      "id": "3538e98f-699a-49a8-9bc5-13b5a847f35f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "277f495b-9f7b-43e6-96f7-dd486828b746",
              "name": "Business Name",
              "value": "SEO Brand",
              "type": "string"
            },
            {
              "id": "aaacde0b-ca1f-45d1-bf12-b840d343ea6d",
              "name": "Industry",
              "value": "Digital Marketing Agency",
              "type": "string"
            },
            {
              "id": "e33f9c51-24ff-4094-8f27-e359c29476ec",
              "name": "City",
              "value": "Boca Raton",
              "type": "string"
            },
            {
              "id": "3c8e3e1e-724f-4525-a6b6-4955ad908fa0",
              "name": "Key Selling Point",
              "value": "Results-driven SEO, PPC, web design, and digital marketing focused on qualified leads and measurable growth",
              "type": "string"
            },
            {
              "id": "2ce22899-0142-4ea8-911d-73c8e0366d90",
              "name": "=Post Topic",
              "value": "={{ $('Loop Over Topics').item.json[\"Post Topic\"] }}",
              "type": "string"
            },
            {
              "id": "70398907-61f1-4581-932c-266da176efcf",
              "name": "=Link URL",
              "value": "={{ $('Choose Best Link').item.json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -832
      ],
      "id": "8f8dbf6f-4752-4409-ba1b-17d34ae38f2c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "messages": {
          "values": [
            {
              "content": "=You are selecting the best internal SEO Brand page to link to from a Google Business Profile post.\n\nPost Topic:\n{{ $('Loop Over Topics').item.json[\"Post Topic\"] }}\n\nAvailable URLs from the website sitemap:\n{{ $json[\"url\"] }}\n\nRules:\n- Choose the single most relevant URL for the topic.\n- Prefer service pages if possible.\n- Avoid city/location pages unless the topic specifically mentions that city.\n- If multiple pages match, choose the broader service page.\n- Return ONLY the URL.\n- Do not include explanations or extra text.\n- Dont use this link https://www.seobrand.com/seo/"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "id": "2f41b696-f09f-4520-ae23-828c2100b545",
      "name": "Choose Best Link",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        336,
        -832
      ],
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "y3tVeuSKwYnV4Cyx",
          "name": "SEOBrand"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Locations": {
      "main": [
        [
          {
            "node": "Loop Over Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post with OpenAI": {
      "main": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1s": {
      "main": [
        [
          {
            "node": "Append to Location Tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Location Tab": {
      "main": [
        [
          {
            "node": "Loop Over Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Topics": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt": {
      "main": [
        [
          {
            "node": "Wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Choose Best Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose Best Link": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Generate Post with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "566c5fc0-177e-4b99-9a17-9f48ce99be8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a09af904c89d8bd1ffb34a0a4a29385c214bff1ce25df6d68c440d7ac472b65f"
  },
  "id": "Z86PfvpLY8zC98Ne",
  "tags": []
}